#referrals-index
  margin: 0 auto

  table#referrals-wrapper
    display: inline-table
    width: 100%
    max-width: 100%
  section
    margin-bottom: 2em

  header
    text-align: center
    margin: 0 auto 3em
    max-width: 48em
    h1
      margin-bottom: 0.5em
    p
      color: $orange
      font-size: 1.5em

  .referral-img
    width: 80px
    margin-right: 10px
  .referral-text
    line-height: 48px
    vertical-align: middle