#referrals-new, #referrals-create
  margin: 0 auto

  section
    max-width: 48em
    margin-bottom: 2em

  header
    text-align: center
    margin: 0 auto 3em
    max-width: 48em
    h1
      margin-bottom: 0.5em
    p
      color: $orange
      font-size: 1.5em
  h2
    text-transform: none
    font-size: 1.5em
    line-height: 1.5

  h2:first-child
    padding-bottom: 10px

  input.string
    width: 48em

  input.button
    margin-bottom: 1em
  textarea#referral_body
    width: 48em
    height: 12em
    margin-left: 0px
    font-weight: $fontWeightLight

  #note
    margin-top: 10px