.sp-container {
  background-color: #FFF!important;
  border: 1px solid lightgray!important;
}

.sp-replacer {
  color: #eee!important;
  border: solid 1px lightgray !important;
  border-radius: 5px!important;
}

.sp-preview {
  border: 1px solid lightgray !important;
  width: 79px!important;
  height: 30px!important;
}

.sp-container button {
  background-color: #27ab9e!important;
  background-image: none!important;
  color: #fff!important;
  text-shadow: none!important;
  font-size: 12px!important;
}

.sp-dd {
  color: lightgray!important;
  line-height: 28px!important;

}
