<p>Hi!</p>

<p>
  There is no credit card associated with your Hello Bar account so we could not renew your <%= @subscription.name %> Hello Bar subscription.
</p>

<p>
  Please add a credit card on your site's page: <%= link_to edit_site_url(@site), edit_site_url(@site) %>
</p>

