<div class="code-input-container">
  {{preview/custom-html/code-editor title="HTML" value=customHtml editorMode="htmlmixed"}}
</div>

<div class="code-input-container">
  {{preview/custom-html/code-editor title="CSS" value=customCss editorMode="css"}}
</div>

<div class="code-input-container">
  {{preview/custom-html/code-editor title="JS" value=customJs editorMode="javascript"}}
</div>

