<div id="" class="tab-content">
  <label>Background Color</label>
  {{selection/color-select color=model.background_color siteColors=siteColors recentColors=recentColors focusedColor=focusedColor eyeDropperSelected='eyeDropperSelected'}}

  <label>Button</label>
  {{selection/color-select color=model.button_color siteColors=siteColors recentColors=recentColors focusedColor=focusedColor}}

  {{#if elementTypeIsAlert}}
    <label>Alert Color</label>
    {{selection/color-select color=model.circle_color siteColors=siteColors recentColors=recentColors focusedColor=focusedColor}}
  {{/if}}

  <br/>
</div>
