.conditions
  margin: 15px 0
  padding: 10px

.actions
  a
    color: #fff
    font-size: 1.6em
    margin-left: 5px
    padding: 5px

    &.add
      background-color: rgb(66, 166, 204)
    &.remove
      background-color: rgb(186, 186, 186)

.rule-modal
  .condition
    margin: 10px 0
  select.form-control, input.form-control
    margin-right: 10px
    width: 160px
