#hellobar-preview-container
  width: 100%

  &.hellobar-preview-container-mobile
    width: 320px
    margin: 0 auto

  #preview-image-loading
    text-align: center
    position: fixed

  #hellobar_container
    position: relative

  #hellobar_pusher
    display: none

  img
    position: relative
    top: -14px
