<header>
  <h1>Grow Your Mailing List</h1>
</header>

What should your Hello Bar say? 
{{!-- Join our mailing list to stay up to date on our upcoming events. --}}

What should the button say?
{{!-- Subscribe --}}

You can always change this later. <a>Need help?</a> 