<header>
  <h1>Get Facebook Likes</h1>
</header>

What should your Hello Bar say? 
{{!-- Like us on Facebook! --}}

What URL do you want users to Like on Facebook?
{{!-- www.example.com --}}

You can always change this later. <a>Need help?</a> 