<header>
  <h1>Promote a Sale</h1>
</header>

What should your Hello Bar say?
{{!-- Check out our latest sale --}}

What should the button sale?
{{!-- Shop now --}}

What URL should users go to when they click your button?
{{!-- www.example.com/seasonal-promotion --}}

You can always change this later. <a>Need help?</a> 