<label>Message to tweet</label>
{{input value=model.settings.message_to_tweet placeholder="Check out this great site!"}}

<label>
  {{common/checkboxes/toggle-switch switch=model.settings.use_location_for_url}}
  Tweet the URL my visitor is on
</label>

<label class="{{if model.settings.use_location_for_url 'disabled'}}">URL to tweet</label>
{{input value=model.settings.url_to_tweet placeholder="example.com" disabled=model.settings.use_location_for_url}}
