{{#common/panels/collapse-panel title="Page Takeover Styling"}}
  <div class="panel-input">
    <div class="panel-input__label">Color</div>
    <div class="panel-input__input">
      {{common/inputs/font-color color=model.background_color}}
    </div>
  </div>

  <div class="panel-input">
    <div class="panel-input__label">Default text color</div>
    <div class="panel-input__input">
      {{common/inputs/font-color color=model.text_color}}
    </div>
  </div>
{{/common/panels/collapse-panel}}
