/*-----------  Editor Error Modal  -----------*/

.account-prompt-modal
  
  .thirds-wrapper
    display: table
    margin-bottom: -1em
    border-spacing: 0.5em
  
    .thirds
      width: 33%
      padding-bottom: 0
      display: table-cell

      input, 
      .select-wrapper
        width: 100%

.alternate-account-prompt-modal
  .tz-select
    display: none

  input[type="submit"]:disabled
    background-color: $gray

  a
    color: $blue

  header.orange_header
    background-color: $orange

    h5
      color: $white

  header.no_orange_header
    background-color: $white

    h5
      color: $orange
