/*-----------  Contact List Modal  -----------*/

.contact-list-modal
  @include clearfix()
  
  .name-and-provider-block,
  .provider-instructions-block,
  .provider-instructions-nevermind-block,
  .sync-details-block,
  .hellobar-only
    width: 48%

  .name-and-provider-block
    float: left

    form > label:first-child
      margin-top: 0

  .provider-instructions-block,
  .provider-instructions-nevermind-block,
  .sync-details-block,
  .hellobar-only
    float: right
    display: none
    position: relative

  .provider-instructions-block::after
    top: 0
    left: 0
    opacity: 0
    color: $red
    width: 100%
    height: 100%
    padding: 5em
    position: absolute
    text-align: center
    pointer-events: none
    content: "Please Wait..."
    background-color: rgba($white, 0.7)

  .select-wrapper
    margin: 0

  ul, ol
    font-size: 0.9em
    margin-left: 1em
    padding-left: 1em

    li
      font-style: italic
      list-style-type: disc

  ul
  
    li
      color: $orange

  ol
  
    li
      margin-bottom: 0.5em
