.static-credit-card
  .line-height-90
    line-height: 90%
  .margin-top-40
    margin-top: 40px
  .col-custom
    width: 60%
    margin: auto
    margin-bottom: auto
    padding: 2.75em
    position: relative
    border-radius: 5px
    background-color: white
    .button
      background: #e8562a
      border-color: #e8562a
      margin-top: 30px
      padding-top: 0.67em
      padding-bottom: 0.67em
      height: 50px
      width: 50%!important
      padding-top: 12px
      margin-bottom: 10px
    ul
      margin-left: 20px
      li
        list-style: none
        img
          height: 15px
          width: 15px
          margin: 4px
          margin-right: 10px

  .different-plan
    color: #27AB9E!important
  .note
    background: #f9f9f9
    padding: 20px 20px 5px 20px
  .select-wrapper select
    height: 35px
    border-radius: 5px
  .button
    width: 60%!important
    height: 50px
  .select-wrapper
    padding-bottom: 10px
  label
    color: #a5a5a5
    font-weight: 600
    font-size: 0.8em
  .cc-number
    width: 59%
    float: left
    margin-right: 5px
    margin-bottom: 10px

  .cc-expiry
    width: 25%
    float: left
    margin-right: 5px
    margin-bottom: 10px

  .cc-csv
    width: 13%
    float: left
    margin-bottom: 10px

  .cc-city
    width: 59%
    float: left
    margin-right: 5px
    margin-bottom: 10px

  .cc-state
    width: 13%
    float: left
    margin-right: 5px
    margin-bottom: 10px

  .cc-zip
    width: 25%
    float: left
    margin-bottom: 10px

