/*-----------  Editor Error Modal  -----------*/

.editor-errors-modal

  footer

    .cancel
      background-color: $green !important

  ul
    font-size: 0.9em
    margin-left: 1em
    padding-left: 1em

    li
      color: $orange
      font-style: italic
      list-style-type: disc

å