/*-----------  GDPR Prompt  -----------*/

.gdpr-prompt-modal
  .modal-block
    width: 500px

  h3
    font-size: 1.5em

  .buttons
    display: flex
    justify-content: center

  hr
    border: none
    border-bottom: $border
    margin: $gutterSm -0.75em $gutter
