/*-----------  New Stripe Modal  -----------*/

.new-stripe-modal
  footer
    .button.submit
      @extend %green-button

  .modal-block > header
    margin: 0
    padding-bottom: 10px
    border: none

  .footer
    padding-top: 10px

  .modal-title
    font-size: 20px
    @include antialiased()

