/*-----------  Payment Modal  -----------*/

.payment-account-modal

  footer
    .button.submit
      @extend %green-button
  .modal-block > footer
    margin-top: 0
    border-top: none

  .payment-modal
    text-align: center
    margin-left: -2.33em
    margin-right: -2.33em

    .site-title
      font-size: 1.33em
      margin-bottom: 1em
      @include antialiased()

      &.downgrade-free
        margin: 3em 0 2.5em 0

    .payment-wrapper
      @include clearfix()

      /*-----------  Payment Sidebar  -----------*/

      .payment-sidebar
        width: 34%
        float: left

        header
          color: $white
          padding: 1.25em
          font-size: 1.1em
          font-weight: $fontWeightBold
          text-transform: capitalize

          small
            display: block
            font-size: 0.75em
            font-weight: normal


        p
          color: $gray
          text-align: left
          padding: 1em 0 0
          margin: 1.5em 0 0
          font-size: 0.75em
          border-top: 1px solid $grayLighter

        .package-cycle
          margin-bottom: 0.5em
          border-style: solid
          border-width: 0 1px 1px 1px
          border-color: $grayLighter
          padding: 0.1em 1.25em 1.25em 1.25em

          input
            display: none


          label
            font-size: 0.95em
            text-align: left
            position: relative
            padding-left: 2.5em
            padding-top: 1.5em
            @include antialiased(false)

            small
              color: $gray
              display: block
              @include antialiased()

              strong
                color: $red
                display: block

            &:before
              top: 2px
              left: 2px
              width: 15px
              height: 15px
              content: ''
              margin-top: 1.5em
              position: absolute
              border-radius: 10em
              border: 1px solid $grayLighter
              box-shadow: inset 0 0 0 2px $white
              transition: all 0.15s ease-out 0s

        > a
          font-size: 0.9em
          color: #e8562a
          display: block




      /*-----------  Payment Form  -----------*/



      .credit_card_form
        width: 62%
        float: right
        text-align: center
        border: 1px solid $grayLighter


        header
          color: $gray
          font-size: 1.25em
          text-align: left
          height: 60px
          line-height: 195%
          padding: 1.2rem 1rem
          color: #6f6f6f
          background-color: #f6f6f6
          font-family: Geomanist
          font-size: 18px
          font-weight: normal
          font-style: normal
          font-stretch: normal
          line-height: normal
          letter-spacing: normal

        .credit-card, .site-select
          padding: 5px

          #add-new-credit-card
            color:  #27ab9e
            font-weight: bold

        label
          font-size: 0.9em !important
          margin: 1.15em 0 0.4em

        input,
        select
          margin-top: 0 !important
          font-size: 0.85em !important


      .card_form
        margin-top: 15px
        width: 62%
        float: right
        text-align: left
        border: solid 1px #ebebeb
        padding: 23px
        display: inline-flex
        align-items: center

        p
          padding-top: 7px
          font-size: 14px
          width: 450px
          height: 89px
          border-radius: 4px
          background-color: #ffffff
          background-color: var(--white)


      /*----------- Free -----------*/

      &.free

        .payment-sidebar

          header
            background-color: $grayLighter

      /*-----------  Pro  -----------*/

      &.pro_managed
        .payment-sidebar
          header
            background-color: $purple

          input:checked + label:before
            border-color: $purple
            background-color: $purple

          > a
            color: $purple

            &:hover
              color: lighten($purple, 5%)

      &.pro, &.pro_special, &.pro_comped, &.growth
        .payment-sidebar
          header
            background-color: #27ab9e

          input:checked + label:before
            border-color: #27ab9e
            background-color: #27ab9e

          > a
            color: #e8562a

            &:hover
              color: lighten(#e8562a, 5%)



      /*-----------  Elite  -----------*/

      &.elite

        .payment-sidebar

          header
            background-color: #27ab9e

          input:checked + label:before
            border-color: #27ab9e
            background-color: #27ab9e

          > a
            color: #e8562a

            &:hover
              color: lighten(#e8562a, 5%)

        .button
          @extend %blue-button
