/*-----------  Rule Modal  -----------*/

.rules-modal

  > p

    input[type='number'],
    .select-wrapper select
      width: 5.5em !important

  > label
    width: 9%
    margin: 0
    color: $gray
    font-size: 1em
    @include inline-block()

  > input
    width: 91% !important
    display: inline-block !important

  .select-wrapper

    &:before
      bottom: 0
      line-height: 260%

    select
      margin: 0

  /*-----------  Conditions Wrapper  -----------*/

  .conditions-wrapper
    padding: 1px 0
    margin: 0 -2.5em 0.67em
    border-radius: $radiusSm
    background-color: $grayLightest

    .condition-block
      font-size: 95%
      margin: 1em 1.25em

      .condition-hint
        color: #e8562a
        font-weight: 700
        margin-bottom: 8px

      .condition-ruleset
        width: 88%
        @include inline-block(top)

        input,
        .select-wrapper
          margin-top: 0 !important
          margin-bottom: 0 !important

        .select-wrapper

          &:before
            right: 0.67rem
            font-size: 0.67rem

          select
            padding-right: 1.67rem

        .custom-segment-text
          display: inline-block
          margin-right: 0.5em

        .custom-segment-name
          width: 14em

          input
            width: 6em

        .rule_conditions_data_type
          margin: 0
          width: 17em
          display: block
          background-color: initial

          select
            width: 10em

        .rule_conditions_segment,
        .rule_conditions_operand
          margin-right: 2%
          @include inline-block()

        /*-----------  Condition Type  -----------*/

        .rule_conditions_segment
          width: 25%

          select
            text-transform: capitalize

        /*-----------  Condition Operand  -----------*/

        .rule_conditions_operand
          width: 21%

        /*-----------  Condition Choices  -----------*/

        .choice-wrapper
          span
            margin: 0 5px

        .rule_conditions_choices
          width: 50%
          text-align: left
          @include inline-block(top)

          .select-wrapper
            width: 67%
            margin-left: 0 !important

            &.time-select
              display: inline-block
              width: 16%

              &.timezone
                width: 63%

          input

            &.between
              width: 41.75%
              @include transition(margin-left 0)

            &:not(.between)
              width: 100%

            &.small
              width: 41.75%

            &[type="date"]
              padding-bottom: 0.33em
              display: -webkit-inline-flex

              &::-webkit-calendar-picker-indicator
                float: right
                margin-top: 2%
                @include inline-block()

              &::-webkit-clear-button,
              &::-webkit-inner-spin-button
                margin: 0
                -webkit-appearance: none

          input.between:not([disabled]) ~ input.between:not([disabled])
            margin-left: 4%

          .and-interjection
            color: $gray
            margin-left: 4%
            font-size: 0.85em

          .multiple-input-wrapper
            position: relative
            margin-top: 0.15em

            span
              top: 0
              left: -2em
              color: $grayLight
              font-size: 0.9em
              line-height: 250%
              position: absolute

            input
              padding-right: 3.5em

            .multiple-choice-actions
              top: 0
              right: 0.67em
              position: absolute

              a
                color: $grayLight
                font-size: 1.15em
                font-weight: $fontWeightBold
                line-height: 200%

              .choice-add:hover
                color: $green

              .choice-remove
                top: -1px
                position: relative
                margin-right: 0.33em

                &:hover
                  color: $red

            &:first-child
              margin-top: 0

              span,
              .choice-remove
                display: none

      /*-----------  Condition Actions  -----------*/

      .condition-actions
        width: 12%
        text-align: right
        @include inline-block(top)

        a
          width: 1.45em
          color: $white
          font-size: 1.5em
          text-align: center
          line-height: 1.45em
          margin-left: 0.25em
          border-radius: $radiusSm
          @include inline-block()

          &.condition-remove
            background-color: $grayLight

            &:hover
              background-color: darken($grayLight, 15%)

          &.condition-add
            background-color: $blue

            &:hover
              background-color: darken($blue, 15%)
