/*-----------  Rule Modal  -----------*/

.rules-modal

  > p

    input[type='number'],
    .select-wrapper select
      width: 5.5em !important

  > label
    width: 9%
    margin: 0
    color: $gray
    font-size: 1em
    @include inline-block()

  > input
    width: 91% !important
    display: inline-block !important

  /*-----------  Conditions Wrapper  -----------*/
  
  .conditions-wrapper
    padding: 1px 0
    margin-bottom: 0.67em
    border-radius: $radiusSm
    background-color: $grayLightest

    .condition-block
      margin: 1em 1.25em

      .condition-ruleset
        width: 85%
        @include inline-block()

        input,
        .select-wrapper
          margin-top: 0 !important
          margin-bottom: 0 !important

        .rule_conditions_segment,
        .rule_conditions_operand
          margin-right: 2%
          @include inline-block()

        .rule_conditions_segment
          width: 22%

          select
            text-transform: capitalize

        .rule_conditions_operand
          width: 22%

        .rule_conditions_choices
          width: 52%
          text-align: left
          @include inline-block()

          .select-wrapper
            width: 67%
            margin-left: 0 !important

          input
            margin-top: -1px !important

            &.between
              width: 40%
              margin-top: 1px !important
              padding-top: 0.375em
              padding-bottom: 0.375em
              @include transition(margin-left 0)

            &:not(.between)
              width: 96% !important

          input.between:not([disabled]) ~ input.between:not([disabled])
            margin-left: 4%

          .and-interjection
            color: $gray
            margin-left: 4%
            font-size: 0.85em

      .condition-actions
        width: 15%
        text-align: right
        @include inline-block()

        a
          width: 1.67em
          color: $white
          font-size: 1.5em
          text-align: center
          line-height: 1.67em
          margin-left: 0.25em
          border-radius: $radiusSm
          @include inline-block()

          &.condition-remove
            background-color: $grayLight

            &:hover
              background-color: darken($grayLight, 15%)

          &.condition-add
            background-color: $blue

            &:hover
              background-color: darken($blue, 15%)
