/*-----------  Upgrade Modal  -----------*/

.upgrade-account-modal


  .switch
    padding-top: 10px
    position: relative
    display: inline-block
    width: 40px
    height: 22px

    input
      display: none
    .slider
      border: 1px solid #E0E0E0
      position: absolute
      cursor: pointer
      top: 8px
      left: 0
      right: 0
      bottom: -8px
      background-color: #ffffff
      -webkit-transition: .2s
      transition: .2s
      &:before
        position: absolute
        content: ""
        height: 19px
        width: 19px
        left: 1px
        bottom: 1px
        background-color: #27ab9e
        -webkit-transition: .4s
        transition: .4s

    input
      &:checked + .slider
        background-color: $white
      &:focus + .slider
        box-shadow: 0 0 1px $white
      &:checked + .slider:before
        -webkit-transform: translateX(18px)
        -ms-transform: translateX(18px)
        transform: translateX(18px)

    /* Rounded sliders

    .slider.round

      border-radius: 20px
      &:before
        border-radius: 50%

  .thborder
    border: 1px solid #E0E0E0

  .trborder
    margin-top: 30px
    padding-left: 18px
    text-align: center
    border: none

  .check
    color: #27ab9e
    font-size: 15px

  .h40
     height: 40px

  .cross
    color: #d0021b
    font-size: 15px

  .bold
    font-weight: bolder
    font-size: 25px

  .sm
    padding-right: 30px
    font-size: 12px

  thead
    div.sm
      .package-pricing
        .monthly
          display: block

        .yearly
          display: none

        &.yearly
          .monthly
            display: none

          .yearly
            display: block


  .prime
    background-color: #27ab9e
    font-size: 14px
    text-align: center
    color: #ffffff

  .back
    background-color: #dfeceb

  .fl
    padding-left: 30px
    float: left
    font-size: 12px
    color: #e8562a

  th
    padding-left: 10px
    padding-top: 10.5px
    padding-bottom: 10.5px
    text-align: left

    div
      color: #636363
      font-size: 25px
      text-align: center

  td
    border: 1px solid #E0E0E0
    font-size: 15px
    padding-left: 10px
    padding-top: 10.5px
    padding-bottom: 10.5px
    color: #636363
    text-align: center

  .modal-block
    height: 45.5em
    padding-bottom: 0.1px
    padding-left: 1.75em
    padding-right: 1.75em

  .site-title
    padding-bottom: 2emgit
    text-align: center
    font-size: 1.33em
    @include antialiased()

  .billing-options
    text-align: center
    width: 30.5em
    margin: 1.5em auto
    position: relative

    img
     max-width: 100%
     height: auto
     border: none
     margin-left: auto
     margin-right: auto
     vertical-align: bottom
     padding-bottom: 2em

    input
      display: none


    input:checked + label
      color: $white !important
      cursor: default
      border-radius: 14px
      background-color: #27ab9e

    &:after
      top: 0.7em
      right: 5em
      width: 89px
      height: 53px
      transform: rotate(-15deg)
      color: #636363
      font-size: 13px
      line-height: 115%
      position: absolute
      content: 'Get 2 months for free'
      padding-top: 0.67em
      padding-bottom: 0.67em
      border-radius: 4px
      text-transform: uppercase
      background-color: rgba(248, 231, 28, 0.35)

  /*-----------  Packages  -----------*/

  .package-block
    margin-bottom: 0.5em
    justify-content: flex-start
    align-content: center
    align-items: stretch
    flex-flow: row nowrap
    display: flex

    > *

      padding-left: 25px

    .package-title

      .package-name

      .package-price

        &.monthly
          display: block

        &.yearly
          display: none

      &.yearly

        .package-price.monthly
          display: none

        .package-price.yearly
          display: block

    .package-features
      justify-content: center
      align-content: center
      align-items: center
      flex-flow: row nowrap
      display: flex

      ul
        margin: -1em 0
        color: $grayLight
        padding-left: 3em

        li
          width: 50%
          color: $gray
          padding: 0.85em
          text-align: left
          font-size: 12.8px
          line-height: 1.88
          padding-top: 0px
          padding-bottom: 0px
          position: relative
          @include inline-block()

          &:before
            top: 45%
            left: -13px
            width: 3px
            height: 3px
            content: ''
            position: absolute
            border-radius: 10em
            background-color: $grayLight

        li.placeholder-list-item
          color: transparent
          list-style: none

          &:before
            background-color: transparent

      .package-status
        text-align: center
        padding-right: 1em
        position: relative
        flex: 1 0 25%

        p
          color: $gray
          font-size: 0.75em
          line-height: 145%
          margin: 0 0.5em 0.75em

        .button
          display: block
          font-size: 0.85em !important
          @include antialiased(false)

          &[disabled]
            color: $gray
            cursor: default
            background-color: transparent
            border: 2px solid $grayLightest

          &[disabled].disabled-promo
            color: $gray
            cursor: default
            background-color: $white
            border: 1px solid $blue
            border-radius: 0

        .email-links
          display: none
          font-size: 0.85em !important
          background-color: $blue
          padding: 5px

          a
            color: $white
            word-wrap: break-word

      /*-----------  Basic Package  -----------*/

    &.basic

      .package-title


    /*-----------  Pro Package  -----------*/

    &.pro


      .package-title


      .package-features

        ul
          padding-bottom: 10px

          li
            padding-top: 5px
            padding-bottom: 5px

            .info
              position: relative
              top: 6px

            .info-plus
              position: relative
              top: 11px

            i
              top: 18%
              left: -1em
              color: $green
              font-size: 1.67em
              position: absolute

            &:before
              display: none

          li.thin
            padding-bottom: 0px

          li.adjusted-down
            margin-top: 10px

    /*-----------  Elite Package  -----------*/

    &.elite

      .package-title


      .button
        @extend %red-button

  /*-----------  AB TEST: Company Logos  -----------*/

  .with-logos

    .billing-options:after
      top: -2em
      right: -2.5em
      width: 4em
      height: 4em
      padding-top: 0.9em
      background-color: $orange
      border: 1px solid $white
      box-shadow: 0 0 7px $orange

    .package-block

      .package-title,
      .package-features


      &.pro

        .package-title


        .package-features


          .pro-logos


            h6


            img


          .flex-container
            padding-top: $gutterSm
            justify-content: center
            align-content: center
            align-items: center
            flex-flow: row nowrap
            display: flex

            ul li
              padding-right: 3em
              vertical-align: top

              i.icon-target
                top: 10%
