.exit-intent-modal,
.upgrade-suggest-modal

  .modal-block
    width: 500px
    padding: 19px
    color: #666666

    .title
      margin-top: 17px
      margin-bottom: 15px
      font-size: 20px
      text-align: center
      font-weight: $fontWeightBold

    .header-footer-block
      height: 249px
      border-radius: 3px
      border: solid 1px #e2e2e2

      .header
        background-color: #f6f6f6
        height: 70px
        padding: 13px 0px
        text-align: center
        font-size: 14px
        font-weight: $fontWeightLight
        line-height: 1.57

      .footer
        text-align: center
        padding-top: 15px

        ul
          display: inline-block
          list-style-type: circle
          width: 356px
          padding: 8px
          height: 105px

          li
            font-size: 12px
            font-weight: $fontWeightLight
            line-height: 1.67
            text-align: left

            .bullet
              display: inline-block
              padding-right: 20px
              width: 25px

.upgrade-suggest-modal
  .modal-block
    .header-footer-block
      .header
        height: 60px
        padding: 19px 0
        line-height: 1.6

      .footer
        .button
          font-weight: bold
