/*-----------  Welcome Back Modal  -----------*/

.welcome-back-modal
  text-align: center

  .avatar-block
    margin: 20px 0

    .user-email
      margin-top: 15px

  .not-you
    margin-bottom: 15px

    a
      color: $red

  .modal-block
    width: 35em
