/*-----------  Static Pages  -----------*/

[id^="pages-"],
[id^="registrations-"],
[id^="sessions-"],
[id^="passwords-"],
[id^="user-"],
[id^="forgot_emails-"]
  min-height: 100%
  text-align: center
  padding: 5em 5em 7em

  .logo-block
    width: 15em
    height: 3.33em
    margin-left: auto
    margin-right: auto
    margin-bottom: 4em
    background-size: auto 100%
    background-repeat: no-repeat
    background-position: center center
    background-image: image-url('hellobar-logonew.png')

    a
      opacity: 0
      width: 100%
      height: 100%
      display: block

  h1
    line-height: 125%
    margin: 1.75em auto 0.5em

  h2
    color: $black
    text-transform: none
    @include antialiased()

    small
      color: $gray
      font-size: 0.67em

  p
    font-size: 1.15em
    margin-left: auto
    margin-right: auto

  ol, ul
    text-align: left

    li
      margin-top: 1em
      line-height: 155%

    strong
      color: $black
      margin-bottom: 0.5em

  /*-----------  Marketing  -----------*/

  img
    &.use-case
      margin: 2em

  .marketing-wrapper
    margin: 3em 0 1.5em
    justify-content: space-between
    align-content: stretch
    align-items: stretch
    flex-flow: row wrap
    display: flex

    .marketing-block
      width: 47.5%
      margin: 2em 0 1em

      img
        width: 100%
        height: auto
        padding: 2.5em
        border-radius: $radiusSm
        border: 1px solid $grayLighter

      img.no-padding
        padding: 0

      h5
        margin: 0.5em 0 0.5em
        font-size: 1.5em
        text-transform: none
        @include antialiased()

      p
        width: 100%
        font-size: 1em
