#contact_submissions-new
  background-color: $red
  height: 100%

  .flash-block
    margin-top: 5px

  .logo-block
    display: none

  .hidden
    display: none

  .header
    width: 100%
    padding: 50px 20px 20px 20px
    text-align: center

    .logo_container
      display: inline-block

    img
      height: 60px

  h5
    color: white

  .contact-wrapper
    width: 100%
    text-align: center
    padding: 30px 50px 20px 50px

    .contact-form
      background-color: white
      padding: 2em
      display: inline-block
      width: 40%

      a
        color: $orange

      .title
        color: $grayDark
        font-weight: 500
        margin-bottom: 5px

      p
        font-size: 90%

      textarea, input
        font-weight: 500
