#error_page

  .header
    background-color: #E8562A
    width: 100%
    padding: 20px
    text-align: center
    font-weight: $fontWeightBold

    .logo_container
      display: inline-block

    img
      height: 60px

  .title
    width: 100%
    text-align: center
    padding: 50px
    font-weight: $fontWeightBold

  .footer
    width: 100%
    text-align: center

    a
      background-color: #E8562A
      text-decoration: none
      color: white
      padding: 13px
