/*-----------  Privacy Policy  -----------*/

#pages-privacy_policy
  
  .bounds-wrapper
    padding-left: 7.5%
    padding-right: 7.5%

  li
    font-weight: $fontWeightLight

  ol
    list-style: upper-roman

    ol
      margin-top: 0.5em
      margin-left: 1.5em
      list-style: upper-alpha

    address
      margin-top: 2em
      margin-bottom: -2em

