/*-----------  Login / Sessions  -----------*/

#sessions-new,
#sessions-create
  background-color: $grayLightest
 
  h1
    margin-top: -0.1em

  form
    width: 40%
    margin: auto
    padding: 2.75em
    border-radius: $radiusLg
    background-color: $white
  
    input
      font-size: 1em
      margin-bottom: 0
      border-radius: $radiusLg

    label 
      font-size: 1em
      margin: 0.75em 0
      text-align: left

    .button
      width: 100%
      @extend %red-button
      @include antialiased(false)

    .devise-links
      text-align: left
      margin: 0.67em 0 0

      a
        color: $gray
        font-size: 0.8em

        &:hover
          color: $grayDark

