/*--------- Use Cases -----------*/

#pages-use_cases
  *
    //font-family: proxima-nova, sans-serif
    letter-spacing: normal

  h1.headline
    font-size: 2em

  h1.subheadline
    font-size: 1.5em

  p
    font-weight: 400

  .quickstart-wrapper
    padding-top: 1em
