<h1>Email Campaigns</h1>

<table>
<tr>
  <th>ID</th>
  <th>Name</th>
  <th>Subject</th>
  <th>Status</th>
</tr>

<% @email_campaigns.each do |email_campaign| %>
<tr>
  <td><%= email_campaign.id %></td>
  <td><%= email_campaign.name %></td>
  <td><%= email_campaign.subject %></td>
  <td><%= email_campaign.status %></td>
</tr>
<% end %>

</table>
