---
http_interactions:
- request:
    method: get
    uri: https://api.getdrip.com/v2/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer 23806fd70f5754561fac6da7db94b49be4009147df80e01039a43b93d852a71c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"c58ddaf7f38ca6431b8e4dae7d9581de"
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3596'
    body:
      encoding: UTF-8
      string: '{"links":{"accounts.broadcasts":"http://api.getdrip.com/v2/{accounts.id}/broadcasts","accounts.campaigns":"http://api.getdrip.com/v2/{accounts.id}/campaigns","accounts.goals":"http://api.getdrip.com/v2/{accounts.id}/goals"},"accounts":[{"id":"4773344","href":"https://api.getdrip.com/v2/accounts/4773344","name":"www.nutritionsecrets.com","url":"www.nutritionsecrets.com","default_from_name":"mike@mikekamo.com","default_from_email":"mike@mikekamo.com","default_postal_address":null,"primary_email":"mike@mikekamo.com","enable_third_party_cookies":false,"phone_number":"","created_at":"2017-01-04T16:58:58Z"}]}'
  recorded_at: Sun, 08 Jan 2017 15:37:20 GMT
recorded_with: VCR 2.9.0
