---
http_interactions:
- request:
    method: post
    uri: https://api.getdrip.com/v2/4773344/subscribers
    body:
      encoding: UTF-8
      string: '{"subscribers":[{"new_email":"raj.kumar+6@crossover.com","custom_fields":{"name":"Test
        Mname User","fname":"Test","lname":"Mname User"},"email":"raj.kumar+6@crossover.com"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer 23806fd70f5754561fac6da7db94b49be4009147df80e01039a43b93d852a71c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"21ebf3b780d1bdfcabe6167eabbf1bb3"
      Location:
      - https://api.getdrip.com/v2/4773344/subscribers/myv2pg76mke83mqzqdeu
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3599'
    body:
      encoding: UTF-8
      string: '{"links":{"subscribers.account":"https://api.getdrip.com/v2/accounts/{subscribers.account}"},"subscribers":[{"id":"myv2pg76mke83mqzqdeu","href":"https://api.getdrip.com/v2/4773344/subscribers/myv2pg76mke83mqzqdeu","status":"active","email":"raj.kumar+6@crossover.com","time_zone":null,"utc_offset":0,"visitor_uuid":null,"custom_fields":{"fname":"Test","lname":"Mname
        User","name":"Test Mname User"},"tags":[],"created_at":"2017-01-08T17:05:47Z","ip_address":null,"user_agent":null,"lifetime_value":null,"original_referrer":null,"landing_url":null,"prospect":null,"base_lead_score":null,"lead_score":null,"user_id":null,"links":{"account":"4773344"}}]}'
  recorded_at: Sun, 08 Jan 2017 17:05:47 GMT
recorded_with: VCR 2.9.0
