/*-----------  Edit Site  -----------*/

#sites-edit,
#sites-update

  form.edit_site

    .url-wrapper,
    .select-wrapper,
    .selector-wrapper,
    .button-wrapper
      width: 30%
      @include inline-block()

      label
        margin-top: 0

    .url-wrapper,
    .selector-wrapper
      margin-right: 2.5%

      label:last-child
        font-size: 0.85em

  .button-wrapper
    vertical-align: super !important

    a
      color: $blue
      display: block
      font-size: 0.85em
      text-decoration: underline

  .button-wrapper.promo-label
    border: 1px solid $blue
    padding: 10px

  .button-wrapper.promo-button
    a
      background-color: $blue
      color: $white
      padding: 10px
      text-decoration: none
      width: auto
      white-space: nowrap
      font-size: 15px


  /*-----------  Billing Section  -----------*/

  .billing-wrapper
    margin-top: 3.5em

    .block
      width: 50%
      display: inline-block
      vertical-align: top

      &.small
        width: 40%

      .header
        margin: 0 0 0.6em
        color: $red
        font-size: inherit
        text-align: center
        font-weight: 600
        padding-top: 0

      .footer
        text-align: center
        height: 0

        .button
          margin-top: 4em

      .upgrade-table
        li
          color: $gray
          width: 50%
          padding: 0.85em 1.5em
          text-align: left
          font-size: 0.85em
          position: relative
          letter-spacing: 0.033em
          display: inline-block
          vertical-align: top

        i
          left: -10px
          position: absolute
          font-size: 1.2em
          color: $green

    .upgrade-account-modal
      padding-top: 0.5em
      padding-bottom: 0.5em
      text-decoration: none
      @extend %red-button

    section
      margin-bottom: 2em

      label
        width: 9%
        float: left
        margin-top: 0
        line-height: 135%

      > p
        color: $gray
        padding-left: 10%

        a:not(.button)
          color: $blue
          margin-left: 0.67em
          text-decoration: underline

        .button
          font-size: 0.85em
          margin-left: 0.5em

      table
        clear: both
        width: 62.5%
        margin-left: 0
        margin-bottom: 0.5em

        th, td
          padding: 0.85em 1em

        tbody tr:nth-child(even)
          background-color: $grayLightest

      small
        font-size: 0.9em
        color: $grayLight
        @include antialiased()
