/*-----------  Team Settings  -----------*/

#sites-team

  .permission-icon
    width: 1.45em
    height: 1.45em
    border-radius: 0.75em
    display: inline-block
    margin-right: 1em

    &.owner
      background-color: $red

    &.admin
      background-color: $yellow

    &.none
      background-color: $gray

  .dropdown-block

    .permission-icon
      width: 0.95em
      height: 0.95em
      border-radius: 0.5em
