.wordpress-bar-wrapper
  clear: both

  .wordpress-bar
    span.message
      padding: 1em
      display: block

    .button
      float: right
      height: 100%
      background-color: #31302d
      color: #fff
      border: none
      padding: 0.3em 1em
      margin: 0.7em 1em

  span.bar-url
    float: right
    font-size: 0.8em
    color: #999

.unassigned-wordpress-bars
  padding: 1em
  display: none

.drop-area-wrapper
  text-align: center
  padding: 1em
  border: 1px solid #ccc
  margin-bottom: 0.6em

  h4
    margin-bottom: 0.6em

  .drop-area
    padding: 1em
    border: 1px solid #ccc

form.user-migration-multiple-bars
  button, a.add-site
    display: none
