---
http_interactions:
- request:
    method: get
    uri: http://app.icontact.com/icp/loadsignup.php/form.js?c=1450422&f=564&l=7290
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript;charset=utf-8
      X-Cnection:
      - close
    body:
      encoding: UTF-8
      string: "document.write(\"<style>\\n.link,\\n.link a,\\n.signupframe\\n{\\n\tcolor:
        #226699;\\n\tfont-family: Arial, Helvetica, sans-serif;\\n\tfont-size: 13px;\\n\t}\\n\t.link,\\n\t.link
        a {\\n\t\ttext-decoration: none;\\n\t\t}\\n\t.signupframe {\\n\t\tborder:
        1px solid #000000;\\n\t\tbackground: #ffffff;\\n\t\t}\\n.signupframe .required
        {\\n\tfont-size: 10px;\\n\t}\\n<\\/style>\\n<form method=\\\"post\\\" action=\\\"http://app.icontact.com/icp/signup.php\\\"
        name=\\\"icpsignup\\\" id=\\\"icpsignup564\\\" accept-charset=\\\"UTF-8\\\"
        onsubmit=\\\"return verifyRequired564();\\\" >\\n<input type=\\\"hidden\\\"
        name=\\\"redirect\\\" value=\\\"http://www.hellobar.com/emailsignup/icontact/success\\\">\\n<input
        type=\\\"hidden\\\" name=\\\"errorredirect\\\" value=\\\"http://www.hellobar.com/emailsignup/icontact/error\\\">\\n\\n<div
        id=\\\"SignUp\\\">\\n<table width=\\\"260\\\" class=\\\"signupframe\\\" border=\\\"0\\\"
        cellspacing=\\\"0\\\" cellpadding=\\\"5\\\">\\n\t<tr>\\n      <td valign=\\\"top\\\"
        align=\\\"right\\\">\\n        <span class=\\\"required\\\">*<\\/span>&nbsp;Email\\n
        \     <\\/td>\\n      <td align=\\\"left\\\">\\n        <input type=\\\"text\\\"
        name=\\\"fields_email\\\">\\n      <\\/td>\\n    <\\/tr>\\n\t<tr>\\n      <td
        valign=\\\"top\\\" align=\\\"right\\\">\\n        &nbsp;First Name\\n      <\\/td>\\n
        \     <td align=\\\"left\\\">\\n        <input type=\\\"text\\\" name=\\\"fields_fname\\\">\\n
        \     <\\/td>\\n    <\\/tr>\\n\t<tr>\\n      <td valign=\\\"top\\\" alig[...]
