---
http_interactions:
- request:
    method: get
    uri: https://api.convertkit.com/v3/forms?api_secret=OgSSj78Ql5mPI5AxH51li8kRhjvd9seZ_AnGmKZ_xlg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2fd67b85ce002eba17485f4f95265d84"'
    body:
      encoding: ASCII-8BIT
      string: '{"forms":[{"id":16156,"name":"Subscribers","created_at":"2016-01-05T08:17:50Z","type":"embed","url":"https://app.convertkit.com/landing_pages/16156","embed_js":"https://api.convertkit.com/v3/forms/16156.js","embed_url":"https://api.convertkit.com/v3/forms/16156.html","title":"Join
        the newsletter","description":"\u003Cp\u003ESubscribe to get our latest content
        by email.\u003C/p\u003E","sign_up_button_text":"Subscribe","success_message":"Success!
        Now check your email to confirm your subscription.","archived":false},{"id":17361,"name":"Download
        Free Ebook","created_at":"2016-01-11T08:49:03Z","type":"hosted","url":"https://app.convertkit.com/small-cherry-8218/JFLIFJCC","embed_js":"https://api.convertkit.com/v3/forms/17361.js","embed_url":"https://api.convertkit.com/v3/forms/17361.html","title":"Join
        the newsletter","description":"\u003Cp\u003ESubscribe to get our latest content
        by email.\u003C/p\u003E","sign_up_button_text":"Subscribe","success_message":"Success!
        Now ch[...]
[...]
- request:
    method: get
    uri: https://api.convertkit.com/v3/tags?api_secret=OgSSj78Ql5mPI5AxH51li8kRhjvd9seZ_AnGmKZ_xlg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c13d1e484bc33c5abe258baf8f9622e9"'
    body:
      encoding: ASCII-8BIT
      string: '{"tags":[{"id":21012,"name":"myFirstTag","created_at":"2016-02-15T12:34:49Z"},{"id":21013,"name":"secondTestTag","created_at":"2016-02-15T12:35:01Z"},{"id":28774,"name":"GlobalTag","created_at":"2016-03-18T02:45:47Z"},{"id":28775,"name":"PerLevelTag","created_at":"2016-03-18T02:46:00Z"},{"id":45104,"name":"OptimizePress","created_at":"2016-05-06T08:34:26Z"},{"id":48363,"name":"veenatesttag","created_at":"2016-05-15T23:46:18Z"},{"id":49395,"name":"customers","created_at":"2016-05-18T04:07:32Z"},{"id":493[...]
[...]
