# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore any SQL dumpfiles
db/*_dump.sql

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore generated scripts
/public/generated_scripts/*.js
public/*bar_test.html
public/integration
public/image_uploads
public/content_upgrades
public/test_site.html

# Ignore tmp/scratch/editor files
*.sublime-*
npm-debug.log
.idea
.tm_properties
*_scratch.rb
*.swp
.DS_Store

# Settings
config/database.yml
config/secrets.yml

# Assets
/public/assets
!/public/assets/logo_orange_box.png
!/public/assets/logo_orange_h.png

# Frontend files and folders
node_modules
bower_components
tmp
out

# Ruby versions/gemsets
.ruby-version
.ruby-gemset
.rbenv-gemsets

# RSpec local run summary
spec/examples.txt
