# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
/public/generated_scripts/*.js

*.sublime-*
npm-debug.log
.idea
.tm_properties

config/settings.yml
config/database.yml

# Ignore personal TODO lists
TODO

# Ignore any SQL dumpfiles
db/*_dump.sql

# Ignore scratch files
*_scratch.rb
*.swp

# Ignore application configuration
/config/application.yml
/config/thin/www+application.yml

# Ignore .DS_Store
.DS_Store

public/*bar_test.html
public/integration
public/image_uploads
public/test_site.html

# Assets
/public/assets
!/public/assets/logo_orange_box.png
!/public/assets/logo_orange_h.png

# Frontend files and folders
node_modules
bower_components
tmp
out

# Ruby versions/gemsets
.ruby-version
.ruby-gemset
.rbenv-gemsets
spec/examples.txt
