{{#common/panels/collapse-panel title="Slider Styling"}}
  <div class="panel-input">
    <div class="panel-input__label">Color</div>
    <div class="panel-input__input">
      {{common/inputs/font-color color=model.background_color}}
    </div>
  </div>

  <div class="panel-input">
    <div class="panel-input__label">Default text color</div>
    <div class="panel-input__input">
      {{common/inputs/font-color color=model.text_color}}
    </div>
  </div>

  <div class="panel-input">
    <div class="panel-input__label">Placement</div>
    <div class="panel-input__input">
      {{#power-select options=placementOptions
                      selected=selectedPlacementOption
                      renderInPlace=true
                      searchEnabled=false
                      onchange=(action "selectPlacement") as |option|}}
        {{option.label}}
      {{/power-select}}
    </div>
  </div>
{{/common/panels/collapse-panel}}
