<label>Enter phone number</label>
{{view Ember.TextField value=model.phone_number placeholder="(555) 555-5555" maxlength=50}}
<div class="select-wrapper">
  {{view Ember.Select
    content=HB.countryCodes
    value=model.phone_country_code
    optionValuePath='content.code'
    optionLabelPath='content.name'
  }}
</div>
<p>This is the phone number that will be dialed</p>
