<label>What do you want to collect from visitors?</label>
<div class="select-wrapper">
  {{view Ember.Select
    content=collectionOptions
    value=model.settings.collect_names
    optionValuePath='content.value'
    optionLabelPath='content.label'
  }}
</div>

<label>Which contact list would you like your emails stored in?</label>
<div class="select-wrapper">
  {{view Ember.Select
    content=contactListOptions
    value=model.contact_list_id
    optionValuePath='content.id'
    optionLabelPath='content.name'
    prompt="Please select a list"
  }}
</div>
