<label>What do you want to collect from visitors?</label>
<div class="select-wrapper">
  {{view Ember.Select
    content=collectionOptions
    value=model.settings.collect_names
    optionValuePath='content.value'
    optionLabelPath='content.label'
  }}
</div>
