<label>Would you like your visitors to..</label>
{{view Ember.Select
  content=content.socialOptions
  selection=content.socialSelection
  optionValuePath='content.id'
  optionLabelPath='content.text'
}}
{{!-- ^ will likely need to be a component... --}}