<label>Would you like your visitors to..</label>
{{social-select content=socialOptions value=selectedSocialSubtype}}

<div class="select-wrapper">
  {{view Ember.Select
    content=socialOptions
    value=model.element_subtype
    optionValuePath='content.value'
    optionLabelPath='content.label'
  }}
</div>
{{!-- ^ will likely need to be a component... --}}

{{#if selectedSocialSubtype}}
  {{partial selectedSocialSubtype}}
{{/if}}
