<label>Message</label>
{{view Ember.TextField value=model.settings.buffer_message placeholder="Check out this great site!"}}

<label>URL to share</label>
{{view Ember.TextField value=model.settings.buffer_url placeholder="example.com"}}
