<div class="select-wrapper">
  {{#power-select options=ruleOptions
    selected=selectedRuleOption
    renderInPlace=true
    searchEnabled=false
    onchange=(action "selectTargetingRule") as |option|}}
    {{option.name}}
  {{/power-select}}
</div>

{{#if controllers.targeting.selectedRule}}
  <p>
    {{targetingController.selectedRule.description}}.
    {{#if targetingController.selectedRule.editable}}
      <a class="edit-rule" {{action 'openRuleModal' targetingController.selectedRule}}>Edit.</a>
    {{/if}}
  </p>
{{/if}}
