.design__template-name
  font-size: 1.1em
  font-weight: bold

.design__hint
  margin: 0 0 15px 0
  font-size: 0.9em

.design__template-button
  background: $actionColor
  padding: 12px 22px
  border-radius: 3px
  color: white
  text-align: center
  cursor: pointer
