<div class="substep click">

  <label>Enter link URL</label>
  {{input value=model.settings.url placeholder="e.g. http://liquid.com/new" maxlength=510}}
  <p>This is the web address that your button will link to, e.g. http://liquid.com/new</p>

  <label>
    {{common/checkboxes/toggle-switch switch=model.open_in_new_window}}
    Open link in new window
  </label>

</div>
