/*-----------  Anchors (links)  -----------*/

a
  text-decoration: none
  @include transition()

  &:hover
    text-decoration: none

  &[href]
    cursor: pointer

  &[disabled]
    cursor: not-allowed

  &.active
    cursor: default

/*-----------  Headers  -----------*/

h1, h2, h3, h4, h5, h6, legend
  margin: 0
  color: $grayDark
  line-height: 100%
  text-transform: uppercase
  font-weight: $fontWeightNormal
  @include antialiased()

h1
  font-size: 3.75em

h2 
  font-size: 2.75em

h3, legend
  font-size: 2.5em

h4
  font-size: 1.75em

h5
  font-size: 1.25em

h6
  font-size: 1em
  text-transform: none

/*-----------  Paragraphs  -----------*/

p
  margin-top: 0

/*-----------  Lists  -----------*/

ul
  margin: 0
  padding: 0

  li
    list-style: none