{{interstitial/helpers/interstitial-header model=model}}

<div class="line-1">
  Since your goal is Get Phone Calls, we recommend you use a Hello Bar.
</div>

<div class="line-2">
  Hello Bars can remain visible across every page of your site, don't disrupt your visitor's experience and will give you a lot of visibility.
</div>

{{interstitial/helpers/element-types model=model}}

{{interstitial/helpers/interstitial-footer model=model}}