
{{interstitial/helpers/interstitial-header model=model}}

<div>
  Since your goal is Collect Emails, we recommend you use a Page Takeover.
  <br/>
  They are the most successful at collecting emails.
</div>

{{interstitial/helpers/element-types model=model}}

{{interstitial/helpers/interstitial-footer model=model}}