{{interstitial/helpers/interstitial-header model=model}}

<div class="line-1">
  Since your goal is Collect Emails, we recommend you use a Page Takeover.
</div>

<div class="line-2">
  They are the most successful at collecting emails.
</div>

{{interstitial/helpers/element-types model=model}}

{{interstitial/helpers/interstitial-footer model=model}}