{{interstitial/helpers/interstitial-header model=model}}

<div>
  Since your goal is Target a URL, we recommend you use a Hello Bar.
  <br/>
  Hello Bars can remain visible across every page of your site and will not disrupt your visitor's experience.
</div>

{{interstitial/helpers/element-types model=model}}

{{interstitial/helpers/interstitial-footer model=model}}