/*-----------  Toggle Switches -----------*/

.toggle-switch
  padding: 2px
  float: right
  cursor: pointer
  margin-top: -4px
  border-radius: $radiusSm
  background-color: $white
  border: 1px solid $grayLighter
  user-select: none
  @include inline-block()
  transition: all 0.15s ease-out 0s

  span
    color: $grayLighter
    text-align: center
    line-height: 1.25rem
    text-transform: uppercase
    transition: all 0.15s ease-out 0s

    &.toggle-on
      opacity: 0
      float: left
      margin-top: 1px
      margin-left: 2px
      font-size: 0.75em

    &.toggle-off
      opacity: 1
      float: right
      margin-top: 1px
      font-size: 0.7em
      margin-right: 2px

  .toggle-floater
    width: 1.45em
    height: 1.45em
    margin-left: 0
    border-radius: 2px
    margin-right: 1.75em
    background-color: $grayLighter
    transition: 0.2s

  &:hover
    border-color: $grayLight
    box-shadow: inset $shadowSubtle

    span
      color: $grayLight

    .toggle-floater
      box-shadow: $shadowSubtle
      background-color: $grayLight

  &.is-selected
    border-color: $green
    background-color: $green

    span
      color: $white

      &.toggle-on
        opacity: 1

      &.toggle-off
        opacity: 0

    .toggle-floater
      margin-right: 0
      margin-left: 1.75em
      background-color: $white

    &:hover
      box-shadow: inset $shadow

      .toggle-floater
        box-shadow: $shadow
