/*-----------  Toggle Switches -----------*/

.toggle-switch
  padding: 2px
  float: right
  cursor: pointer
  margin-top: -4px
  border-radius: $radiusSm
  background-color: $white
  border: 1px solid $grayLighter
  user-select: none
  @include inline-block()
  transition: all 0.15s ease-out 0s

  span
    color: $gray
    text-align: center
    line-height: 1.25rem
    text-transform: uppercase
    transition: all 0.15s ease-out 0s

    &.toggle-on
      opacity: 1
      float: right
      margin-top: 1px
      margin-left: 2px
      margin-right: 2px
      font-size: 0.75em

    &.toggle-off
      opacity: 0
      float: left
      margin-top: 1px
      font-size: 0.7em
      margin-right: 2px
      margin-left: 2px

  .toggle-floater
    width: 1.45em
    height: 1.45em
    margin-left: 0
    border-radius: 2px
    margin-right: 1.75em
    background-color: #27ab9e
    transition: 0.2s

  &:hover
    border-color: $grayLight
    box-shadow: inset $shadowSubtle

    span
      color: $gray

    .toggle-floater
      box-shadow: $shadowSubtle
      background-color: #219287

  &.is-selected
    border-color: $grayLighter
    background-color: $white

    span
      color: $gray

      &.toggle-on
        opacity: 0

      &.toggle-off
        opacity: 1

    .toggle-floater
      margin-right: 0
      margin-left: 1.75em
      background-color: $grayLight

    &:hover
      box-shadow: inset $shadow

      .toggle-floater
        background-color: $grayLighter
        box-shadow: $shadow
