---
http_interactions:
- request:
    method: post
    uri: https://ics2wstest.ic3.com/commerce/1.x/transactionProcessor
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/">
          <s:Header>
            <wsse:Security s:mustUnderstand="1" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
              <wsse:UsernameToken>
                <wsse:Username>hellobar</wsse:Username>
                <wsse:Password Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText">YGxyAaeHOQe2vRoisqdInSI9DE4UEhiOVy5aYpoQewXKcCwF11FZRQncjhOlBU41Qo/MwaQ5vIEMuO/zdFTY+WhXYA8KVgquD2H5mgw/CK470t/oXKHNzzRdfcrYbdChFTloHTSm6TxV/Uo94MzIQSf+38eFYpjkOAei7Fm2esJlm2P3rKCBb10JGMvuE9hJAcJidFJ3qdlw9NzfCEWWzajJ9Wl4/Fc9zRszZ5zbX7oRmCkf/aRDu4nO6gML3wVWj1DkCylLdfYLnbjRFKfF8uHriOo/txJCZRuorM5KkjUTroXAGRq2G40btrXhiQsw4j10Gqa8JJCfM3tvnQoNyg==</wsse:Password>
              </wsse:UsernameToken>
            </wsse:Security>
          </s:Header>
          <s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <requestMessage xmlns="urn:schemas-cybersource-com:transaction-data-1.69">
              <merchantID>hellobar</merchantID>
              <merchantReferenceCode>NA-1411101720</merchantReferenceCode>
              <clientLibrary>Ruby Active Merchant</clientLibrary>
              <clientLibraryVersion>1.44.1</clientLibraryVersion>
              <clientEnvironment>x86_64-darwin12.0</clientEnvironment>
        <billTo>
          <firstName>Tobias</firstName>
          <lastName>Luetke</lastName>
          <street1>123 Some St</street1>
          <city>Eugene</city>
          <state>OR</state>
          <postalCode>97408</postalCode>
          <country>USA</country>
          <email>userNA@hellobar.com</email>
        </billTo>
        <purchaseTotals>
          <currency>USD</currency>
          <grandTotalAmount>0.00</grandTotalAmount>
        </purchaseTotals>
        <card>
          <accountNumber>4111111111111111</accountNumber>
          <expirationMonth>08</expirationMonth>
          <expirationYear>2016</expirationYear>
          <cardType>001</cardType>
        </card>
        <subscription>
          <paymentMethod>credit card</paymentMethod>
        </subscription>
        <recurringSubscriptionInfo>
          <amount>0</amount>
          <frequency>on-demand</frequency>
          <approvalRequired>false</approvalRequired>
        </recurringSubscriptionInfo>
        <paySubscriptionCreateService run="true"/>
        <businessRules>
        </businessRules>
            </requestMessage>
          </s:Body>
        </s:Envelope>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opnet-Transaction-Trace:
      - pid=24998,requestid=4a2bc0c4-12f6-45bd-99fe-fe03c2888a16
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
        <soap:Header>
        <wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"><wsu:Timestamp xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" wsu:Id="Timestamp-2038578079"><wsu:Created>2014-09-19T04:42:00.601Z</wsu:Created></wsu:Timestamp></wsse:Security></soap:Header><soap:Body><c:replyMessage xmlns:c="urn:schemas-cybersource-com:transaction-data-1.69"><c:merchantReferenceCode>NA-1411101720</c:merchantReferenceCode><c:requestID>4111017202540176195842</c:requestID><c:decision>ACCEPT</c:decision><c:reasonCode>100</c:reasonCode><c:requestToken>Ahj/7wSRvbemGTcel4IEIkHLZo5csHDKiwbw6EaazT+Rj80jwBT+Rj80jzSACFLDJpJlukB2eJ0Ccje29MMm49LwQIAAuwTb</c:requestToken><c:purchaseTotals><c:currency>USD</c:currency></c:purchaseTotals><c:ccAuthReply><c:reasonCode>100</c:reasonCode><c:amount>0.00</c:amount><c:authorizationCode>888888</c:authorizationCode><c:avsCode>X</c:avsCode><c:avsCodeRaw>I1</c:avsCodeRaw><c:authorizedDateTime>2014-09-19T04:42:00Z</c:authorizedDateTime><c:processorResponse>100</c:processorResponse><c:reconciliationID>96499082Q07CPFM3</c:reconciliationID></c:ccAuthReply><c:paySubscriptionCreateReply><c:reasonCode>100</c:reasonCode><c:subscriptionID>4111017202540176195842</c:subscriptionID></c:paySubscriptionCreateReply></c:replyMessage></soap:Body></soap:Envelope>
  recorded_at: Fri, 19 Sep 2014 04:42:00 GMT
[...]
