<label>Pinterest user URL</label>
{{input value=model.settings.pinterest_user_url placeholder="pinterest.com/pinterest"}}

<label>Full name</label>
{{input value=model.settings.pinterest_full_name placeholder="Pindiana Jones"}}
