/*-----------  Header  -----------*/

$headerHeight: 5em

.global-header
  background-color: $red
  @include clearfix()

  .header-logo-block
    float: left
    width: $sidebarWidth
    height: $headerHeight
    background-repeat: no-repeat
    background-position: center center
    background-size: auto $headerHeight/1.75
    background-image: image-url('hellobar_logo_white.svg')

    a
      opacity: 0
      width: 100%
      height: 100%
      display: block

  .header-nav-wrapper
    float: left
    line-height: $headerHeight

  .header-user-wrapper
    float: right
    line-height: $headerHeight

  /*-----------  Dropdowns  -----------*/

  .dropdown-wrapper

    > a,
    > i
      color: $white

    .dropdown-block
      background-color: $grayLighter