<h5 class="step-title">Colors</h5>

<label>Background</label>
{{color-select color=model.background_color siteColors=siteColors recentColors=recentColors}}

<label>Text</label>
{{color-select color=model.text_color siteColors=siteColors recentColors=recentColors}}

<label>Button Text</label>
{{color-select color=model.link_color siteColors=siteColors recentColors=recentColors}}

<label>Button</label>
{{color-select color=model.button_color siteColors=siteColors recentColors=recentColors}}
