<h5 class="step-title">Design</h5>

<label>Theme</label>
<div class="select-wrapper">
  {{view Ember.Select
    content=themeOptions
    value=model.theme_id
    optionValuePath='content.id'
    optionLabelPath='content.name'
  }}
</div>

<hr></hr>

{{#tab-view paneSelected=paneSelected}}
  {{#tab-pane name="Text"}}
    {{partial "partials/text-pane"}}
  {{/tab-pane}}

  {{#tab-pane name="Colors"}}
    {{partial "partials/colors-pane"}}
  {{/tab-pane}}

  {{#tab-pane name="Image"}}
    {{partial "partials/image-pane"}}
  {{/tab-pane}}
{{/tab-view}}