{{#if isMobile}}
  <div id="hellobar-preview-container">
    <img {{bind-attr src='model.site_preview_image_mobile'}} />
  </div>
{{else}}
  <div id="hellobar-preview-container">
    <img {{bind-attr src='model.site_preview_image'}} />
  </div>
{{/if}}
