<div id="hellobar-preview-container" {{bind-attr class="isMobile:hellobar-preview-container-mobile"}}>
  <div class="preview-wrapper">
    <div class="preview-message">
      <i class="icon-settings"></i>
      Site preview loading...
    </div>
  </div>

  {{#if isMobile}}
    <img {{bind-attr src='model.site_preview_image_mobile'}} />
  {{else}}
    <img {{bind-attr src='model.site_preview_image'}} />
  {{/if}}
</div>
