<div id="hellobar-preview-container" {{bind-attr class="isMobile:hellobar-preview-container-mobile isPushed"}}>

  <div class="preview-wrapper">
    <div class="preview-message">
      <i class="icon-settings"></i>
      Site preview loading...
    </div>
  </div>

  <div class="preview-image">
    {{#if isMobile}}
      <img {{bind-attr src='model.site_preview_image_mobile'}} />
    {{else}}
      <img {{bind-attr src='model.site_preview_image'}} />
    {{/if}}
  </div>
</div>
