<div id="hellobar-preview-container" {{bind-attr class="isMobile:hellobar-preview-container-mobile"}}>
  <div id="preview-image-loading">
    Site preview loading...
  </div>

  {{#if isMobile}}
    <img {{bind-attr src='model.site_preview_image_mobile'}} />
  {{else}}
    <img {{bind-attr src='model.site_preview_image'}} />
  {{/if}}
</div>
