<h5 class="step-title">Style</h5>

<div {{bind-attr class="routeForwarding:is-selected :step-link-wrapper"}}>
  {{#link-to 'style.bar' class='step-link-block'}}
    <i class="icon-bar"></i>
    <h6>Bar</h6>
    <p>Show a bar at the top of your site</p>
  {{/link-to}}

  {{#link-to 'style.modal' class='step-link-block'}}
    <i class="icon-modal"></i>
    <h6>Modal</h6>
    <p>Pop up a window in the moddle of the screen</p>
  {{/link-to}}

  {{#link-to 'style.slider' class='step-link-block'}}
    <i class="icon-modal"></i>
    <h6>Modal</h6>
    <p>Show a small window on the bottom of your site</p>
  {{/link-to}}

  {{#link-to 'style.takeover' class='step-link-block'}}
    <i class="icon-modal"></i>
    <h6>Page Takeover</h6>
    <p>Show a window that totally covers your webpage content</p>
  {{/link-to}}

  <a {{action 'changeStyle'}} class="change-selection">
    <i class="icon-back1"></i>
    Change Goal
  </a>  
</div>

{{outlet}}
