<h1>Style</h1>

<h6>Background</h6>
{{color-picker color=colorScheme.background}}

<h6>Text</h6>
{{color-picker color=colorScheme.text}}

<h6>Button Text</h6>
{{color-picker color=colorScheme.buttontext}}

<h6>Button</h6>
{{color-picker color=colorScheme.button}}
