<div class="step-title">Text and Content</div>

<label>Bar text</label>
{{view Ember.TextField value=model.message placeholder="Subscribe to our mailing list"}}
{{!-- ^ will likely need to be a component... --}}

<label>Link text</label>
{{view Ember.TextField value=model.link_text placeholder="OK!"}}
{{!-- ^ will likely need to be a component... --}}

<label>Font family</label>
<div class="select-wrapper">
  {{view Ember.Select
    content=fontOptions
    selection=model.font
    optionValuePath='content.id'
    optionLabelPath='content.text'
  }}
</div>
{{!-- ^ will likely need to be a component... --}}
