---
http_interactions:
- request:
    method: get
    uri: https://api.getdrip.com/v2/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"511632627d63ba8ab9d71ac83e0bffda"
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3599'
    body:
      encoding: UTF-8
      string: '{"links":{"accounts.broadcasts":"http://api.getdrip.com/v2/{accounts.id}/broadcasts","accounts.campaigns":"http://api.getdrip.com/v2/{accounts.id}/campaigns","accounts.goals":"http://api.getdrip.com/v2/{accounts.id}/goals"},"accounts":[{"id":"8056783","href":"https://api.getdrip.com/v2/accounts/8056783","name":"edge.hellobar.com","url":"edge.hellobar.com","default_from_name":"mike@mikekamo.com","default_from_email":"mike@mikekamo.com","default_postal_address":null,"primary_email":"mike@mikekamo.com","enable_third_party_cookies":false,"phone_number":"","created_at":"2017-01-10T14:23:16Z"}]}'
  recorded_at: Mon, 20 Mar 2017 20:09:57 GMT
- request:
    method: get
    uri: https://api.getdrip.com/v2/8056783/campaigns?status=active
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"41d59da3600171635aecbc25f3c00ccc"
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3598'
    body:
      encoding: UTF-8
      string: '{"links":{"campaigns.account":"https://api.getdrip.com/v2/accounts/{campaigns.account}","campaigns.forms":"https://api.getdrip.com/v2/{campaigns.account}/forms/{campaigns.forms}","campaigns.subscribers":"https://api.getdrip.com/v2/{campaigns.account}/campaigns/{campaigns.id}/subscribers"},"meta":{"page":1,"sort":"sort_order","direction":"desc","count":3,"status":"active","total_pages":1,"total_count":3},"campaigns":[{"id":"81359945","href":"https://api.getdrip.com/v2/8056783/campaigns/81359945","name":"Testing_Neha","status":"active","from_name":"mike@mikekamo.com","from_email":"mike@mikekamo.com","postal_address":"Shiv
        sai vishwa, pimple saudager, pune","minutes_from_midnight":660,"localize_sending_time":true,"days_of_the_week_mask":"0111110","start_immediately":true,"double_optin":true,"confirmation_url":null,"send_to_confirmation_page":false,"use_custom_confirmation_page":false,"notify_subscribe_email":"mike@mikekamo.com","notify_unsubscribe_email":"mike@mikekamo.com","bcc":"","email_count":0,"active_subscriber_count":26,"unsubscribed_subscriber_count":0,"created_at":"2017-02-22T08:12:17Z","email_open_rate":null,"email_click_rate":null,"links":{"account":"8056783","forms":[]}},{"id":"27987357","href":"https://api.getdrip.com/v2/8056783/campaigns/27987357","name":"Testing
        Campaign","status":"active","from_name":"mike@mikekamo.com","from_email":"mike@mikekamo.com","postal_address":"Testing
        Testing 123","minutes_from_midnight":660,"localize_sending_time":true,"days_of_the_week_mask":"0111110","start_immediately":true,"double_optin":true,"confirmation_url":null,"send_to_confirmation_page":false,"use_custom_confirmation_page":false,"notify_subscribe_em[...]
- request:
    method: get
    uri: https://api.getdrip.com/v2/8056783/tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"f7f880cb65d0942501dc28ff7989de25"
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3597'
    body:
      encoding: UTF-8
      string: '{"tags":[]}'
  recorded_at: Mon, 20 Mar 2017 20:10:01 GMT
recorded_with: VCR 2.9.0
