<label>Hello Bar branding
  {{toggle-switch switch=model.barIsBranded}}
</label>

<label>Animations
  {{toggle-switch switch=model.barIsAnimated}}
</label>

<label>Allow to hide bar
  {{toggle-switch switch=model.barIsHidable}}
</label>

<label>Placement</label>
{{view Ember.Select
  content=placementOptions
  selection=model.barPlacementSelection
  optionValuePath='content.id'
  optionLabelPath='content.text'
}}
