<label>Hello Bar branding
  {{toggle-switch switch=model.show_branding}}
</label>

<label>Pushes page down
  {{toggle-switch switch=model.pushes_page_down}}
</label>

<label>Remains at top
  {{toggle-switch switch=model.remains_at_top}}
</label>
