<label>Theme</label>
{{view Ember.Select
  content=content.themeOptions
  selection=content.popupThemeSelection
  optionValuePath='content.id'
  optionLabelPath='content.text'
}}
{{!-- ^ will likely need to be a component... --}}

<label>Hello Bar branding
  {{view Ember.Checkbox checked=content.popupIsBranded}}
</label>

<label>Animations
  {{view Ember.Checkbox checked=content.popupIsAnimated}}
</label>

<label>Placement</label>
{{view Ember.Select
  content=content.placementOptions
  selection=content.popupPlacementSelection
  optionValuePath='content.id'
  optionLabelPath='content.text'
}}
