<div class="select-wrapper">
  {{#power-select options=fonts
                  selected=selectedFont
                  renderInPlace=true
                  searchEnabled=false
                  onchange=(action "selectFont") as |option|}}
    {{option}}
  {{/power-select}}
</div>
