<div class="color-input-spacer"></div>

<div class="color-input-wrapper">
  <div class="color-input-block">
    <span class="color-preview" style={{cssStyle}}></span>
    <span class="hash-mark">#</span>
    {{input value=color class='hex-val' maxlength=6}}
  </div>
</div>

<div class="color-dropdown">
  <div class="color-picker">
    <div class="gradient-wrapper">
      <div class="gradient"></div>
      <div class="gradient-indicator"></div>
    </div>
    <div class="slider-wrapper">
      <div class="slider"></div>
      <div class="slider-indicator"></div>
    </div>
  </div>
</div>
