version: 2
jobs:
  build:
    branches:
      ignore:
        - staging
        - edge
        - production

    docker:
      - image: hellobarcom/base:2.3.4
        environment:
          DISPLAY: :99

      - image: mysql
        environment:
          MYSQL_ROOT_PASSWORD: root

    working_directory: /tmp/hellobar_new
    steps:
      - checkout

      - restore_cache:
          key: dependency-cache-{{ checksum "Gemfile.lock" }}

      - restore_cache:
          key: dependency-cache-{{ checksum "editor/bower.json" }}

      - restore_cache:
          key: dependency-cache-{{ checksum "editor/yarn.lock" }}

      - restore_cache:
          key: dependency-cache-editor-{{ .Revision }}

      - restore_cache:
          keys:
            - dependency-cache-tmp-{{ .Branch }}
            - dependency-cache-tmp-master

      - run: env

      - run:
          name: Bundle install
          command: bundle install --path vendor/bundle

      - save_cache:
          key: dependency-cache-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle

      - run:
          name: Copy configs
          command: |
            cp .circleci/database.yml config/database.yml
            cp config/secrets.yml.example config/secrets.yml

      - run:
          name: Yarn install
          command: cd editor && yarn install --cache-folder .yarn --frozen-lockfile

      - save_cache:
          key: dependency-cache-{{ checksum "editor/yarn.lock" }}
          paths:
            - editor/node_modules
            - editor/.yarn
            - ~/.config/yarn

      - run:
          name: Bower install
          command: cd editor && bower install --allow-root

      - save_cache:
          key: dependency-cache-{{ checksum "editor/bower.json" }}
          paths:
            - editor/bower_components

      - run:
          name: Build Ember application (editor)
          command: if [ -e editor/dist/assets/editor.css ]; then echo "Skip"; else cd editor && ember build --environment=production; fi

      - save_cache:
          key: dependency-cache-editor-{{ .Revision }}
          paths:
            - editor/dist/assets

      - run:
          name: Setup database
          command: RAILS_ENV=test bundle exec rake db:create db:schema:load db:migrate --trace

      - run:
          name: Run Brakeman
          command: if [ $CIRCLE_NODE_INDEX = 0 ]; then bundle exec brakeman; else echo "skip"; fi

      - run:
          name: Run Rubocop
          command: if [ $CIRCLE_NODE_INDEX = 0 ]; then bundle exec rubocop; else echo "skip"; fi

      - run:
          name: Run unit tests
          environment:
            CODECOV_FLAG: unit
          command: |
            TESTFILES=$(circleci tests glob "spec/**/*_spec.rb" | grep -v features | circleci tests split --split-by=timings)
            bundle exec rspec --profile 10 -r rspec_junit_formatter --format RspecJunitFormatter --out test-results/rspec.xml --format progress -- ${TESTFILES}

      - run:
          name: Run teaspoon tests
          command: if [ $CIRCLE_NODE_INDEX = 1 ]; then RAILS_ENV=test SUITE=default xvfb-run -a bundle exec rake teaspoon; else echo "skip"; fi

      - run:
          name: Run feature tests
          environment:
            CODECOV_FLAG: integration
          command: |
            TESTFILES=$(circleci tests glob "spec/**/*_spec.rb" | grep features | circleci tests split --split-by=timings)
            xvfb-run -a bundle exec rspec --profile 10 -r rspec_junit_formatter --format RspecJunitFormatter --out test-results/rspec.xml --format progress -- ${TESTFILES}

      - save_cache:
          key: dependency-cache-tmp-{{ .Branch }}
          paths:
            - /tmp/hellobar_new/tmp/cache
            - /tmp/hellobar_new/tmp/script

      - store_artifacts:
          path: /tmp/hellobar_new/tmp/coverage
          destination: coverage

      - store_test_results:
          path: /tmp/hellobar_new/test-results
