version: 2
jobs:
  build:
    docker:
      - image: asozontov/hb-base:2.1.9
      - image: mysql
        environment:
          MYSQL_ROOT_PASSWORD: root
    working_directory: /tmp/hellobar_new
    steps:
      - checkout

      - restore_cache:
          keys:
            - dependency-cache-{{ checksum "Gemfile.lock" }}
            - dependency-cache-{{ checksum "editor/bower.json" }}
            - dependency-cache-{{ checksum "editor/package.json" }}
      - run:
          name: Install Ruby Dependencies
          command: bundle install --path vendor/bundle

      - save_cache:
          key: dependency-cache-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle

      - run:
          name: Make configs
          command: |
            cp config/settings.yml.example config/settings.yml
            cp .circleci/database.yml config/database.yml

      - run:
          name: Install npm dependencies
          command: cd editor && npm install

      - save_cache:
          key: dependency-cache-{{ checksum "editor/package.json" }}
          paths:
            - editor/node_modules

      - run:
          name: Install bower dependencies
          command: cd editor && bower install --allow-root

      - save_cache:
          key: dependency-cache-{{ checksum "editor/bower.json" }}
          paths:
            - editor/bower_components

      - run:
          name: Install editor
          command: cd editor && ember build --environment=production

      - run:
          name: Create DB
          command: bundle exec rake db:create db:schema:load --trace

      - run:
          name: DB Migrations
          command: bundle exec rake db:migrate

      - run:
          name: Run Tests
          command: bundle exec rake test
