<script id="delay-tooltip-modal-template" type="text/x-handlebars-template">
  <div class="modal-wrapper">
    <div class="modal-block">
      <header>
        <h5>When does Hello Bar display?</h5>
      </header>

      <div class="unsaved-changes-modal">
        <p>Hello Bar lets you decide when to display your message to your site visitors.<br>
           The timing of your popup can impact your conversion rates, so here’s a few things we’ve learned from testing on our own site and Neil Patel's blog:</p>
        <p>- Many site visitors don’t respond well to popups that appear immediately upon entering your site (bar excluded).</p>
        <p>- We’ve had a lot of success with popups that appear after 10 seconds – this seems to be the sweet spot for timing.</p>
        <p>- Our highest converting popups appear when the user intends to exit the site. These are great if you’re hoping to minimize your site’s bounce rate or reduce cart abandonments. (This feature works differently on touchscreens. On mobile devices, the message will always display after 30 seconds.)</p>
        <p>Remember, the longer the time between your visitor coming to your site and your popup appearing, the more qualified leads you’ll get. If a visitor’s on your site for a long time, they are very interested.</p>
        <p>Same goes for scrolling! If a visitor gets scrolling on their site, that means you’ve caught their interest. This feature can be really great for blog posts, especially.</p>
        <p>Of course, there’s no one-size-fits-all strategy. If you want to optimize your popups fully, try out a heat mapping software (CrazyEgg is awesome!). Then you’ll know exactly how long visitors are staying on your site, and exactly when to make your popups appear.</p>
      </div>

      <footer>
        <a class="button cancel">Got it</a>
      </footer>
    </div>
  </div>
</script>
