<script id="delay-tooltip-modal-template" type="text/x-handlebars-template">
  <div class="modal-wrapper">
    <div class="modal-block">
      <header>
        <h5>Header</h5>
      </header>

      <div class="unsaved-changes-modal">
        <p>blah blah blah</p>
      </div>

      <footer>
        <a class="button cancel">Cool</a>
      </footer>
    </div>
  </div>
</script>
