<script id="delay-tooltip-modal-template" type="text/x-handlebars-template">
  <div class="modal-wrapper">
    <div class="modal-block">
      <header>
        <h5>When does HelloBar display?</h5>
      </header>

      <div class="unsaved-changes-modal">
        <p>HelloBar lets you decide when to display your message:</p>
        <p>You can display immediately when the page loads.</p>
        <p>You can display after the visitor has been on your page for a set time.</p>
        <p>You can display after the visitor scrolls to point on the page.</p>
        <p>You can display after when HelloBar determines that the user is about to leave the page. This "exit intent" message is a chance to deliver a last chance offer or request. HelloBar does this by watching where the cursor is, and some other browser behaviors. To test this, move the cursor to the upper left corner of the browser. This feature works differently on touchscreens. On mobile devices, the message will always display after 30 seconds.</p>
      </div>

      <footer>
        <a class="button cancel">Got it</a>
      </footer>
    </div>
  </div>
</script>
