<script id="delay-tooltip-modal-template" type="text/x-handlebars-template">
  <div class="modal-wrapper">
    <div class="modal-block">
      <header>
        <h5>When does Hello Bar display?</h5>
      </header>

      <div class="unsaved-changes-modal">
        <p>HelloBar lets you decide when to display your message:</p>
        <p>You can display immediately when the page loads.</p>
        <p>You can display after the visitor has been on your page for a while.</p>
        <p>You can display after the visitor scrolls.</p>
        <p>You can display just before the visitor leaves the page. Hello Bar can make a guess about the visitor's intent to exit your site, which gives you the option to deliver a 'last chance' offer or request. Hello Bar does this by watching where the cursor is and other browser data. This feature works differently on touchscreens; on mobile devices, the message will always display after 30 seconds.</p>
      </div>

      <footer>
        <a class="button cancel">Got it</a>
      </footer>
    </div>
  </div>
</script>
