<script id="editor-errors-modal-template" type="text/x-handlebars-template">
  <div class="modal-wrapper">
    <div class="modal-block">
      <header>
        <h5>Sorry, we encountered some errors</h5>
      </header>

      <div class="editor-errors-modal">
        <p>Please correct the following issues:</p>
        <ul>
          {{#each errors}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      </div>

      <footer>
        <a class="button cancel">OK</a>
      </footer>
    </div>
  </div>
</script>