<script id="new-stripe-modal-template" type="text/x-handlebars-template">
  <div class="modal-wrapper">
    <div class="modal-block">
      <div class="flash-block"><i class="icon-close"></i></div>

      <header>
        <div class="modal-title">Add new card</div>
      </header>

      <div>
        <%= render 'shared/modals/stripe_form' -%>
      </div>

    </div>
  </div>
</script>

