<script id="payment-modal-template" type="text/x-handlebars-template">
  <div class="modal-wrapper">
    <div class="modal-block">
      <div class="flash-block"><i class="icon-close"></i></div>

      <form class="payment-modal" accept-charset="UTF-8">
        <input type="hidden" name="billing[subscription]" value="{{ package.type }}" />
        {{#if isFree}}
          <input type="hidden" name="billing[schedule]" value="monthly" />
          <div class="site-title downgrade-free">Are you sure you want to downgrade {{siteName}} to a free plan?</div>
        {{else}}
        <div class="site-title">
          Upgrade {{siteName}}
          {{#if upgradeBenefit}}
            to {{upgradeBenefit}}
          {{/if}}
        </div>

          <div class="payment-wrapper {{ package.type }}">
            <div class="payment-sidebar">
              <header>
                {{ package.name }}
                <small>Select Billing</small>
              </header>

              <div class="package-cycle">
                <input type="radio" id="monthly-billing" name="billing[schedule]" value="monthly" {{#if isMonthly}}checked{{/if}} />

                <label for="monthly-billing">
                  Monthly
                  <small>${{package.monthly_amount}} Per Month</small>
                </label>

                <input type="radio" id="anually-billing" name="billing[schedule]" value="yearly" {{#if isAnnual}}checked{{/if}} />

                <label for="anually-billing">
                  Annually
                  <small>${{package.yearly_amount}} Per Year <strong>Save 15%</strong></small>
                </label>

                <p>This will upgrade ONLY site {{siteName}} to {{ package.type }}.<br><br>Each site will need to be upgraded seperately to gain {{ package.type }} features.</p>
              </div>

              <a class="different-plan">Choose a different plan</a>
            </div>

            <div id="payment-details">
              {{> cc-payment-details this}}
            </div>

          </div>
        {{/if}}
      </form>

      <footer>
        <a class="button cancel">Cancel</a>
        <a class="button submit">Confirm</a>
      </footer>
    </div>
  </div>
</script>

<%= render 'shared/modals/payment_details' -%>
