<script id="payment-confirmation-modal-template" type="text/x-handlebars-template">
  <div class="modal-wrapper">
    <div class="modal-block">
      <header>
        {{#if isUpgrade}}
          <h5>Congratulations on upgrading {{siteName}} to the {{planName}} plan!</h5>
        {{else}}
          <h5>{{siteName}} is now on the {{planName}} plan</h5>
        {{/if}}
      </header>

      <div class="payment-confirmation-modal">
        {{#if isPaidPlan}}
          <p>{{chargeDescription}}</p>
          <p>{{billingSchedule}}</p>
        {{else}}
          <p>You will no longer have access to your {{oldPlanName}} features.</p>
        {{/if}}
      </div>

      <footer>
        <a class="button">OK</a>
      </footer>
    </div>
  </div>
</script>
