<script id="payment-modal-template" type="text/x-handlebars-template">
  <div class="modal-wrapper">
    <div class="modal-block">
      <i class="icon-close"></i>

      <form class="payment-modal" accept-charset="UTF-8" action="/payment_methods" method="POST">
        <input type="hidden" name="billing[plan]" value="{{ package.type }}" />
        <div class="site-title">
          <%= "Upgrade #{display_name_for_site(current_site)}!" %>
        </div>

        <div class="payment-wrapper {{ package.type }}">
          <div class="payment-sidebar">
            <header>
              {{ package.type }}
              <small>Select Billing</small>
            </header>
            <div class="package-cycle">
              {{#if isAnnual}}
              <input type="radio" id="monthly-billing" name="billing[cycle]" value="monthly" />
              {{else}}
              <input type="radio" id="monthly-billing" name="billing[cycle]" value="monthly" checked />
              {{/if}}

              <label for="monthly-billing">
                Monthly
                <small>$15 Per Month</small>
              </label>
              {{#if isAnnual}}
              <input type="radio" id="anually-billing" name="billing[cycle]" value="yearly" checked />
              {{else}}
              <input type="radio" id="anually-billing" name="billing[cycle]" value="yearly" />
              {{/if}}
              <label for="anually-billing">
                Annually
                <small>$150 Per Year <strong>Save 15%</strong></small>
              </label>
            </div>
            <a class="different-plan">Choose a different plan</a>
          </div>

          <div class="payment-form">
            <header>Billing Information</header>

            <div class="credit-card">
              <p>This will upgrade ONLY site "<%= display_name_for_site(current_site) %>" to {{ package.type }}. Each site will need to be upgraded seperately to gain {{ package.type }} features.

              <fieldset class="cc-name">
                <label>Name on card</label>
                <input type="text" placeholder="John Smith" name="payment_method_details[name]"/>
              </fieldset>

              <fieldset class="cc-number">
                <label>Card number</label>
                <input type="text" placeholder="    -    -    -" name="payment_method_details[number]"/>
                <i class="icon-modal"></i>
              </fieldset>

              <fieldset class="cc-expiry">
                <label>Expiry</label>
                <input type="text" placeholder="08/2016" name="payment_method_details[expiration]"/>
              </fieldset>

              <fieldset class="cc-csv">
                <label>CSV</label>
                <input type="text" placeholder="123" name="payment_method_details[verification_value]"/>
              </fieldset>

              <fieldset>
                <input type="text" name="payment_method_details[city]" value="Chicago" />
                <input type="text" name="payment_method_details[state]" value="IL" />
                <input type="text" name="payment_method_details[zip]" value="60647" />
                <input type="text" name="payment_method_details[address]" value="2423 W North Ave" />
                <input type="text" name="payment_method_details[country]" value="USA" />
              </fieldset>

              <footer>
                <a class="button submit">Confirm</a>
                <p>This card will be added to your profile and charged $150 each year starting today, July 1st 2014</p>
              </footer>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</script>
