<script id="payment-modal-template" type="text/x-handlebars-template">
  <div class="modal-wrapper">
    <div class="modal-block">
      <div class="flash-block"><i class="icon-close"></i></div>

      <form class="payment-modal" accept-charset="UTF-8">
        <input type="hidden" name="billing[subscription]" value="{{ package.type }}" />
        {{#if isFree}}
          <input type="hidden" name="billing[schedule]" value="monthly" />
          <div class="site-title downgrade-free">Are you sure you want to downgrade {{siteName}} to a free plan?</div>
        {{else}}
        <div class="site-title">
          Update credit card details
        </div>

          <div class="payment-wrapper {{ package.type }}">
            <div class="payment-sidebar">
              <header>
                {{#if isElite}}
                 Elite
                {{else}}
                 {{ package.name }}
                {{/if}}
                <small>Select plan below</small>
              </header>

              <div class="package-cycle">
                <input type="radio" id="monthly-billing" name="billing[schedule]" value="monthly" />

                <label for="monthly-billing">
                  Monthly
                  <small>${{package.monthly_amount}} Per Month</small>
                </label>

                <input type="radio" id="anually-billing" name="billing[schedule]" value="yearly" />

                <label for="anually-billing">
                  Annually
                  <small>${{package.yearly_amount}} Per Year <strong>Save 20%</strong><strong>LIMITED TIME OFFER</strong></small>
                </label>


              </div>

              <a class="different-plan">Choose a different plan</a>
            </div>

            <div id="credit-card-details" class="credit_card_form">
              {{> credit-card-details this}}

            </div>
            <dev class="card_form">
              <p>
                This will upgrade ONLY site {{siteName}} to {{ package.name }}. <br><br>
                Each site will need to be upgraded seperately to gain {{ package.name }} features.
              </p>
            </dev>
          </div>

        {{/if}}
      </form>

      <footer>
        <a class="button cancel">Cancel</a>
        <a class="button <%=current_user.credit_cards.blank? || current_user.stripe? ? 'stripe': 'submit'%>">Confirm</a>
      </footer>
    </div>
  </div>
</script>

<%= render 'shared/modals/credit_card_details' -%>
