<script id="payment-modal-template" type="text/x-handlebars-template">
  <div class="modal-wrapper">
    <div class="modal-block">
      <i class="icon-close"></i>

      <form class="payment-modal" accept-charset="UTF-8">
        <input type="hidden" name="billing[plan]" value="{{ package.type }}" />
        <div class="site-title">Upgrade {{siteName}}!</div>

        <div class="payment-wrapper {{ package.type }}">
          <div class="payment-sidebar">
            <header>
              {{ package.type }}
              <small>Select Billing</small>
            </header>
            <div class="package-cycle">
              {{#if isAnnual}}
              <input type="radio" id="monthly-billing" name="billing[schedule]" value="monthly" />
              {{else}}
              <input type="radio" id="monthly-billing" name="billing[schedule]" value="monthly" checked />
              {{/if}}

              <label for="monthly-billing">
                Monthly
                <small>${{package.monthly_amount}} Per Month</small>
              </label>
              {{#if isAnnual}}
              <input type="radio" id="anually-billing" name="billing[schedule]" value="yearly" checked />
              {{else}}
              <input type="radio" id="anually-billing" name="billing[schedule]" value="yearly" />
              {{/if}}
              <label for="anually-billing">
                Annually
                <small>${{package.yearly_amount}} Per Year <strong>Save 15%</strong></small>
              </label>
            </div>
            <a class="different-plan">Choose a different plan</a>
          </div>

          <div id="payment-details">
          {{> cc-payment-details this}}
          </div>
        </div>
      </form>
    </div>
  </div>
</script>

<%= render 'shared/modals/payment_details' -%>
