<script id="payment-confirmation-modal-template" type="text/x-handlebars-template">
  <div class="modal-wrapper">
    <div class="modal-block">
      <header>
        {{#if isUpgrade}}
          <h5>Congratulations on upgrading {{siteName}} to the {{planName}} plan!</h5>
        {{else}}
          <h5>{{siteName}} is now on the {{planName}} plan</h5>
        {{/if}}
      </header>

      <div class="payment-confirmation-modal">
        {{#if showProFeatures}}
          <div class="package-block pro">
            <div class="package-title">
              <div class="package-name">Pro</div>
            </div>
            <div class="package-features">
              <ul>
                <li><i class="icon-unbranded"></i> Unbranded content</li>
                <li><i class="icon-pants"></i> Custom thank you message</li>
                <li><i class="icon-unlimited"></i> Unlimited bars</li>
                <li><i class="icon-pointer"></i> Behavior activated content</li>
                <li><i class="icon-growthbars"></i> 10 improve suggestions</li>
                <li><i class="icon-opportunity"></i> Future improvements</li>
                <li><i class="icon-target"></i> Custom targeted content</li>
                <li><i class="icon-thumbsup"></i> Our sincere thanks!</li>
              </ul>
            </div>
          </div>
        {{/if}}

        {{#if showEnterpriseFeatures}}
          <div class="package-block enterprise">
            <div class="package-title">
              <div class="package-name">Enterprise</div>
            </div>
            <div class="package-features">
              <ul>
                <li>All the benefits of Pro</li>
                <li>Future improvements</li>
                <li>Unlimited visits</li>
                <li>Enterprise integrations</li>
              </ul>
            </div>
          </div>
        {{/if}}

        {{#if isPaidPlan}}
          <p>{{chargeDescription}}</p>
          <p>{{billingSchedule}}</p>
        {{else}}
          <p>You will no longer have access to your {{oldPlanName}} features.</p>
        {{/if}}
      </div>

      <footer>
        <a class="button">OK</a>
      </footer>
    </div>
  </div>
</script>
