<script id="payment-confirmation-modal-template" type="text/x-handlebars-template">
  <div class="modal-wrapper">
    <div class="modal-block">
      <header>
        <h5>Success</h5>
      </header>

      <div class="payment-confirmation-modal">
        <p>Your site is now on the {{planName}} plan{{billingSchedule}}.</p>
        {{#if isPaidPlan}}
          <p>{{chargeDescription}}.</p>
        {{/if}}
      </div>

      <footer>
        <a class="button">OK</a>
      </footer>
    </div>
  </div>
</script>
