<script id="temp-user-unsaved-changes-modal-template" type="text/x-handlebars-template">
  <div class="modal-wrapper">
    <div class="modal-block">
      <header>
        <h5>Are you sure?</h5>
      </header>

      <div class="unsaved-changes-modal">
        <p>Any unsaved changes will lost.</p>
      </div>

      <footer>
        <a class="button cancel resume">No, Return To Editor</a>
        <a class="button cancel" data-method="delete" href="/user" rel="nofollow">Yes, Discard My Bar</a>
      </footer>
    </div>
  </div>
</script>
