<script id="unsaved-changes-modal-template" type="text/x-handlebars-template">
  <div class="modal-wrapper">
    <div class="modal-block">
      <header>
        <h5>Are you sure?</h5>
      </header>

      <div class="unsaved-changes-modal">
        <p>It looks like you have some unsaved changes. Do you want to save them before returning to your dashboard?</p>
      </div>

      <footer>
        <a class="button cancel do-not-save">No, Go To My Dashboard</a>
        <a class="button do-save">Yes, Save My Changes</a>
      </footer>
    </div>
  </div>
</script>
