---
http_interactions:
- request:
    method: get
    uri: https://api.getresponse.com/v3/campaigns?perPage=500
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - api-key my_cool_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Totalcount:
      - '2'
      Totalpages:
      - '1'
      Currentpage:
      - '1'
      X-Ratelimit-Limit:
      - '30000'
      X-Ratelimit-Remaining:
      - '29999'
      X-Ratelimit-Reset:
      - 600 seconds
    body:
      encoding: UTF-8
      string: |-
        [
            {
                "campaignId": "nA2DE",
                "href": "https://api.getresponse.com/v3/campaigns/nA2DE",
                "name": "xohellobaredge",
                "description": "xohellobaredge",
                "languageCode": "EN",
                "isDefault": "true",
                "createdOn": "2016-12-14T12:31:50+0000"
            },
            {
                "campaignId": "TnHwR",
                "href": "https://api.getresponse.com/v3/campaigns/TnHwR",
                "name": "campaignafterreset",
                "description": "campaignafterreset",
                "languageCode": "EN",
                "isDefault": "false",
                "createdOn": "2017-02-10T02:53:09+0000"
            }
        ]
  recorded_at: Tue, 14 Feb 2017 20:38:02 GMT
recorded_with: VCR 2.9.0
