---
http_interactions:
- request:
    method: get
    uri: https://test.api-us.com/admin/api.php?api_action=list_list&api_key=valid-active-campaign-key&api_output=json&ids=all
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"0":{"id":"1","name":"HelloBar List","cdate":"2017-01-25 17:47:54","private":"0","userid":"1","subscriber_count":7},"1":{"id":"2","name":"Pawe\u0142''s
        Test List","cdate":"2017-01-25 23:01:59","private":"0","userid":"1","subscriber_count":1},"result_code":1,"result_message":"Success:
        Something is returned","result_output":"json"}'
  recorded_at: Mon, 30 Jan 2017 20:58:06 GMT
recorded_with: VCR 2.9.0
