---
http_interactions:
- request:
    method: get
    uri: https://crossover.api-us1.com/admin/api.php?api_action=list_list&api_key=valid-active-campaign-key&api_output=json&ids=all
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"0":{"id":"1","name":"HelloBar List","cdate":"2017-01-25 17:47:54","private":"0","userid":"1","subscriber_count":7},"1":{"id":"2","name":"Pawe\u0142''s
        Test List","cdate":"2017-01-25 23:01:59","private":"0","userid":"1","subscriber_count":1},"result_code":1,"result_message":"Success:
        Something is returned","result_output":"json"}'
  recorded_at: Mon, 30 Jan 2017 20:58:06 GMT
- request:
    method: get
    uri: https://api.getresponse.com/v3/campaigns?perPage=500
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - api-key my_cool_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Totalcount:
      - '2'
      Totalpages:
      - '1'
      Currentpage:
      - '1'
      X-Ratelimit-Limit:
      - '30000'
      X-Ratelimit-Remaining:
      - '29999'
      X-Ratelimit-Reset:
      - 600 seconds
    body:
      encoding: UTF-8
      string: |-
        [
            {
                "campaignId": "nA2DE",
                "href": "https://api.getresponse.com/v3/campaigns/nA2DE",
                "name": "xohellobaredge",
                "description": "xohellobaredge",
                "languageCode": "EN",
                "isDefault": "true",
                "createdOn": "2016-12-14T12:31:50+0000"
            },
            {
                "campaignId": "TnHwR",
                "href": "https://api.getresponse.com/v3/campaigns/TnHwR",
                "name": "campaignafterreset",
                "description": "campaignafterreset",
                "languageCode": "EN",
                "isDefault": "false",
                "createdOn": "2017-02-10T02:53:09+0000"
            }
        ]
  recorded_at: Tue, 14 Feb 2017 20:38:02 GMT
recorded_with: VCR 2.9.0

