---
http_interactions:
- request:
    method: get
    uri: https://api.getresponse.com/v3/campaigns?perPage=500
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - api-key 796aea075924b6621b99d7eb1c575335
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Totalcount:
      - '1'
      Totalpages:
      - '1'
      Currentpage:
      - '1'
      X-Ratelimit-Limit:
      - '30000'
      X-Ratelimit-Remaining:
      - '29999'
      X-Ratelimit-Reset:
      - 600 seconds
    body:
      encoding: ASCII-8BIT
      string: |-
        [
            {
                "campaignId": "nA2DE",
                "href": "https://api.getresponse.com/v3/campaigns/nA2DE",
                "name": "xohellobaredge",
                "description": "xohellobaredge",
                "languageCode": "EN",
                "isDefault": "true",
                "createdOn": "2016-12-14T12:31:50+0000"
            }
        ]
  recorded_at: Mon, 30 Jan 2017 20:38:37 GMT
recorded_with: VCR 2.9.0
