/*-----------  Editor  -----------*/

$linkWidth : 3.5em
$stepWidth : 22.5em

.editor-wrapper
  width: 100%
  height: 100%
  position: relative

  // > [class*='-wrapper']
  //   overflow-y: auto
  //   overflow-x: hidden

  /*-----------  Sidebar Links  -----------*/

  .links-wrapper
    top: 0
    left: 0
    height: 100%
    z-index: 1000
    position: absolute
    border-right: $border
    background-color: $grayLighter

    li
      display: block
      text-align: center
      position: relative
      @include user-select(none)

      a
        color: $gray
        display: block
        width: $linkWidth
        line-height: $linkWidth
        background-color: $grayLighter

        &:hover
          color: $red

        &.active
          color: $red
          pointer-events: none
          background-color: $white

        i
          width: 100%
          cursor: pointer
          font-size: 1.67em
          margin-bottom: -0.25em
          @include inline-block()

      .hover-tip
        top: 28%
        left: 100%
        opacity: 0
        color: $white
        font-size: 0.7em
        position: absolute
        white-space: nowrap
        pointer-events: none
        letter-spacing: 0.03em
        border-radius: $radius
        background: $grayDarkest
        font-weight: $fontWeightBold
        padding: 0.2em 1.33em 0.25em 0.75em
        @include left-arrow(0.67em, $grayDarkest)
        @include transition(0.5s)
        @include antialiased()

      &:hover

        a:not(.active) ~ .hover-tip
          left: 133%
          opacity: 1

    .step-links
      padding: 3em 0

    .action-links
      padding-bottom: 1.5em

      li
        overflow: hidden

      .toggle-mobile,
      .toggle-fullscreen
        @include clearfix()

        a
          width: 200%
          margin-left: -100%
          @include transition(0.25s)

          i
            width: 50%
            float: left

      .toggle-fullscreen a i:first-child
        margin-top: -6px
        @include transform(rotate(180deg))
  
  /*-----------  Main Viewport  -----------*/

  .viewport-wrapper
    width: 100%
    height: 100%
    padding-left: $linkWidth * 1.075
    @include justify-content(space-between)
    @include align-items(stretch)
    @include flex-flow(row nowrap)
    @include display(flex)    

    /*-----------  Preview  -----------*/

    .preview-wrapper
      @include striped-bg($grayLighter)
      @include flex(1 0 auto)

  /*-----------  Alternate States  -----------*/

  &.is-fullscreen

    .toggle-fullscreen a
      margin-left: 0% !important

    .step-wrapper
      margin-left: -$stepWidth

  &.is-mobile

    .toggle-mobile a
      margin-left: 0% !important

  /*-----------  Editor Modals  -----------*/
  
  .modal-wrapper


