/*-----------  Editor  -----------*/

#ember-root

  > .ember-view
    width: 100%
    height: 100%
    position: relative    

  .editor-wrapper
    width: 100%
    height: 100%
    overflow-y: auto
    overflow-x: hidden
    position: relative
    padding-left: 4.5em
    background-color: $white

    > [class*='-wrapper']
      overflow-y: auto
      overflow-x: hidden

    /*-----------  Sidebar Links  -----------*/
  
    .links-wrapper
      top: 0
      left: 0
      width: 4.5em
      height: 100%
      position: absolute
      border-right: $border
      background-color: $grayLighter

    /*-----------  Steps/Pages  -----------*/
  
    .step-wrapper
      padding: 2em
      border-right: $border

    /*-----------  Preview  -----------*/
  
    .preview-wrapper

  /*-----------  Editor Modals  -----------*/
  
  .modal-wrapper


