/*-----------  Editor Elements  -----------*/

.editor-wrapper

  h6
    font-size: 0.95em
    line-height: 133%
    color: $grayDarkest
    letter-spacing: 0.02em

  p
    color: $grayDarker
    font-size: 0.8em
    line-height: 150%
    letter-spacing: 0.02em

  /*-----------  Buttons  -----------*/

  .button
    @extend %green-button

  /*-----------  Color Select  -----------*/

  .color-select
    position: relative
    @include user-select(none)
    
    .color-select-spacer
      height: 2.67em
      display: block

    .color-select-wrapper
      top: 0
      left: 0
      width: 100%
      padding: 0.33em
      overflow: hidden
      font-size: 0.85em
      max-height: 2.67em
      position: absolute
      margin: 0.75em auto
      border: 1px solid $gray
      background-color: $white
      @include transition(0.15s ease-in-out)
      @extend .select-wrapper

      .color-select-block
        cursor: pointer
        line-height: 1.85em
        padding-bottom: 0.5em
        text-transform: uppercase

        .color-preview
          width: 2.5em
          height: 1.75em
          margin-right: 0.67em
          border: 1px solid $gray
          @include inline-block()

      .color-dropdown
        width: 95%
        opacity: 0
        margin: 0 auto
        padding: 0.67em 0
        border-top: 1px solid $grayLight
        @include transition(0.25s ease-in-out)

        .color-preview-row
          @include clearfix()

          ul
            width: 69%
            margin-bottom: 0.5em
            cursor: url('eyedropper.svg') 0 18, auto
            @include justify-content(space-between)
            @include align-items(stretch)
            @include flex-flow(row nowrap)
            @include display(flex)    


            .color-preview
              width: 22%
              height: 1.1em
              border-radius: $radiusSm
              border: 1px solid $gray
              @include inline-block()

          small
            width: 25%
            float: right
            color: $gray
            line-height: 1.67em

        .color-picker
          padding-top: 0.33em
          @include clearfix()

          .gradient-block
            width: 69%
            float: left
            height: 9.67em
            border: 1px solid $gray

          .minicolors
            float: left

          .eyedrop-button
            width: 25%
            float: right
            cursor: pointer
            color: $grayDark
            text-align: center
            margin-bottom: 2.65em
            border-radius: $radiusSm
            border: 1px solid $grayLight
            @include inline-block()

            i:before
              line-height: 2em

            &:hover
              color: $grayDarker
              border-color: $gray

          .rgb-block
            width: 25%
            float: right
            margin-top: 0.25em
            padding: 0.25em 0.5em
            border-radius: $radiusSm
            border: 1px solid $grayLight

            h6
              @include inline-block(inherit)

            span
              float: right

    &.in-focus

      .color-select-wrapper
        z-index: 900
        max-height: 21em
        box-shadow: $shadowSubtle
    
        &:before
          @include transform(rotate(-180deg))

        .color-dropdown
          opacity: 1

    &.is-selecting

      .eyedrop-button
        color: $green !important
        border-color: $green !important

  /*-----------  Toggle Switches -----------*/

  .toggle-switch
    padding: 2px
    float: right
    cursor: pointer
    margin-top: -4px
    border-radius: $radiusSm
    background-color: $white
    border: 1px solid $grayLight
    @include user-select(none)
    @include inline-block()
    @include transition()

    span
      color: $grayLight
      text-align: center
      line-height: 1.25rem
      text-transform: uppercase
      @include transition()

      &.toggle-on
        opacity: 0
        float: left
        margin-left: 2px
        font-size: 0.75em

      &.toggle-off
        opacity: 1
        float: right
        margin-top: 1px
        font-size: 0.7em
        margin-right: 2px

    .toggle-floater
      width: 1.45em
      height: 1.45em
      margin-left: 0
      border-radius: 2px
      margin-right: 1.75em
      background-color: $grayLight
      @include transition(0.2s)

    &:hover
      border-color: $gray
      box-shadow: inset $shadowSubtle

      span
        color: $gray
    
      .toggle-floater
        box-shadow: $shadowSubtle
        background-color: $gray
    
    &.is-selected
      border-color: $green
      background-color: $green

      span
        color: $white

        &.toggle-on
          opacity: 1

        &.toggle-off
          opacity: 0

      .toggle-floater
        margin-right: 0
        margin-left: 1.75em
        background-color: $white
    
      &:hover
        box-shadow: inset $shadow
      
        .toggle-floater
          box-shadow: $shadow

