/*-----------  Goal Interstitial  -----------*/

$transition: 1s

.goal-interstitial
  top: 0
  left: 0
  width: 100%
  height: 100%
  position: fixed
  z-index: 999999
  text-align: center
  min-width: $maxWidth
  background-color: $grayLightest
  @include transition($transition all ease-in-out)

  header
    padding: 1em
    text-align: center
    background-color: $white
    border-bottom: 1px solid $grayLighter
    @include transition($transition all ease-in-out)

    h5
      margin: 0
      color: $red
      letter-spacing: 0.02em
      text-transform: uppercase

  footer
    color: $gray
    padding: 3em
    margin: 0 auto
    text-align: center
    border-top: 1px solid $grayLighter
    @include transition($transition all ease-in-out)
    @include inline-block()

    a
      color: $red

  /*-----------  Goal Block  -----------*/

  .goal-wrapper
    text-align: center
    margin: 6em auto 4em
    @include justify-content(center)
    @include flex-flow(row nowrap)
    @include align-items(stretch)
    @include display(flex)

    .goal-block
      margin: 0 1em
      padding: $gutter
      border-radius: $radiusLg
      background-color: $white
      box-shadow: 0 0 0 rgba(0,0,0,0)
      @include transition($transition/1.5 all ease-in-out)
      @include flex(0 1 18.5em)

      i
        width: 4.95em
        height: 4.95em
        position: relative
        border-radius: 10em
        border: 2px solid transparent
        @include inline-block()

        &:before
          font-size: 1.85em
          @include center-align()

        &.icon-social
          color: $blue
          border-color: $blue

          &:before
            margin-left: -2px

        &.icon-clicks
          color: $yellow
          border-color: $yellow

          &:before
            margin-left: 1px

        &.icon-contacts
          color: $green
          border-color: $green

          &:before
            margin-top: 1px

        &.icon-feedback
          color: $purple
          border-color: $purple

          &:before
            margin-top: 1px

      h6
        color: $grayDark
        margin: 1.5em 0 0.33em

      p
        color: $gray
        padding: 0 0.5em
        font-size: 0.8em
        letter-spacing: 0.02em

      button
        width: 100%
        display: block
        font-size: 0.95em
        margin-top: 1.33em
        margin-bottom: -4px
        border-radius: $radiusLg
        text-transform: uppercase
        font-weight: $fontWeightBold
        @extend %inverted-button

      &:hover

        i
          @include animation(jingle 0.67s ease-out 1)

  /*-----------  Selection Fade  -----------*/

  &.transitioning
    opacity: 0

    header,
    footer
      @include filter(blur(2px))

    .goal-block
      @include transform(scale(0.75))
      @include filter(blur(2px))

      &.selected
        @include transform(scale(1.15))
