/*-----------  Editor Steps/Pages  -----------*/

.editor-wrapper
  /*-----------  Step Navigations  -----------*/

  .step-navigation
    z-index: 16
    position: absolute
    width: 379px
    bottom: 0
    left: 0
    transition: all 0.5s

    nav
      justify-content: space-between
      align-items: center
      flex-flow: row nowrap
      display: flex
      background: white
      width: 100%
      height: 100%
      min-height: 100%
      padding: 15px
      box-shadow: 0 0 1px rgba(0,0,0,0.3)

      .button
        display: flex
        align-items: center
        padding: 0.55em 1em
        background-color: $actionColor
        font-weight: bold
        transition: all 0.5s

        &.disabled
          background-color: $grayLightColor
          pointer-events: none

        &:first-child
          margin-right: 20px

        &:last-child
          margin-left: 20px

        .icon-angel-left
          margin-right: 10px

        .icon-angel-right
          margin-left: 10px

        .icon-angel-left,
        .icon-angel-right
          display: inline-block
          width: 8px
          line-height: 0

          svg
            fill: white

      .nav-dot
        width: 12px
        height: 12px
        border-radius: 1em
        background-color: $grayLight
        transition: all 0.15s ease-out 0s

        &:hover
          cursor: hover
          background-color: $actionColor

        &.past
          background-color: $actionColor

        &.active
          background-color: $actionColor

    .pin
      position: absolute
      top: 10px
      background: white
      width: 35px
      height: 45px
      border-radius: 0 10px 10px 0
      display: flex
      justify-items: center
      box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.2)
      border: 1px solid rgba(0,0,0,0.1)
      cursor: pointer
      transition: all 0.5s
      transform: translate(379px, 0)

      .icon-angel-right,
      .icon-angel-left
        fill: $actionColor
        width: 10px
        height: 14px
        margin: auto

&.is-fullscreen
  .step-wrapper
    margin-left: -430px

  .viewport-wrapper
    padding-left: 0

  .side-navigation
    margin-left: -90px

  .step-navigation
    margin-left: -430px

  .pin
    transform: translate(430px, 0)!important

.editor-wrapper .step-wrapper
  background-color: $white
  transition: all 0.5s

  label
    @include antialiased()

  .step-title
    text-align: center
    font-weight: bold
    line-height: 3em
    margin: 0 -0.75em 1em
    border-bottom: $borderLight
    @include antialiased()

  .step-title-hint
    font-size: 0.8em
    color: #7e7e7e
    font-weight: 100
    text-align: center
    margin-bottom: 2.5em

  .step-arrow
    right: 0
    position: absolute
    @include vertical-align()
    @extend %green-button
    padding: 0.33em 0.75em 0.5em

    &.disabled
      background-color: gray

  p
    a
      color: $blue
      text-decoration: underline

  hr
    border: none
    border-bottom: $borderLight
    margin: $gutterSm -0.75em $gutter

  .tabs-wrapper
    padding: 0 0.75em
    margin: $gutterSm -0.75em -0.5em
    border-bottom: 1px solid #e2e2e2

    a
      font-size: 90%
      border-bottom-width: 1px
      color: #a6a6a6

      &.active
        color: #e8562a

  /*-----------  Radio Blocks  -----------*/

  .radio-blocks-wrapper

    .radio-block
      font-weight: normal
      @extend %outlined-block

      i::before
        bottom: -2px
        position: relative

      &::after
        right: 1rem
        color: $green
        position: absolute
        font-size: 1.25rem
        font-weight: lighter
        transition: all 0.15s ease-out 0s
        @include vertical-align()
        @include use-hb-icon('\f106')

      i.hellobar-icon-mail
        color: #666

      & + .radio-block
        margin-top: 0.33rem

        i
          position: relative

          &::after
            right: 1px
            bottom: 0px
            content: '+'
            line-height: 0
            font-size: 0.67rem
            position: absolute
            border-radius: 10em
            background-color: $white
            border: 1px solid $green
            padding: 4px 1px 3px 1px

        i.hellobar-icon-mail
          color: #666

          &::after
            border: 1px solid #666

    /*-----------  STATE: Is Selected  -----------*/

    &:not(.is-selected)

      .radio-block:first-child
        opacity: 1
        border-color: $gray

        &::after
          opacity: 1

      .radio-block:last-child

        &::after
          opacity: 0

    &.is-selected

      .radio-block:first-child

        &::after
          opacity: 0

      .radio-block:last-child
        opacity: 1
        border-color: $gray

        &::after
          opacity: 1


  /*-----------  Step Links  -----------*/

  .step-link-wrapper
    margin-bottom: -1em
    transition: all 0.15s ease-out 0s
    display: flex
    align-items: stretch
    flex-flow: row wrap
    justify-content: space-between

    .step-link-block
      width: 120px
      position: relative
      margin-bottom: 0.67em
      transition: 0.67s
      border: 1px solid #dcdcdc
      border-radius: 5px
      padding: 10px
      text-align: center
      cursor: pointer
      @include clearfix()

      img
        padding: 10px

      h6
        padding-bottom: 0.25em
        white-space: nowrap

      &:focus
        outline: 0

      &.is-selected
        border-color: $grayDarkColor
        border-width: 2px

    .change-selection
      cursor: default !important
      opacity: 0
      cursor: pointer
      font-size: 0.75em
      margin-top: 0.5em
      padding-left: 18%
      color: $gray
      text-transform: uppercase
      @include inline-block()

      i
        font-size: 0.85em
        margin-right: 0.33em

  .substep
    margin-top: 2.5em
    margin-bottom: 40px

  /*-----------  Step: Settings  -----------*/

  .settings.ember-view

    .step-link-block

      .icon-contacts
        color: $green
        margin-top: -5px

      .icon-call
        color: $purple

      .icon-social
        color: $blue

      .icon-clicks
        color: $yellow

      .icon-megaphone
        color: $red

    .substep.call

      input
        margin-bottom: 0

      .select-wrapper
        margin-top: 0

    .substep.emails-variant

      > label
        margin-top: 2em
        margin-bottom: 0.5em

        &.small
          margin-bottom: 0
          font-size: 0.75em
          margin-top: 1.25em

  /*-----------  Step: Style  -----------*/

  .style.ember-view

    .step-link-block

      .icon-bar,
      .icon-modal
        color: $grayLight
        font-size: 2em

      .icon-bar
        margin-top: -10px

  /*-----------  Step: Text & Content  -----------*/

  .text-pane

    label

      &.questions
        margin: $gutter 0

      .toggle-switch
        margin-top: 0.33em

  /*-----------  Step: Targeting  -----------*/

  .targeting.ember-view

    .step-link-wrapper

      &.is-selected
        border: none

        .saved-rule:not(.active)
          padding-top: 0
          border-top: 0

      .change-selection
        margin-top: 10px

      .substep

        .select-wrapper, p
          margin-top: 0
          width: 82%
          float: right

    .step-link-block
      max-height: none

      &.saved-rule:not(.active)
        padding-top: 25px
        border-top: 1px solid $grayLightest

      &.can-target

        .paid
          display: none

        .left-condense

          .left
            max-width: 100%

      i
        color: $grayLight
        font-size: 2em

        &.hellobar-icon-people
          font-size: 40px
          left: -5px

        &.hellobar-icon-mobile-phone
          font-size: 34px
          left: 2px

        &.hellobar-icon-saved-segment
          font-size: 34px

      p
        padding-right: 10%

      .paid
        font-weight: 700
        line-height: 8px
        font-size: 10px
        padding: 5px 9px
        margin-left: 10px

      .left-condense

        .left
          max-width: 50%
          display: inline-block

        .paid
          margin-left: 0
          position: relative
          bottom: 18px

    .substep
      margin-top: 0.33em

    label[class]
      font-size: 1em

      span
        font-size: 0.85em

    /*-----------  Step: Targeting/Scroll  -----------*/

    label.scroll-element,
    label.scroll-percentage
      @include clearfix()

      .psudo-radio
        width: 0.9em
        height: 0.9em
        cursor: pointer
        padding: 0.15em
        border-radius: 10em
        border: 1px solid $gray
        background-color: $white
        box-shadow: inset 0 0 0 2px $white
        @include inline-block()
        transition: all 0.15s ease-out 0s

      input
        margin: 0 0.25em !important

        &[disabled]
          background-color: red

      span
        font-size: 0.85em
        line-height: 100%
        user-select: none
        @include inline-block()

        small
          color: $gray

      &.is-selected

        .psudo-radio
          border-color: $green
          background-color: $green

    label.scroll-percentage
      margin-top: 0.9em

      input
        width: 15% !important

    label.scroll-element
      margin-top: 0.25em

      input
        width: 33% !important

    /*-----------  Step: Targeting/Delay  -----------*/

    label.time-delay
      margin-top: 0.15em

      > *
        @include inline-block()

      input[type="text"]
        width: 14% !important
        margin-right: 0.25em !important

      .select-wrapper
        width: 50% !important
