/*-----------  Editor Steps/Pages  -----------*/

.editor-wrapper .step-wrapper

  .step-title
    text-align: center
    line-height: 2.5em
    letter-spacing: 0.05em
    margin: 0 -0.75em 1.5em
    border-bottom: $borderLight
    @include antialiased()

  p
    padding-right: 15%

    a
      color: $blue
      text-decoration: underline

  /*-----------  Step Links  -----------*/

  .step-link-wrapper
    margin-bottom: -1em
    @include transition()

    .step-link-block
      opacity: 1
      display: block
      overflow: hidden
      max-height: 5.5em
      margin-bottom: 0.67em
      @include transition(0.67s)
      @include clearfix()

      i
        float: left
        font-size: 1.75em
        @include transition()

      h6, p
        width: 82%
        float: right

      h6
        padding-bottom: 0.25em

    .change-selection
      cursor: default !important
      opacity: 0
      color: $gray
      cursor: pointer
      font-size: 0.75em
      padding-left: 18%
      text-transform: uppercase
      @include inline-block()

      i
        font-size: 0.85em
        margin-right: 0.33em

    &.is-selected
      padding-bottom: 1.5em
      border-bottom: $borderLight

      .step-link-block:not(.active)
        opacity: 0
        max-height: 0
        margin-bottom: 0

      .step-link-block.active
        margin-bottom: -0.67em

      .change-selection
        opacity: 1
        cursor: pointer !important

        &:hover
          color: $red

  .substep
    margin-top: 2.5em

  /*-----------  Step Navigations  -----------*/

  .step-navigation
    margin: 3em 0
    @include justify-content(space-between)
    @include align-items(center)
    @include flex-flow(row nowrap)
    @include display(flex)

    .button
      padding-top: 0.55em
      padding-bottom: 0.55em

    .nav-dot
      width: 10px
      height: 10px
      border-radius: 1em
      background-color: $gray

      &.past
        background-color: $green

      &.active
        width: 13px
        height: 13px
        border: 2px solid $green
        background-color: $white

  /*-----------  Step: Settings  -----------*/

  .settings.ember-view
    
    .step-link-block

      .icon-contacts
        color: $green
        margin-top: -5px

      .icon-social
        color: $blue

      .icon-clicks
        color: $yellow

      .icon-feedback
        color: $purple

  /*-----------  Step: Style  -----------*/

  .style.ember-view
    
    .step-link-block

      .icon-bar,
      .icon-modal
        color: $grayDark
        font-size: 2em

      .icon-bar
        margin-top: -10px

  /*-----------  Step: Targeting  -----------*/

  .targeting.ember-view
    
    .substep
      margin-top: 0.33em

    label[class]
      font-size: 1em

      span
        font-size: 0.85em

    /*-----------  Step: Targeting/Scroll  -----------*/

    label.scroll-element,
    label.scroll-percentage
      @include clearfix()

      .psudo-radio
        width: 0.9em
        height: 0.9em
        cursor: pointer
        padding: 0.15em
        border-radius: 10em
        border: 1px solid $gray
        background-color: $white
        box-shadow: inset 0 0 0 2px $white
        @include inline-block()
        @include transition()

      input
        margin: 0 0.25em !important

        &[disabled]
          background-color: red

      span
        font-size: 0.85em
        line-height: 100%
        @include user-select(none)
        @include inline-block()

        small
          color: $gray

      &.is-selected

        .psudo-radio
          border-color: $green
          background-color: $green

    label.scroll-percentage
      margin-top: 0.9em

      input
        width: 15% !important

    label.scroll-element
      margin-top: 0.25em

      input
        width: 33% !important

    /*-----------  Step: Targeting/Delay  -----------*/

    label.time-delay
      margin-top: 0.15em

      > *
        @include inline-block()

      input[type="text"]
        width: 14% !important
        margin-right: 0.25em !important

      .select-wrapper
        width: 50% !important

  /*-----------  Save Button  -----------*/

  .save-button
    width: 40%
    margin: 0 auto
    display: block
    text-align: center
    background-color: $red

    &:hover
      background-color: darken($red, 15%)
