<table>
  <tbody>
  <tr>
    <td style="font-weight: lighter;">
      <%= greeting %><br><br>
      We noticed you were in the
      dashboard recently and didn't quite finish the process of configuring your first
      Hello Bar.<br><br>It's a powerful tool and we have built in many customization
      options on purpose. That sometimes means that the first Bar can seem a little
      overwhelming.<br><br>In our experience with over 100,000 users, the key thing is
      just to start with a simple bar that uses a default style and maybe just delivers an
      announcement to your website visitors.<br><br>Once you see the bar up and running,
      no doubt you'll have ideas about different messages to try, different placements of
      the bar on your page, and so on.<br><br>Just remember that
      <b>you don't need to make all those detailed customization decisions right
        away. </b>You've done good work to have come this far with Hello Bar. So when you
      have a spare couple of minutes, we suggest you <b>get a simple, bare-bones bar </b>
      up and working for you. You can
      <a href="https://www.hellobar.com/users/sign_in"> log back in here</a>. <br><br>Also
      please remember that we have U.S.-based support experts who are available to
      <a href="http://support.hellobar.com/">answer any questions</a> you have.<br><br>We
      look forward to hearing how Hello Bar helps you with your website goals!
    </td>
  </tr>
  </tbody>
</table>

