<table>
  <tbody>
  <tr>
    <td style="font-weight: lighter;">
      <%= greeting %><br><br>We just noticed that you were in
      the process of setting up your first Hello Bar but that process is not finished.<br><br>Here's
      the good stuff that's in store for you just minutes from now, after you finish
      setting up Hello Bar:
      <ul>
        <li>You'll be able to get your visitors' attention more easily the moment they
          land on your site.
        </li>
        <li>Then you'll gather more email addresses with Hello Bar because it's visible
          but not annoying.
        </li>
        <li>Hello Bar will enable you to make announcements about special offers or pages
          you want people to focus on.
        </li>
        <li>You can also use Hello Bar to make sure people know about deadlines coming
          up.
        </li>
      </ul>
      <br><br>Oh, and you'll get all of this for free.<br><br>It's easy to
      <a href="https://www.hellobar.com/users/sign_in">log back in</a> and pick it up
      where you left off.<br><br>We look forward to hearing soon about how Hello Bar
      supports your website goals.
    </td>
  </tr>
  </tbody>
</table>
