/*-----------  Site Installation  -----------*/

#sites-show .installation-page
  margin: 0 auto
  max-width: 52em

  header
    max-width: 42em
    text-align: center
    margin: 0 auto 3em

    h1
      margin-bottom: 0.5em    

  > h5
    font-size: 1em
    color: $grayLight
