/*-----------  Site Installation  -----------*/

#sites-show .statistics-page

  .activity-wrapper
    margin-top: -0.75em
    border-spacing: 0 0.15em
    border-collapse: separate

    a
      text-decoration: none
      color: $gray

  .temporary-block
    margin-bottom: 2em

  .view-more
    margin-top: 0.5em
    text-align: right

    a
      color: $blueLight
      text-decoration: underline

      &:hover
        color: $blue
