  <div class="columns">
    <div class="field-wrapper">
      <label for="content-upgrade-title">Title</label>
      <input name="content_upgrade_title" id="input-content-upgrade-title" type="text" value="<%= @content_upgrade.content_upgrade_title %>">
    </div>

    <div class="field-wrapper">
      <label for="content-upgrade-url">URL</label>
      <input name="content_upgrade_url" id="input-content-upgrade-url" type="text" value="<%= @content_upgrade.content_upgrade_url %>">
    </div>
  </div>
