<p>Some form things</p>

<form>
  <h3>Offer Headline</h3>

  <div class="field-wrapper">
    <label for="offer-headline">Your link should look like</label>
    <input id="offer-headline" type="text">
  </div>

  <h3>Modal Elements</h3>

  <div class="field-wrapper">
    <label for="caption-text">Caption Text</label>
    <input id="caption-text" type="text">
  </div>

</form>



<input type="submit" value="Save">
