<script type="text/javascript">

  $(function () {

    $("input").on("change",function(){
      load_styles();
    });

    $("select").on("change",function(){
      load_styles();
    });

    function load_styles(){
      $("#offer").css("background-color",$("#offer-background-color").val());
      $("#offer").css("color",$("#offer-text-color").val());
      $("#offer a").css("color",$("#offer-link-color").val());
      $("#modal-button").css("background-color",$("#modal-button-color").val());
      $("#offer").css("border-color",$("#offer-border-color").val());
      $("#offer").css("border-style",$("#offer-border-style").val());
      $("#offer").css("border-width",$("#offer-border-width").val());
      $("#offer").css("border-radius",$("#offer-border-radius").val());
    }

    load_styles();

  });

</script>

<style type="text/css">
  .alert {
    text-align: center;
    padding: 2em;
    font-weight: 600;
    background: #ffffb6;
    font-size: 18px;
  }

  .alert a:hover{
    text-decoration: underline;
  }


</style>

<style>
.content-upgrade-modal-preview {
  left: 0
  top: -100%
  width: 100%
  height: 100%
  z-index: 900000
  position: fixed
  overflow-x: auto
  overflow-y: scroll
  font-family: "proxima-nova", sans-serif;
}
/* line 8, /Users/swrainey/apps/hellobar_new/app/assets/stylesheets/components/_content-upgrade-preview.sass */
.content-upgrade-offer-preview a {
  color: black;
  text-decoration: underline;
}

/* line 12, /Users/swrainey/apps/hellobar_new/app/assets/stylesheets/components/_content-upgrade-preview.sass */
.content-upgrade-modal-preview {
  padding: 20px;
  background-color: #404157;
  text-align: center;
  font-size: 13px;
  background-color: #fefefe;
margin: auto;
border-style: solid;
border-width: 1px;
border-color: #efefef;
max-width: 670px;
}


/* line 44, /Users/swrainey/apps/hellobar_new/app/assets/stylesheets/components/_content-upgrade-preview.sass */

.content-upgrade-modal-preview .progress {
  padding: 5px;
  margin: auto;
  width: 95%;
}

.content-upgrade-modal-preview .caption {
  margin: auto;
  color: #000;
  border-bottom: solid 1px #ccc;
  font-size: 10pt;
  padding: 8px 0;
  width: 85%;
  max-width:520px;
}
/* line 51, /Users/swrainey/apps/hellobar_new/app/assets/stylesheets/components/_content-upgrade-preview.sass */
.content-upgrade-modal-preview .headline {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
font-size: 18pt;
letter-spacing: 0em;
  color: #333;
  font-size: 18pt;
  font-weight: 700;
  padding: 30px;
  max-width: 500px;
  margin: auto;
}
/* line 56, /Users/swrainey/apps/hellobar_new/app/assets/stylesheets/components/_content-upgrade-preview.sass */
.content-upgrade-modal-preview .form {
  padding: 0 30px;
}
/* line 59, /Users/swrainey/apps/hellobar_new/app/assets/stylesheets/components/_content-upgrade-preview.sass */
.content-upgrade-modal-preview input {
  padding: 13px;
  max-width: 450px;
  margin: auto;
  margin-bottom: 15px;
  font-size: 1.2em;
  color: #201D1D;
  background: white;
  border: 1pt solid #C9D7DD;
}

/* line 64, /Users/swrainey/apps/hellobar_new/app/assets/stylesheets/components/_content-upgrade-preview.sass */
.content-upgrade-modal-preview .cta {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1285dd;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
  padding: 20px;
  font-size: 18px;
  max-width: 450px;
  margin-top:5px;
}
/* line 73, /Users/swrainey/apps/hellobar_new/app/assets/stylesheets/components/_content-upgrade-preview.sass */
.content-upgrade-modal-preview .spam-disclaimer {
  margin-top: 8px;
  color: #9c9c9d;
  font-size: 14px;
}
.content-upgrade-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 900000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
</style>

<h2>Style Editor</h2>


<%= form_tag update_styles_site_content_upgrades_path(@site.id), method: "post" do %>
  <div class="content-upgrade-form">

    <div class="columns">
      <div class="form-column">


        <div class="field-wrapper">
          <label for="offer-background-color">Offer Background Color</label>
          <input name="offer_bg_color" id="offer-background-color" type="color" class="style-input js-color-picker-field color-picker-field"
                 value="<%= @styles['offer_bg_color'] || '#504157' %>" >
        </div>

        <div class="field-wrapper">
          <label for="offer-text-color">Offer Text Color</label>
          <input id="offer-text-color" type="color" class="js-color-picker-field color-picker-field"
                 value="#ffffff" class="style-input">
        </div>

        <div class="field-wrapper">
          <label for="offer-link-color">Offer Link Color</label>
          <input id="offer-link-color" type="color" class="style-input js-color-picker-field color-picker-field" value="#ffffff" >
        </div>

        <div class="field-wrapper">
          <label for="offer-border-color">Offer Border Color</label>
          <input name="offer-border-color" id="offer-border-color" type="color" class="style-input js-color-picker-field color-picker-field"
                 value="#404157" data-property="offerBorderColor" data-styles="offer">
        </div>

        <div class="select-wrapper">
          <label for="offer-border-width">Offer Border Thickness</label>
          <select id="offer-border-width" class="style-input">
            <option value="0px">0px</option>
            <option value="1px">1px</option>
            <option value="2px">2px</option>
            <option value="3px">3px</option>
            <option value="4px">4px</option>
            <option value="5px">5px</option>
          </select>
        </div>

        <div class="select-wrapper">
          <label for="offer-border-style">Offer Border Style</label>
          <select id="offer-border-style" class="style-input">
            <option value="solid">Solid</option>
            <option value="dotted">Dotted</option>
            <option value="dashed">Dashed</option>
          </select>
        </div>

        <div class="select-wrapper">
          <label for="offer-border-radius">Offer Border Radius</label>
          <select id="offer-border-radius" class="style-input">
            <option value="0px">0px</option>
            <option value="1px">1px</option>
            <option value="2px">2px</option>
            <option value="3px">3px</option>
            <option value="4px">4px</option>
            <option value="5px">5px</option>
            <option value="6px">6px</option>
            <option value="7px">7px</option>
            <option value="8px">8px</option>
            <option value="9px">9px</option>
            <option value="10px">10px</option>
          </select>
        </div>


        <div class="field-wrapper">
          <label for="modal-button-color">Modal Button Color</label>
          <input id="modal-button-color" type="color" class="style-input js-color-picker-field color-picker-field" value="#ffffff">
        </div>

      </div>

      <div class="preview-column" style="max-width:900px;">
        <p id="offer" class="alert">Do you produce content often? <a href="#">Download this how to guide</a> to create content that people will bookmark and remember.</p>

<div id="offer-preview" style="background-color:#eee; padding:50px;">
<div class="content-upgrade-modal-preview hb-cu-modal" >
  <div class="progress"><img id="leadpages-form-header-image" src="https://s3.amazonaws.com/assets.hellobar.com/status_gray_fifty_percent.gif"></div>
  <div class="caption">Almost there! Please complete this form and click the button below to gain instant access.</div>
  <div class="headline">Enter your details to download this how to guide to create content that people will bookmark and remember!</div>
  <div class="form">
    <input class="name" placeholder="First Name">
    <input class="email" placeholder="Email">
    <div id="modal-button" class="cta">Download Now &gt;&gt;</div>
  </div>
  <div class="spam-disclaimer">We hate SPAM and promise to keep your email address safe</div>
  </div>
</div>




      </div>
    </div>

    <div class="buttons">
      <input type="submit" class="save" value="Save">
      <%= link_to('List', site_content_upgrades_path(@site.id), :class => "list") %>
    </div>

  </div>

<% end %>
