---
http_interactions:
- request:
    method: get
    uri: https://s3.amazonaws.com/scripts-test.hellobar.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - AWS AKIAIZQQZ3QVHFC25PUA:Kc5WCw27EaijTfWWusp1CCXRuGc=
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Amz-Request-Id:
      - 159CFCBBAACC6175
      X-Amz-Bucket-Region:
      - us-east-1
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>scripts-test.hellobar.com</Name><Prefix></Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Contents><Key>/Users/dmitriy/Downloads/french-rose-default.jpeg</Key><LastModified>2016-06-14T20:59:49.000Z</LastModified><ETag>&quot;d41d8cd98f00b204e9800998ecf8427e&quot;</ETag><Size>0</Size><Owner><ID>a8fc4d630225391bbf6e680a26657a35afc9fba1aef78c872ff2d73e90b74466</ID><DisplayName>support</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>006c38c314a76d5b04e288eb24dd1587e20c506a.js</Key><LastModified>2014-04-08T16:15:24.000Z</LastModified><ETag>&quot;e0b55549cb825ef6c89c97cc8d66c3c1&quot;</ETag><Size>6597</Size><Owner><ID>a8fc4d630225391bbf6e680a26657a35afc9fba1aef78c872ff2d73e90b74466</ID><DisplayName>support</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>00e134527349fa9f81c4acf4ecebb2b0d483f5c5.js</Key><LastModified>2013-12-18T00:41:14.000Z</L[...]
