/*-----------  Conacts Dashboard  -----------*/

.invalid-field
  border: 1px solid $orange
  outline-style: double
  outline-color: $orange

[id^="contact_lists-"]

  table

    td

      img
        width: 2em
        height: auto
        margin-top: -3px
        margin-bottom: -3px

      span + img
        margin-left: 0.67em
        @include inline-block()

    td:first-of-type
      width: 35%

    td:last-of-type
      width: 13em
