{{#if allowImages}}
  <label>Upload an image</label>
  <div class="image-upload">
    {{image-upload
      setImageProps="setImageProps"
      existingURL=model.image_url
      existingFileName=model.image_file_name
    }}
  </div>

  {{#if showImagePlacementField}}
    <label>Image placement</label>
    <div class="select-wrapper">
      {{view Ember.Select
        content=imagePlacementOptions
        value=model.image_placement
        optionValuePath='content.value'
        optionLabelPath='content.label'
      }}
    </div>
  {{/if}}
{{else}}
  <label>Site Bars do not support images. You'll need to use a Modal, Slider, or Page Takeover to upload an image.</label>
{{/if}}
