{{#common/panels/collapse-panel title="Template" show=true}}
  <div class="design__template-name">{{templateName}}</div>
  <div class="design__hint">
    Check out our other templates by clicking the button below.
  </div>
  <div class="design__template-button" {{action "changeTheme"}}>Change template</div>
{{/common/panels/collapse-panel}}
