{{#common/panels/collapse-panel title="Phone Number"}}
  <label>Enter the phone number that will be dialed when a user clicks on the call button.</label>

  {{goals/call/call-goal-properties model=model}}
{{/common/panels/collapse-panel}}
