{{#common/panels/collapse-panel title="Button Styling"}}
  <div class="panel-input">
    <div class="panel-input__label">Color</div>
    <div class="panel-input__input">
      {{common/inputs/font-color color=model.button_color}}
    </div>
  </div>

  <div class="panel-input">
    <div class="panel-input__label">Rounded corners</div>
    <div class="panel-input__input">
      {{common/inputs/number-input value=model.cta_border_radius}}
    </div>
  </div>

  <div class="panel-input">
    <div class="panel-input__label">Border color</div>
    <div class="panel-input__input">
      {{common/inputs/font-color color=model.cta_border_color}}
    </div>
  </div>

  <div class="panel-input">
    <div class="panel-input__label">Border width</div>
    <div class="panel-input__input">
      {{common/inputs/number-input value=model.cta_border_width}}
    </div>
  </div>
{{/common/panels/collapse-panel}}
