.custom-html-editor
  width: 100%
  padding: 15px
  box-sizing: border-box
  @include clearfix()

  .code-input-container
    width: 33.3%
    float: left
    height: 350px

    .code-input
      height: 90%
      font-family: monospace, sans-serif
