/*-----------  Common  -----------*/

.custom-overlay
  position: fixed
  display: block
  width: 100%
  height: 100%
  top: 60px
  background-color: rgba(0, 0, 0, 0.7)
  z-index: 999
  .text
    position: absolute
    text-align: center
    top: 50%
    left: 20%
    font-size: 23px
    font-weight: bold
    color: white

.bounds-wrapper
  width: $minWidth
  margin-left: auto
  margin-right: auto
  position: relative

  @media screen and (max-width: 600px)
    width: auto

.info-block
  background-color: $info-yellow
  padding: 0.75em 2em
  margin-bottom: 3em
  border: 1px solid $grayLighter

.align-right
  float: right

.align-left
  float: left

abbr
  border-bottom: 1px dotted
  text-decoration: none

/*-----------  Page Header  -----------*/

.page-header
  color: $red
  position: relative
  margin-bottom: 2em
  padding-bottom: 0.5em
  padding-left: 0 !important
  text-align: left !important
  border-bottom: 2px solid $red

  h1, h2, h3, h4, h5, h6
    margin-top: 0
    margin-bottom: 0
    margin-right: 0.5rem
    @include inline-block(baseline)

  span
    @include inline-block(bottom)
    @include ellipsis()

  .dropdown-wrapper

    .dropdown-block
      border-color: $red

  &.alt
    border-color: $grayLighter

    *
      color: $grayLighter

    .dropdown-wrapper

      .dropdown-block
        border-color: $grayLighter
