p
  small= "#{ @form.site_url } has already been registered."
p
  small If you already have an account, you can log in below. Otherwise, you can continue creating a new Hello Bar account for this site.
