.span.close_span
  a.close_alert aria-label="close" data-dismiss="alert" href="#"  &times;
.span
  | We hope you've enjoyed your free trial of the Hello Bar Growth plan. You've got less than 7 days left!