= active_link_to 'Sign In', new_user_session_path
= terms_of_use_link
= privacy_policy_link
= link_to 'Support', 'https://support.hellobar.com', target: '_blank'

span.copyright
  | &copy; Hello Bar&nbsp;
  = Time.current.year
