= active_link_to 'Sign In', new_user_session_path
= active_link_to 'Use Cases', use_cases_path
= active_link_to 'Terms of Use', terms_of_use_path
= active_link_to 'Privacy Policy', privacy_policy_path
= active_link_to 'Help', 'http://support.hellobar.com/'

span.copyright
  | &copy; Hello Bar&nbsp;
  = Time.current.year
