- if display_referral_announcement?(site)
  .prompt.terms-and-conditions-prompt
    span
      span Thanks for signing up! You’re currently on a free plan, in order to activate your 30 day trial of our Growth Plan, you need to install the Hello Bar Script.
