- if display_terms_and_condition_updated?
  .prompt.terms-and-conditions-prompt
    span
      span Please review our updated #{terms_of_use_link} and #{privacy_policy_link}. By continuing to use Hello Bar, you agree to the terms of these revised documents.
