<div class="code-input-container">
  <h6>HTML</h6>
  {{textarea value=customHtml class="code-input"}}
</div>

<div class="code-input-container">
  <h6>CSS</h6>
  {{textarea value=customCss class="code-input"}}
</div>

<div class="code-input-container">
  <h6>JS</h6>
  {{textarea value=customJs class="code-input"}}
</div>

