<div style="width: 100%; margin: 15px;">
  <div style="width: 33.3%; float: left; height: 400px;">
    <h6>HTML</h6>
    {{textarea value=customHtml class="code-input"}}
  </div>

  <div id="second" style="width: 33.3%; float: left;height: 400px;">
    <h6>CSS</h6>
    {{textarea value=customCss class="code-input"}}
  </div>

  <div id="third" style="width: 33.3%; float: left;height: 400px;">
    <h6>JS</h6>
    {{textarea value=customJs class="code-input"}}
  </div>

  <div id="clear" style="clear: both;"></div>
</div>

<div id="clear" style="clear: both;"></div>
