---
http_interactions:
- request:
    method: post
    uri: https://ics2wstesta.ic3.com/commerce/1.x/transactionProcessor
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/">
          <s:Header>
            <wsse:Security s:mustUnderstand="1" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
              <wsse:UsernameToken>
                <wsse:Username>hellobar</wsse:Username>
                <wsse:Password Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText">YGxyAaeHOQe2vRoisqdInSI9DE4UEhiOVy5aYpoQewXKcCwF11FZRQncjhOlBU41Qo/MwaQ5vIEMuO/zdFTY+WhXYA8KVgquD2H5mgw/CK470t/oXKHNzzRdfcrYbdChFTloHTSm6TxV/Uo94MzIQSf+38eFYpjkOAei7Fm2esJlm2P3rKCBb10JGMvuE9hJAcJidFJ3qdlw9NzfCEWWzajJ9Wl4/Fc9zRszZ5zbX7oRmCkf/aRDu4nO6gML3wVWj1DkCylLdfYLnbjRFKfF8uHriOo/txJCZRuorM5KkjUTroXAGRq2G40btrXhiQsw4j10Gqa8JJCfM3tvnQoNyg==</wsse:Password>
              </wsse:UsernameToken>
            </wsse:Security>
          </s:Header>
          <s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <requestMessage xmlns="urn:schemas-cybersource-com:transaction-data-1.121">
              <merchantID>hellobar</merchantID>
              <merchantReferenceCode>9-1493326072</merchantReferenceCode>
              <clientLibrary>Ruby Active Merchant</clientLibrary>
              <clientLibraryVersion>1.65.0</clientLibraryVersion>
              <clientEnvironment>x86_64-darwin16</clientEnvironment>
        <billTo>
          <firstName>Tobias</firstName>
          <lastName>Luetke</lastName>
          <street1>123 Some St</street1>
          <city>Eugene</city>
          <state>OR</state>
          <postalCode>97408</postalCode>
          <country>US</country>
          <email>user24@hellobar.com</email>
        </billTo>
        <purchaseTotals>
          <currency>USD</currency>
          <grandTotalAmount>0.00</grandTotalAmount>
        </purchaseTotals>
        <card>
          <accountNumber>4111111111111111</accountNumber>
          <expirationMonth>08</expirationMonth>
          <expirationYear>2019</expirationYear>
          <cvNumber>123</cvNumber>
          <cardType>001</cardType>
        </card>
        <subscription>
          <paymentMethod>credit card</paymentMethod>
        </subscription>
        <recurringSubscriptionInfo>
          <amount>0.00</amount>
          <frequency>on-demand</frequency>
          <approvalRequired>false</approvalRequired>
        </recurringSubscriptionInfo>
        <paySubscriptionCreateService run="true"/>
        <businessRules>
          <ignoreAVSResult>true</ignoreAVSResult>
        </businessRules>
            </requestMessage>
          </s:Body>
        </s:Envelope>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opnet-Transaction-Trace:
      - a2_197a6639-26e0-4b58-a689-6108ac5601d6
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
        <soap:Header>
        <wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"><wsu:Timestamp xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" wsu:Id="Timestamp-878454953"><wsu:Created>2017-04-27T20:47:53.024Z</wsu:Created></wsu:Timestamp></wsse:Security></soap:Header><soap:Body><c:replyMessage xmlns:c="urn:schemas-cybersource-com:transaction-data-1.121"><c:merchantReferenceCode>9-1493326072</c:merchantReferenceCode><c:requestID>4933260726306143403007</c:requestID><c:decision>ACCEPT</c:decision><c:reasonCode>100</c:reasonCode><c:requestToken>Ahj/7wSTC26+3Qo3Ovv/ESDZgwcs3LhhDYxZkGPHjJ/OBHpUaAp/OBHpUbpABvNhk0ky3SA7PE6BOTC26+3Qo3Ovv/AAtTzR</c:requestToken><c:purchaseTotals><c:currency>USD</c:currency></c:purchaseTotals><c:ccAuthReply><c:reasonCode>100</c:reasonCode><c:amount>0.00</c:amount><c:authorizationCode>888888</c:authorizationCode><c:avsCode>X</c:avsCode><c:avsCodeRaw>I1</c:avsCodeRaw><c:cvCode/><c:authorizedDateTime>2017-04-27T20:47:52Z</c:authorizedDateTime><c:processorResponse>100</c:processorResponse><c:reconciliationID>60093980C1ELAGGF</c:reconciliationID></c:ccAuthReply><c:paySubscriptionCreateReply><c:reasonCode>100</c:reasonCode><c:subscriptionID>4933260726306143403007</c:subscriptionID></c:paySubscriptionCreateReply></c:replyMessage></soap:Body></soap:Envelope>
  recorded_at: Thu, 27 Apr 2017 20:47:53 GMT
recorded_with: VCR 3.0.3
