---
http_interactions:
- request:
    method: get
    uri: https://us14.api.mailchimp.com/3.0/lists/96341e9476/members/df2baebd33db1abd36fcaf5e2f0c1d5e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpa2V5OmI1YjQzODE2NDE4MjNkYjUxNGUyNmE0NzA5YjFjMjAyLXVzMTQ=
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      Link:
      - <https://us14.api.mailchimp.com/schema/3.0/ProblemDetailDocument.json>; rel="describedBy"
    body:
      encoding: UTF-8
      string: '{"type":"http://developer.mailchimp.com/documentation/mailchimp/guides/error-glossary/","title":"Resource
        Not Found","status":404,"detail":"The requested resource could not be found.","instance":""}'
  recorded_at: Thu, 27 Apr 2017 16:22:13 GMT
recorded_with: VCR 3.0.3
