---
http_interactions:
- request:
    method: get
    uri: https://us14.api.mailchimp.com/3.0/lists/96341e9476/members/631067e069ffb8e1cb2a3743cbbad7d9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpa2V5OmI1YjQzODE2NDE4MjNkYjUxNGUyNmE0NzA5YjFjMjAyLXVzMTQ=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us14.api.mailchimp.com/schema/3.0/Lists/Members/Instance.json>; rel="describedBy",
        <https://us14.admin.mailchimp.com/lists/members/view?id=77462797>; rel="dashboard"
    body:
      encoding: UTF-8
      string: '{"id":"631067e069ffb8e1cb2a3743cbbad7d9","email_address":"anton.sozontov@crossover.com","unique_email_id":"cfd3dee2e2","email_type":"html","status":"subscribed","merge_fields":{"FNAME":"","LNAME":""},"stats":{"avg_open_rate":0,"avg_click_rate":0},"ip_signup":"","timestamp_signup":"","ip_opt":"42.117.106.16","timestamp_opt":"2017-04-05T19:29:36+00:00","member_rating":2,"last_changed":"2017-04-05T19:29:36+00:00","language":"","vip":false,"email_client":"","location":{"latitude":0,"longitude":0,"gmtoff":0,"dstoff":0,"country_code":"","timezone":""},"list_id":"96341e9476","_links":[{"rel":"self","href":"https://us14.api.mailchimp.com/3.0/lists/96341e9476/members/631067e069ffb8e1cb2a3743cbbad7d9","method":"GET","targetSchema":"https://us14.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json"},{"rel":"parent","href":"https://us14.api.mailchimp.com/3.0/lists/96341e9476/members","method":"GET","targetSchema":"https://us14.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/CollectionResponse.json","schema":"https://us14.api.mailchimp.com/schema/3.0/CollectionLinks/Lists/Members.json"},{"rel":"update","href":"https://us14.api.mailchimp.com/3.0/lists/96341e9476/members/631067e069ffb8e1cb2a3743cbbad7d9","method":"PATCH","targetSchema":"https://us14.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json","schema":"https://us14.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/PATCH.json"},{"rel":"upsert","href":"https://us14.api.mailchimp.com/3.0/lists/96341e9476/members/631067e069f[...]
