---
http_interactions:
- request:
    method: get
    uri: https://us14.api.mailchimp.com/3.0/lists?count=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpa2V5OmI1YjQzODE2NDE4MjNkYjUxNGUyNmE0NzA5YjFjMjAyLXVzMTQ=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us14.api.mailchimp.com/schema/3.0/Lists/Collection.json>; rel="describedBy"
    body:
      encoding: UTF-8
      string: '{"lists":[{"id":"96341e9476","web_id":98377,"name":"xo-mailchimp-edge","contact":{"company":"Crossover","address1":"India","address2":"India","city":"Pune","state":"","zip":"411017","country":"IN","phone":""},"permission_reminder":"Hellobar","use_archive_bar":true,"campaign_defaults":{"from_name":"Hellobar","from_email":"xo.hellobar.edge@gmail.com","subject":"","language":"en"},"notify_on_subscribe":"dev@hellobar.com","notify_on_unsubscribe":"","date_created":"2016-12-14T12:25:06+00:00","list_rating":0,"email_type_option":false,"subscribe_url_short":"http://eepurl.com/ctpW61","subscribe_url_long":"http://blogspot.us14.list-manage.com/subscribe?u=b89717cfd6f43fa04d1220151&id=96341e9476","beamer_address":"us14-cca9f80cfa-36e90c123b@inbound.mailchimp.com","visibility":"pub","modules":[],"stats":{"member_count":2,"unsubscribe_count":0,"cleaned_count":0,"member_count_since_send":42,"unsubscribe_count_since_send":0,"cleaned_count_since_send":0,"campaign_count":0,"campaign_last_sent":"","merge_field_count":2,"avg_sub_rate":9,"avg_unsub_rate":0,"target_sub_rate":0,"open_rate":0,"click_rate":0,"last_sub_date":"2017-04-27T15:18:32+00:00","last_unsub_date":""},"_links":[{"rel":"self","href":"https://us14.api.mailchimp.com/3.0/lists/96341e9476","method":"GET","targetSchema":"https://us14.api.mailchimp.com/schema/3.0/Definitions/Lists/Response.json"},{"rel":"parent","href":"https://us14.api.mailchimp.com/3.0/lists","method":"GET","targetSchema":"https://us14.api.mailchimp.com/schema/3.0/Definitions/Lists/CollectionResponse.json","schema":"https://us14.api.mailchimp.com/schema/3.0/CollectionLinks/Lists.json"},{"rel":"update","href":"https://us14.api.mailchimp.com/3.0/lists/96341e9476","method":"PATCH","targetSchema":"https://us14.api.mailchimp.com/schema/3.0/Definitions/Lists/Response.json","schema":"https://us14.api.mailchimp.com/schema/3.0/Definitions/Lists/PATCH.json"},{"rel":"batch-sub-unsub-members","href":"https://us14.api.mailchimp.com/3.0/lists/96341e9476","method":"POST","targetSchema":"https://us14.api.mailchimp.com/sch[...]
