---
http_interactions:
- request:
    method: post
    uri: https://us14.api.mailchimp.com/3.0/lists/96341e9476/members
    body:
      encoding: UTF-8
      string: '{"email_address":"abc","status":"pending"}'
    headers:
      Authorization:
      - Basic YXBpa2V5OmI1YjQzODE2NDE4MjNkYjUxNGUyNmE0NzA5YjFjMjAyLXVzMTQ=
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      Link:
      - <https://us14.api.mailchimp.com/schema/3.0/ProblemDetailDocument.json>; rel="describedBy"
    body:
      encoding: ASCII-8BIT
      string: '{"type":"http://developer.mailchimp.com/documentation/mailchimp/guides/error-glossary/","title":"Invalid
        Resource","status":400,"detail":"Please provide a valid email address.","instance":""}'
  recorded_at: Thu, 27 Apr 2017 16:22:13 GMT
recorded_with: VCR 3.0.3
