---
http_interactions:
- request:
    method: post
    uri: https://test.api-us.com/admin/api.php?api_action=contact_sync&api_key=valid-active-campaign-key&api_output=json
    body:
      encoding: UTF-8
      string: email=test2%40test.com&first_name=Test&last_name=User
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"subscriber_id":7,"sendlast_should":0,"sendlast_did":0,"result_code":1,"result_message":"Contact
        added","result_output":"json"}'
  recorded_at: Sun, 15 Jan 2017 17:58:18 GMT
recorded_with: VCR 2.9.0
