---
http_interactions:
- request:
    method: get
    uri: https://hellobar.api-us1.com/admin/api.php?api_action=list_list&api_key=valid-active-campaign-key&api_output=json&ids=all
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"0":{"id":"1","name":"HB List1","cdate":"2017-01-14 16:29:52","private":"0","userid":"1","subscriber_count":0},"1":{"id":"2","name":"HB
        List2","cdate":"2017-01-15 16:09:31","private":"0","userid":"1","subscriber_count":3},"result_code":1,"result_message":"Success:
        Something is returned","result_output":"json"}'
  recorded_at: Sun, 15 Jan 2017 13:41:33 GMT
recorded_with: VCR 2.9.0
