<div class="web-url-bar-bottom">

<%= form_tag sites_path do %>
  <div class="web-url-bar">
    <%= hidden_field_tag :source, :landing %>
    <%= text_field 'site[url]', @site_url, class: 'login-with-google-input', placeholder: 'Your website URL...', name: 'site[url]' %>
    <input type="submit" value="Log in with" class="login-with-google" />
  </div>

  <div class="promotional-code-bar">
    Enter promotional code (if you have one):
    <input class="promotional-code" type="text" name="promotional_code" placeholder="Code" value="<%= session[:promotional_code] %>" />
  </div>
<% end %>

<p class="color-silver margin-top-20">Use Hello Bar for free. No credit card required.</p>

</div>
