{{#if leftLabel}}
  <span class="label left js-left-label">{{leftLabel}}</span>
{{/if}}

{{#if rightLabel}}
  <span class="label right js-right-label">{{rightLabel}}</span>
{{/if}}


<div class="js-slider"></div>

