<div class="design__hint">Choose which social profile you want to promote below:</div>

{{goals/social/selection/social-select options=socialOptions selection=selectedSocialSubtype}}

{{#if socialSubtypeComponentName}}
  {{component socialSubtypeComponentName model=model}}
{{/if}}
