
<label>Start after:</label>

<label class="time-delay">
  {{view Ember.TextField value=model.delayValue placeholder="3"}}

  <div class="select-wrapper">
    {{view Ember.Select
      content=unitsOptions
      selection=model.unitsSelections
      optionValuePath='content.id'
      optionLabelPath='content.text'
    }}
  </div>
</label>
