
<label>Start after:</label>

<label class="time-delay">
  {{view Ember.TextField value=model.settings.display_when_delay placeholder="3"}}

  <div class="select-wrapper">
    {{view Ember.Select content=delayUnitsOptions selection=model.settings.display_when_delay_units}}
  </div>
</label>
