<label>Show after:</label>

<label>
  {{view Ember.Checkbox checked=isScroll}}
  {{view Ember.TextField value=content.scrollPercentage placeholder="10"}}
  % Page scroll
</label>
<label>
  {{view Ember.Checkbox checked=isElement}}
  {{view Ember.TextField value=content.elementTarget placeholder=".sidemenu"}}
  Element appearrs
  <p>ADVANCED</p>
</label>
{{!-- ^ will likely need to be a component... --}}
