<label>Show after:</label>

{{#view HelloBar.ScrollSelect type='percentage' class='scroll-percentage'}}
  <i class="psudo-radio"></i>
  {{input 
    type='text' 
    placeholder='10' 
    disabled=view.notSelected
    value=model.settings.display_when_scroll_percentage
  }}
  <span>% Page scroll</span>
{{/view}}

{{#view HelloBar.ScrollSelect type='element' class='scroll-element'}}
  <i class="psudo-radio"></i>
  {{input 
    type='text' 
    placeholder='.sidemenu' 
    disabled=view.notSelected
    value=model.settings.display_when_scroll_element
  }}
  <span>Element appears<br><small>ADVANCED</small></span>
{{/view}}
