<p>
  We encountered a problem when trying to sync your <%= @identity.provider_name %> account.
  Please log in to Hello Bar and go to the following URL to re-link your account.
</p>

<p>
  <a href="<%= site_contact_lists_url(@site) %>">
    <%= site_contact_lists_url(@site) %>
  </a>
</p>
