<html>
<head>
  <title>Resetting Password</title>
</head>
<body>
  <form method="POST" action="https://old.hellobar.com/forgot-password" id="loginform">
    <input type="hidden" name="user_login" value="<%= @login || params[:user][:email] %>" />
  </form>
  <script>
    document.getElementById('loginform').submit();
  </script>
</body>
</html>
