<html>
<head>
  <title>Logging In</title>
  <style>
    body{
      background: url('/image-assets/bkg_login-noise.png') repeat-x top #fffff1;
    }
  </style>
</head>
<body>
  <form method="POST" action="https://old.hellobar.com/login" id="loginform">
    <input type="hidden" name="log" value="<%= @login || params[:user][:email] %>" />
    <input type="hidden" name="pwd" value="<%= @password || params[:user][:password] %>" />
  </form>
  <script>
    document.getElementById('loginform').submit();
  </script>
</body>
</html>
