h1 Hello Bar helps you improve the <br>effectiveness of your website.
p Create Hello Bars that show the right message at the right time to your website visitors.

= render "use_case_blocks"

= render 'welcome/quickstart'
