<div class="substep custom">


  <label>When does it display?
    <small><a {{action "popDelayTootlipModal"}} class="tooltip-label">(What's this?)</a></small>
  </label>

  <div class="select-wrapper">
    {{#power-select options=triggerOptions
    selected=selectedTriggerOption
    renderInPlace=true
    searchEnabled=false
    onchange=(action "selectTrigger") as |option|}}
      {{option.label}}
    {{/power-select}}
  </div>

</div>
