.range-slider
  .label
    position: relative
    top: -2px
    font-size: 11px
    color: #a3a3a3
    &.left
      float: left
    &.right
      float: right

  .noUi-target
    margin: 6px 0
    background: white
    box-shadow: none

  .noUi-connect
    background: #e3e3e3
    box-shadow: none

  .noUi-handle
    padding-top: 7px
    border-radius: 20px
    text-align: center
    font-size: 11px
    font-weight: 700
    box-shadow: 0 3px 6px -3px #BBB
    color: #54d388

  .noUi-horizontal
    height: 10px

    .noUi-handle
      width: 28px
      height: 28px
      left: -17px
      top: -10px

      &:after, &:before
        display: none
