.preview-area
  width: 100%
  height: 100%
  overflow: hidden
  position: relative
  background-color: $grayLightest
  z-index: 1

.editor-wrapper

  .dropperTrios_spyglass
    z-index: 1000
    border: 1px solid $black
    border-radius: 10em
    box-shadow: $shadow

  .preview-wrapper
    width: 100%
    height: 100%
    position: relative

    .bar-bottom, .modal, .slider, .takeover
      #hellobar-pusher
        display: none !important

    #hellobar-preview-container
      top: 0
      width: 100%
      height: 100%
      position: relative
      overflow: hidden

      canvas
        z-index: 10
        position: absolute
        top: 0
        left: 0

      iframe
        width: 100%
        position: absolute
        z-index: 3

      .preview-wrapper
        width: 100%
        height: 100%
        box-shadow: inset 0 0 1em rgba(0,0,0,0.15)

      .loading-message
        text-align: center
        position: absolute
        top: 50%
        right: 50%
        z-index: 1
        min-width: 160px
        // perspective is set to eliminate font blurring
        transform: perspective(1px) translateX(50%) translateY(-50%)

        i:before
          display: block
          font-size: 2.75em
          animation spin 2s infinite ease-in-out

      .preview-image
        width: 100%
        height: 100%
        margin-top: 0
        border-width: 0
        border-style: solid
        border-color: transparent
        background-size: cover
        background-repeat: no-repeat
        background-position: center top
        background-color: transparent
        position: relative
        z-index: 2

      .preview-image-for-colorpicker
        top: -99999px
        left: -99999px
        width: initial
        position: absolute

      &.is-pushed.bar
        overflow: hidden

  /*-----------  Fullscreen State  -----------*/

  &.is-fullscreen

    iframe.bar-bottom
      padding-left: 58px !important

  /*-----------  Mobile State  -----------*/

  &.is-mobile

    .preview-image
      width: 232px !important
      height: 410px !important
      border-top: none !important
      position: relative !important

    #hellobar-preview-container
      width: 232px
      height: 410px
      overflow: hidden
      margin: -3px auto 0
      border: 1px solid $grayLight
      @include vertical-align()

      iframe.hb-bar-bottom
        padding-left: 0 !important
        position: absolute !important

      &.is-pushed.bar.bar-top .preview-image
        top: -12px !important
