<div class="substep text">

  <label>Enter announcement text</label>
  {{input value=model.headline placeholder="eg. Now shipping on holidays! "}}
  <p>This is the announcement text to show to your visitors</p>

</div>
