<div class="substep call">

  <label>Enter phone number</label>
  {{input value=model.phone_number placeholder="(555) 555-5555" maxlength=50}}
  {{validation/validation-message fieldName="phone_number" validationName="main"}}
  <div class="select-wrapper">
    {{#power-select options=countries
      selected=selectedCountry
      renderInPlace=true
      searchField="name"
      onchange=(action "selectCallCountryCall") as |country|}}
      {{country.name}}
    {{/power-select}}
  </div>
  <p>This is the phone number that will be dialed</p>

</div>
