<div class="substep emails">

  {{#if currentThemeIsGeneric}}
    {{fields/field-list model=model}}
  {{/if}}

  <label>Choose your contact list and integration</label>
  {{selection/contact-list-select
    selectedOption=selectedContactList
    options=model.site.contact_lists
    setList="setContactList"
    editList="openEmailListPopup"
  }}

</div>