<p>Hi,</p>

<p>A little while ago, I emailed you to let you know that you’d gone over the 50,000 view limit on your Hello Bar plan on <%= @site.url %>.</p>

<p>I also let you know that for each 25,000 views you exceeded that limit by, you would receive a $5 charge, unless you switched over to our Elite Plan to get more views.</p>

<p>But, some time has gone by, and your site is still on the same plan. And it is still getting A TON of views.</p>

<p>So far this month, your site has recorded more than 400,000 pop-up views.</p>

<p>That’s a lot in overage fees – so much, actually, that I want to be sure and get you a better deal. Overage fees are the worst, and I don’t want to punish you for the success of your site and your efforts to get more traffic.</p>

<p>To save you money, I’ve upgraded your account to the Elite Plan. Your overage fees for this month have been wiped clean, so you won't be charged for those. We were even able to prorate your first month of the Elite plan!</p>

<p>Not to mention, on Elite, you now have access to all kinds of exclusive goodies:</p>

<p>The ability to display custom pop-ups for each specific ad source you are using to drive traffic to your site
Full, unlimited access to our marketing team for the duration of your Elite subscription to optimize your strategy, design your pop-ups for you, and in the moment, priority technical support
Unlimited seats to access your Hello Bar account – perfect for agencies</p>

<p>Plus, you now have up to 500,000 views per month on the Elite Plan. If you exceed this, your overage fees will be reduced to $5 per each 100,000 views over 500,000, as compared to the $5 fee per 25,000 views on Growth.</p>

<p>To be sure we don’t run into this same expensive hiccup in the future, our system has also automatically switched your site to the Elite Plan from now on. Your bills, instead of being $29 + overage fees each month, will now be $99 each month.</p>
