<p>Hi,</p>

<p>
  Your Hello Bar on <%= @site.url %> has reached <%= @number_of_views %> so far this month, meaning that you are going to be paying more than $50 in overage fees. Our team has been notified and will be reaching out to you to create a custom plan for you that can save you some money next month.
</p>

<p>
  You'll be hearing from us shortly! 
</p>

<p>Thanks for using Hello Bar!</p>
