<p>Hi,</p>

<p>
  Your Hello Bar on <%= @site.url %> has reached <%= @number_of_views %> so far this month, meaning that you are going to be paying more than $50 in overage fees. Did you know that you can upgrade to our Enterprise plan and save some money next month?
  The Enterprise plan allows way more views (500,000!) and also features our live headline writing assistance service!
</p>

<p>
  Why not pay less and get more? Login now at <a href="<%= @login_url %>"> <%= @login_url %></a> to get started.
</p>

<p>Thanks for using Hello Bar!</p>
