<p>Hi,</p>

<p>
  You have been invited to help manage the Hello Bar content for <%= @site.normalized_url %>.
</p>

<p>
  Login now at <a href="<%= @login_url %>"> <%= @login_url %></a> to get started.
</p>

<p>Thanks for using Hello Bar!</p>
