# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

defaults: &defaults
  api_token: '4fd5cabc9eb83b46aa316465465a18f7'
  aws_access_key_id: aws-access-key-id
  aws_region: us-east-1
  aws_secret_access_key: aws-secret-access-key
  cybersource_login: cybersource-login
  cybersource_password: cybersource-password
  deliver_emails: true
  geolocation_url: geolocation-url
  google_auth_id: google-auth-id
  google_auth_secret: google-auth-secret
  grand_central_api_key: grand-central-api-key
  grand_central_api_secret: grand-central-api-secret
  host: 'local.hellobar.com'
  intercom_id: app-id
  intercom_secret: app-secret
  intercom_token: app-token
  low_priority_queue: low-priority-queue
  main_queue: main-queue
  s3_bucket: scripts-test.hellobar.com
  s3_content_upgrades_bucket: 'content-upgrades-test.hellobar.com'
  script_cdn_url: scripts-test.hellobar.com
  sendgrid_password: sendgrid-password
  sendgrid_user_name: sendgrid-user-name
  sentry_dsn: sentry-dsn-endpoint
  store_site_scripts_locally: true
  syncable: true
  tracking_api_url: 'http://mock-hi.hellobar.com'

  secret_key_base: c7c7169427194da0b5b2064de34174b6979f57bc7b808f6b50335cf0b6e1de1e5e8d302b99a1e850660e2fc07effbeedae53c3084718200dfe9b911762c40838

  sns:
    lambda_detect_install_type: 'arn:aws:sns:us-east-1:199811731772:lambda_detectInstallType_latest'
    lambda_install_check: 'arn:aws:sns:us-east-1:199811731772:lambda_installCheck_latest'
    lambda_send_email_campaign: 'arn:aws:sns:us-east-1:199811731772:lambda_sendEmailCampaign_latest'

  identity_providers:
    aweber:
      app_id: 'aweber-app-id'
      consumer_key: 'aweber-consumer-key'
      consumer_secret: 'aweber-consumer-secret'
    constantcontact:
      app_key: 'constantcontact-app-key'
      app_secret: 'constantcontact-app-secret'
    createsend:
      client_id: 'createsend-client-id'
      secret: 'createsend-secret'
    drip:
      client_id: 'drip-client-id'
      secret: 'drip-secret'
    mailchimp:
      client_id: 'mailchimp-client-id'
      secret: 'mailchimp-secret'
    maropost:
      url: 'http://api.maropost.com'
    # silly name to support oauth strategy gem
    verticalresponse:
      client_id: 'vertical-response-client-id'
      secret: 'vertical-response-secret'

  slack_channels:
    billing: 'key'

# Development environment
development:
  <<: *defaults

# Test environment
test:
  <<: *defaults

  api_token: '677cc9e8ccad8a4f1a7a10d807a756ba'
  deliver_emails: false
  host: 'localhost'

  secret_key_base: ad07d3c6c681c72c86770d066b4c5e9c14db83c2b1b49323bf142ab51804c3cc9afd469d5cb9c629605da46f714002ea30adf3623b3ef1c72cb4bf473cf41508
