# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

defaults: &defaults
  aws_access_key_id: aws-access-key-id
  aws_region: us-east-1
  aws_secret_access_key: aws-secret-access-key
  aws_region: us-east-1
  cybersource_login: cybersource-login
  cybersource_password: cybersource-password
  data_api_url: 'http://mock-hi.hellobar.com'
  deliver_emails: true
  fake_data_api: true
  geolocation_url: geolocation-url
  google_auth_id: google-auth-id
  google_auth_secret: google-auth-secret
  grand_central_api_key: grand-central-api-key
  grand_central_api_secret: grand-central-api-secret
  host: 'local.hellobar.com'
  low_priority_queue: low-priority-queue
  main_queue: main-queue
  s3_bucket: scripts-test.hellobar.com
  script_cdn_url: scripts-test.hellobar.com
  segment_key: segment_key
  sendgrid_password: sendgrid-password
  sentry_dsn: sentry-dsn-endpoint
  store_site_scripts_locally: true
  syncable: true
  tracking_host: hi-dev.hellobar.com

  secret_key_base: c7c7169427194da0b5b2064de34174b6979f57bc7b808f6b50335cf0b6e1de1e5e8d302b99a1e850660e2fc07effbeedae53c3084718200dfe9b911762c40838

  identity_providers:
    active_campaign:
      type: :email
      name: 'Active Campaign'
      requires_api_key: true
      requires_app_url: true
      service_provider_class: 'ActiveCampaign'
    aweber:
      type: :email
      name: 'AWeber'
      app_id: 'aweber-app-id'
      consumer_key: 'aweber-consumer-key'
      consumer_secret: 'aweber-consumer-secret'
      oauth: true
    constantcontact:
      type: :email
      service_provider_class: 'ConstantContact'
      name: 'Constant Contact'
      app_key: 'constantcontact-app-key'
      app_secret: 'constantcontact-app-secret'
      oauth: true
    convert_kit:
      type: :email
      name: 'ConvertKit'
      service_provider_class: 'ConvertKit'
      requires_api_key: true
    createsend:
      type: :email
      service_provider_class: 'CampaignMonitor'
      name: 'Campaign Monitor'
      client_id: 'createsend-client-id'
      secret: 'createsend-secret'
      oauth: true
    drip:
      type: :email
      name: 'Drip'
      client_id: 'drip-client-id'
      secret: 'drip-secret'
      supports_double_optin: true
      oauth: true
    get_response_api:
      type: :email
      name: 'GetResponse'
      service_provider_class: 'GetResponseApi'
      requires_api_key: true
      url: 'https://api.getresponse.com/v3'
    icontact:
      type: :email
      service_provider_class: 'IContact'
      name: 'iContact'
      requires_embed_code: true
    infusionsoft:
      type: :email
      name: 'Infusionsoft'
      requires_api_key: true
      requires_app_url: true
    mad_mimi_api:
      type: :email
      service_provider_class: 'MadMimiApi'
      name: 'MadMimi'
      requires_api_key: true
      requires_username: true
    mad_mimi_form:
      type: :email
      service_provider_class: 'MadMimiForm'
      name: 'MadMimi'
      requires_embed_code: true
      hidden: true
    mailchimp:
      type: :email
      name: 'MailChimp'
      client_id: 'mailchimp-client-id'
      secret: 'mailchimp-secret'
      supports_double_optin: true
      oauth: true
    maropost:
      type: :email
      service_provider_class: 'Maropost'
      name: 'Maropost'
      requires_account_id: true
      requires_api_key: true
      url: 'http://api.maropost.com'
    my_emma:
      type: :email
      name: 'MyEmma'
      requires_embed_code: true
    vertical_response:
      type: :email
      name: 'VerticalResponse'
      requires_embed_code: true
      hidden: true
    # silly name to support oauth strategy gem
    verticalresponse:
      type: :email
      name: 'Vertical Response'
      client_id: 'vertical-response-client-id'
      secret: 'vertical-response-secret'
      service_provider_class: 'VerticalResponseApi'
      supports_double_optin: false
      oauth: true
    webhooks:
      type: :email
      name: 'Webhooks'
      requires_webhook_url: true
      service_provider_class: 'Webhook'

# Development environment
development:
  <<: *defaults

# Test environment
test:
  <<: *defaults

  deliver_emails: false
  fake_data_api: false
  host: 'localhost'

  secret_key_base: ad07d3c6c681c72c86770d066b4c5e9c14db83c2b1b49323bf142ab51804c3cc9afd469d5cb9c629605da46f714002ea30adf3623b3ef1c72cb4bf473cf41508
