twilio_user: twilio-user
twilio_password: twilio-password
host: host
recaptcha_public_key: recaptcha-public-key
recaptcha_private_key: recaptcha-private-key
sendgrid_password: sendgrid-password
grand_central_api_key: grand-central-api-key
grand_central_api_secret: grand-central-api-secret
aws_access_key_id: aws-access-key-id
aws_secret_access_key: aws-secret-access-key
s3_bucket: scripts-test.hellobar.com
script_cdn_url: scripts-test.hellobar.com
tracking_host: hi-dev.hellobar.com
env_name: env-name
aweber_app_id: aweber-app-id
aweber_consumer_secret: aweber-consumer-secret
aweber_consumer_key: aweber-consumer-key
createsend_client_id: createsend-client-id
createsend_secret: createsend-secret
constantcontact_app_key: constantcontact-app-key
constantcontact_app_secret: contantcontact-app-secret
mailchimp_client_id: mailchimp-client-id
mailchimp_secret: mailchimp-secret
get_response_api_url: https://getresponse-api-url.com
dynamo_tables:
  email: "env_emails"
  bar_current: "env_current"
  bar_prev: "env_previous"
  bar_over_time: "env_over_time"
cybersource_environment: "test"
cybersource_login: cybersource-login
cybersource_password: cybersource-password
main_queue: hellobar3_production
low_priority_queue: hellobar3_production_lowpriority
loggly_url: https://logs-01.loggly.com/inputs/[your-customer-token]/tag/[your-rails-app]/
sentry_dsn: sentry-dsn-endpoint
support_location: "http://support.hellobar.com/"
maropost_url: "http://api.maropost.com/"
fake_data_api: true
hb_infusionsoft_key: 7428f50b4c59218cdff564229dfa541b
hb_infusionsoft_url: xl349.infusionsoft.com
hb_infusionsoft_default_group: 103
