<h5 class="step-title">Design &amp; Content</h5>

<label>Theme</label>
<div class="select-wrapper">
  {{#power-select options=themeOptions onchange=(action "selectTheme") as |theme|}}
    {{theme.name}}
  {{/power-select}}

</div>

{{#tab-view model=model navigationName='design'}}
  {{#tab-pane name="Colors"}}
    {{partial "partials/colors-pane"}}
  {{/tab-pane}}

  {{#tab-pane name="Image"}}
    {{partial "partials/image-pane"}}
  {{/tab-pane}}

  {{#tab-pane name="Text" class="text"}}
    {{partial "partials/text-pane"}}
  {{/tab-pane}}
{{/tab-view}}
