<h5 class="step-title">Design &amp; Content</h5>

<label>Theme</label>
<div class="select-wrapper">
  {{#power-select options=themeOptions onchange=(action "selectTheme") as |theme|}}
    {{theme.name}}
  {{/power-select}}

</div>

{{#ivy-tabs selection=selection as |tabs|}}
  {{#tabs.tablist as |tablist|}}
    {{#tablist.tab "TabColors" on-select=(action (mut selection))}}Colors{{/tablist.tab}}
    {{#tablist.tab "TabImage" on-select=(action (mut selection))}}Image{{/tablist.tab}}
    {{#tablist.tab "TabText" on-select=(action (mut selection))}}Text{{/tablist.tab}}
  {{/tabs.tablist}}

  {{#tabs.tabpanel "TabColors"}}
    {{partial "partials/colors-pane"}}
  {{/tabs.tabpanel}}

  {{#tabs.tabpanel "TabImage"}}
    {{partial "partials/image-pane"}}
  {{/tabs.tabpanel}}

  {{#tabs.tabpanel "TabText"}}
    {{partial "partials/text-pane"}}
  {{/tabs.tabpanel}}
{{/ivy-tabs}}

