---
http_interactions:
- request:
    method: get
    uri: https://api.getresponse.com/v3/campaigns?perPage=500
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - api-key invalid-key
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
            "httpStatus": 401,
            "code": 1014,
            "codeDescription": "Problem during authentication process, check headers!",
            "message": "Unable to authenticate request. Check credentials or authentication method details",
            "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1014",
            "context": {
                "authenticationType": "auth_token"
            },
            "uuid": "43a61d3c-bbff-425f-b055-0512879e53fa"
        }
  recorded_at: Tue, 14 Feb 2017 20:43:58 GMT
recorded_with: VCR 2.9.0
