---
http_interactions:
- request:
    method: get
    uri: https://api.getresponse.com/v3/campaigns?perPage=500
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - api-key valid-key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Totalcount:
      - '1'
      Totalpages:
      - '1'
      Currentpage:
      - '1'
      X-Ratelimit-Limit:
      - '30000'
      X-Ratelimit-Remaining:
      - '29995'
      X-Ratelimit-Reset:
      - 114 seconds
    body:
      encoding: UTF-8
      string: |-
        [
            {
                "campaignId": "TWVsq",
                "href": "https://api.getresponse.com/v3/campaigns/TWVsq",
                "name": "sergeyshakhov",
                "description": "sergeyshakhov",
                "languageCode": "EN",
                "isDefault": "true",
                "createdOn": "2017-02-12T19:35:18+0000"
            }
        ]
  recorded_at: Wed, 15 Feb 2017 12:52:55 GMT
[...]
- request:
    method: get
    uri: https://api.getresponse.com/v3/tags?perPage=500
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - api-key valid-key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Totalcount:
      - '3'
      Totalpages:
      - '1'
      Currentpage:
      - '1'
      X-Ratelimit-Limit:
      - '30000'
      X-Ratelimit-Remaining:
      - '29995'
      X-Ratelimit-Reset:
      - 114 seconds
    body:
      encoding: UTF-8
      string: |-
        [
            {
                "tagId": "pJP5",
                "name": "hellobar",
                "href": "https://api.getresponse.com/v3/tags/pJP5",
                "color": ""
            },
            {
                "tagId": "pJub",
                "name": "new_lead",
                "href": "https://api.getresponse.com/v3/tags/pJub",
                "color": ""
            }
        ]
  recorded_at: Wed, 15 Feb 2017 12:52:57 GMT
recorded_with: VCR 2.9.0
