---
http_interactions:
- request:
    method: post
    uri: https://api.getdrip.com/v2/4773344/campaigns/campaign_id/subscribers
    body:
      encoding: UTF-8
      string: '{"subscribers":[{"new_email":"email@email.com","custom_fields":{"name":"Test
        Mname User","fname":"Test","lname":"Mname User"},"double_optin":false,"email":"email@email.com"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer 23806fd70f5754561fac6da7db94b49be4009147df80e01039a43b93d852a71c
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3598'
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"not_found_error","message":"The resource you requested
        was not found"}]}'
  recorded_at: Sun, 08 Jan 2017 15:36:56 GMT
- request:
    method: get
    uri: https://api.getdrip.com/v2/4773344/campaigns?status=active
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer 23806fd70f5754561fac6da7db94b49be4009147df80e01039a43b93d852a71c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"7c867b930dccb0ce13fcd7bca129ce27"
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3597'
    body:
      encoding: UTF-8
      string: '{"links":{"campaigns.account":"https://api.getdrip.com/v2/accounts/{campaigns.account}","campaigns.forms":"https://api.getdrip.com/v2/{campaigns.account}/forms/{campaigns.forms}","campaigns.subscribers":"https://api.getdrip.com/v2/{campaigns.account}/campaigns/{campaigns.id}/subscribers"},"meta":{"page":1,"sort":"sort_order","direction":"desc","count":3,"status":"active","total_pages":1,"total_count":3},"campaigns":[{"id":"81207609","href":"https://api.getdrip.com/v2/4773344/campaigns/81207609","name":"Campaign-2","status":"active","from_name":"mike@mikekamo.com","from_email":"mike@mikekamo.com","postal_address":"654,
        abc complex, jasj","minutes_from_midnight":660,"localize_sending_time":true,"days_of_the_week_mask":"0111110","start_immediately":true,"double_optin":true,"confirmation_url":null,"send_to_confirmation_page":false,"use_custom_confirmation_page":false,"notify_subscribe_email":"raj.kumar@crossover.com","notify_unsubscribe_email":"raj.kumar@crossover.com","bcc":"","email_count":0,"active_subscriber_count":1,"unsubscribed_subscriber_count":0,"created_at":"2017-01-06T17:58:19Z","email_open_rate":null,"email_click_rate":null,"links":{"account":"4773344","forms":["47936057"]}},{"id":"52030835","href":"https://api.getdrip.com/v2/4773344/campaigns/52030835","name":"Campaign-1","status":"active","from_name":"mike@mikekamo.com","from_email":"mike@mikekamo.com","postal_address":"23123,
        wdasd","minutes_from_midnight":660,"localize_sending_time":true,"days_of_the_week_mask":"0111110","start_immediately":true,"double_optin":true,"confirmation_url":null,"send_to_confirmation_page":false,"use_custom_confirmation_page":false,"notify_subscribe_email":"raj.k[...]
