---
http_interactions:
- request:
    method: post
    uri: https://api.getdrip.com/v2/4773344/campaigns/81207609/subscribers
    body:
      encoding: UTF-8
      string: '{"subscribers":[{"new_email":"raj.kumar+7@crossover.com","custom_fields":{"name":"Test
        Mname User","fname":"Test","lname":"Mname User"},"double_optin":false,"email":"raj.kumar+7@crossover.com"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer 23806fd70f5754561fac6da7db94b49be4009147df80e01039a43b93d852a71c
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"64dfa9d6d31ce9a2058cc4761c34f851"
      Location:
      - https://api.getdrip.com/v2/4773344/subscribers/bmm6pqmg1e4hxet9cs62
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3599'
    body:
      encoding: UTF-8
      string: '{"links":{"subscribers.account":"https://api.getdrip.com/v2/accounts/{subscribers.account}"},"subscribers":[{"id":"bmm6pqmg1e4hxet9cs62","href":"https://api.getdrip.com/v2/4773344/subscribers/bmm6pqmg1e4hxet9cs62","status":"active","email":"raj.kumar+7@crossover.com","time_zone":null,"utc_offset":0,"visitor_uuid":null,"custom_fields":{"fname":"Test","lname":"Mname
        User","name":"Test Mname User"},"tags":[],"created_at":"2017-01-08T16:51:03Z","ip_address":null,"user_agent":null,"lifetime_value":null,"original_referrer":null,"landing_url":null,"prospect":null,"base_lead_score":null,"lead_score":null,"user_id":null,"links":{"account":"4773344"}}]}'
  recorded_at: Sun, 08 Jan 2017 16:51:03 GMT
recorded_with: VCR 2.9.0
