.popup-hint-trigger
  display: inline-block
  position: relative

  .question-mark
    display: inline-block
    padding: 1px 6px
    border-radius: 20px
    background-color: #c6c6c6
    color: white
    font-size: 14px
    font-weight: 700
