[id^="credit_cards-"]
  margin-bottom: 2rem

  .note
    margin: 2em 0
    padding: 0.4em 1em

    background: #F6F6F6
    color: $grayDarker

    p
      font-size: 15px
      margin: 1em 0

  .new-credit-card-form
    width: 55%
    text-align: center

    .wrapper
      @include clearfix()

      /*-----------  Form  -----------*/

      .details-fields
        text-align: left

        .field-row
          font-size: 1.1em
          display: grid

          &.cc-row
            grid-template-columns: 65% 20% 15%

          &.address2-row
            grid-template-columns: 65% 20% 15%

          label
            @include antialiased(false)
            font-size: 0.8em
            margin: 1.15em 0 0.4em 10px

          input
            font-size: 0.85em
            padding: 0.55em 0.75em
            margin-top: 0

          .cc-name
            label
              margin-top: 0

          .cc-number
            position: relative

            input
              padding-left: 3em

            i
              left: 12px
              bottom: 2px
              color: $grayLighter
              font-size: 1.25em
              position: absolute

          .cc-number,
          .cc-expiry,
          .cc-city,
          .cc-state
            padding-right: 10px

          .cc-country
            .select-wrapper:before
              bottom: inherit

            select
              border-radius: 5px
              font-size: 0.85em
              margin-top: 0
