[id^="credit_cards-"]
  margin-bottom: 2rem

  .note
    margin: 2em 0
    padding: 0.4em 1em

    background: #F6F6F6
    color: $grayDarker

    p
      font-size: 15px
      margin: 1em 0

  .new-credit-card-form
    width: 55%
    text-align: center

    .wrapper
      @include clearfix()

      /*-----------  Form  -----------*/

      .details-fields
        text-align: left

        .field-row
          width: 100%

          > div
            width: 100%
            margin-right: 3%
            font-size: 1.1em
            @include inline-block()

            &:last-child
              margin-right: 0

          label
            @include antialiased(false)
            margin-left: 10px

          input
            padding: 0.55em 0.75em

          .cc-name label
            margin-top: 0

          .cc-number
            width: 54%
            position: relative

            input
              padding-left: 3em !important

            i
              left: 12px
              bottom: 2px
              color: $grayLighter
              font-size: 1.25em
              position: absolute

          .cc-expiry
            width: 23%

          .cc-csv
            width: 15.3%

          .cc-city
            width: 55%

          .cc-state
            width: 14%

          .cc-zip
            width: 23.3%

          .cc-country
            .select-wrapper:before
              bottom: inherit

            select
              border-radius: 5px

        label
          font-size: 0.8em !important
          margin: 1.15em 0 0.4em

        input,
        select
          margin-top: 0 !important
          font-size: 0.85em !important
