/*-----------  User Profile  -----------*/

#user-edit,
#user-update,
#user-destroy

  .profile-wrapper

    .column
      width: 21.75%
      margin-right: 4%
      @include inline-block(top)

  /*-----------  Profile Forms  -----------*/

  .hidden
    display: none

  form

    &.personal-form
      display: inline

    &.personal-form .button
      @extend %green-button

    &.password-form .button
      @extend %gray-button

    small
      font-size: 0.9em
      color: $grayLight
      font-smoothing: antialiased

    label
      margin-top: 1em

      &[for="user_email"],
      &[for="user_current_password"]
        margin-top: 0

    .button
      margin-top: 1em

    a:not(.button)
      color: $blue
      display: block
      font-size: 0.85em
      margin-top: 1.25em

  /*-----------  User Avatar  -----------*/

  form.avatar-form
    padding: 1.5em
    text-align: center
    border-radius: $radiusSm
    border: 1px solid $grayLighter

    .button
      @extend %gray-inverted-button

    a:not(.button)
      color: $blue
      display: block
      font-size: 0.85em
      margin-top: 0.75em
