<p>Hi,</p>

<p>Happy almost Black Friday!</p>

<p>You’ve reached <b>4,500 views</b> on <%= @site.url %>. That means that you are 90% of the way to hitting the limit of 5,000 views this month having your pop-ups deactivated until December 1st, when your view count resets.</p>

<p>That’s a lot of leads to miss out on – especially considering that <b>Black Friday weekend is the biggest shopping event of the year.</b></p>

<p>Right now, you are on track to have your pop-ups deactivated before Black Friday and Cyber Monday.</p>

<p><a href="https://app.hellobar.com/profile#pricing-special">Get More Views Now & Ensure Your Pop-ups Are Live This Black Friday</a></p>

<p>We don’t want you missing out on this huge sales period. After all, you’re about to get more traffic to your site than any other time of the year.</p>

<p>We want to be sure you’re getting the absolute most out of the traffic that is coming to your site, using our Hello Bar pop-ups.</p>

<p>So we’ve discounted Hello Bar Growth by more than 50%. Instead of paying $29 per month, you can get Hello Bar Growth for less than $12.50 per month – for an entire year. Just $149.</p>

<p>That means you won’t have to worry about running out of views or seeing your pop-ups deactivated on the very weekend it matters most.</p>

<p><a href="https://app.hellobar.com/profile#pricing-special">Get Hello Bar Growth For 50% Off NOW and Secure Your Sales This Black Friday</a></p>

<p>Any questions? Just hit “Reply”!</p>

<p>Cheers,</p>

<p>Karen</p>

<p>Hello Bar Success Team<br>
https://www.hellobar.com <br>
support@hellobar.com<br></p>
