Hi,

Your site is getting more traffic than Los Angeles at 2pm the day before Thanksgiving!

You’ve now reached 4,000 views to your site <%= @site.url %> this month alone.

To be sure you are making the most of this traffic, I wanted to reach out and let you know that:

You are getting dangerously close to the limit of 5,000 views that comes with the Free Starter Plan – you’re about 80% of the way to capping out
As soon as you hit the limit of 5,000 views, your pop-ups will be temporarily deactivated until December 1st, when your view count reloads

But leaving your pop-ups deactivated and your sales funnel leaking with Black Friday and Cyber Monday fast approaching is a huge threat to your holiday sales.

<a href="https://app.hellobar.com/profile#pricing-special">Keep Your Pop-Ups Live With 50% Off Hello Bar Growth Right In Time For Black Friday</a>

On Hello Bar Growth, you’ll have access to up to 50,000 views each month. That means that you will be all set to handle the Black Friday and Cyber Monday traffic rush and secure your sales this holiday season.

Not sure you need the extra views for these important sales holidays? Research says otherwise...

1. More than 174 million Americans shop between Thanksgiving Day and Cyber Monday and spend an average of $335 per person during that 5 day period.

2. About 65 million consumers shop both online and in store, with 58 million of those consumers shopping online only.

3. 50% of this year’s holiday shoppers say they prefer online shopping to brick-and-mortar shopping, and 55% of shoppers say they’ll be shopping online this Black Friday weekend.

Want to harness all those shoppers and exceed your Q4 sales goals?

<a href="https://app.hellobar.com/profile#pricing-special">Get Set Up For Sales Success With Hello Bar, Just $12.50 Per Month For The Year</a>

Still not convinced, or have any lingering questions? Reply back and let me know how I can help you make as many sales as possible this Black Friday weekend.

Cheers,

Karen

Hello Bar Success Team<br>
https://www.hellobar.com <br>
support@hellobar.com
