Hi,

Happy almost Black Friday!

You’ve reached <b>4,500 views</b> on <%= @site.url %>. That means that you are 90% of the way to hitting the limit of 5,000 views this month having your pop-ups deactivated until December 1st, when your view count resets.

That’s a lot of leads to miss out on – especially considering that <b>Black Friday weekend is the biggest shopping event of the year.</b>

Right now, you are on track to have your pop-ups deactivated before Black Friday and Cyber Monday.

<a href="https://app.hellobar.com/profile#pricing-special">Get More Views Now & Ensure Your Pop-ups Are Live This Black Friday</a>

We don’t want you missing out on this huge sales period. After all, you’re about to get more traffic to your site than any other time of the year.

We want to be sure you’re getting the absolute most out of the traffic that is coming to your site, using our Hello Bar pop-ups.

So we’ve discounted Hello Bar Growth by more than 50%. Instead of paying $29 per month, you can get Hello Bar Growth for less than $12.50 per month – for an entire year. Just $149.

That means you won’t have to worry about running out of views or seeing your pop-ups deactivated on the very weekend it matters most.

<a href="https://app.hellobar.com/profile#pricing-special">Get Hello Bar Growth For 50% Off NOW and Secure Your Sales This Black Friday</a>

Any questions? Just hit “Reply”!

Cheers,

Karen

Hello Bar Success Team<br>
https://www.hellobar.com <br>
support@hellobar.com<br>
