<p>Oooh you’re halfway there… to the 5,000 view Starter Plan limit, that is!</p>

<p>Your site <%= @site.url %> has now reached 2,500 views and counting.</p>

<p>If you do reach 5,000 views before the end of the month, our system will <b>temporarily deactivate your pop-ups until December 1st</b>, when your view count will reset and your pop-ups will be set back to live once again.</p>

<p>That being said, I want to be sure you know exactly what that means in terms of sales, because we are headed into the absolute most important time of the year for sales on your website.</p>

<p><b>Last year, a record breaking $19.62 billion was spent over the stretch from Thanksgiving Day to Cyber Monday in the U.S. alone.</b></p>

<p>I want to be sure you have your pop-ups up and running on your site so that you can kick back and enjoy pumpkin pie, while grabbing your piece of this money pie this Black Friday and Cyber Monday.</p>

<p>So, let’s be sure you are ready for the highest sales period ALL year. </p>

<p>As a special sneak peek to be sure you are ready for this super important sales holiday, I am releasing our Cyber Monday deal early so you can save right now.</p>

<p><a href="https://app.hellobar.com/profile#pricing-special">Get One Year Of Hello Bar Growth for More Than 50% off TODAY and Ensure Your Pop-Ups Are Live This Black Friday</a></p>

<p>Hello Bar Growth is usually $29 per month but for Cyber Monday, we are offering Hello Bar Growth for less than $12.50 per month. Just $149 for an entire year of Growth.</p>

<p>On Growth you’ll be able to:</p>

<p>
- Turn off the Hello Bar logo
- Set up your own custom thank you message
- Target your pop-ups to display only on certain devices, pages of your website, or dates
- Get custom text for your pop-ups straight from our professional copywriting team!
</p>

<p>As soon as you upgrade to Hello Bar Growth, your pop-ups will no longer be in danger of deactivation. You won’t miss a single visitor this sales season.</p>

<p><a href="https://app.hellobar.com/profile#pricing-special">Keep Your Pop-Ups Live NOW & Rake In The Sales This Holiday Season</a></p>

<p>Any questions? Just hit “Reply” and let me know. I want to be sure you are all ready for this sales-packed time of the year!</p>


<p>Karen</p>

<p>
Hello Bar Success Team
https://www.hellobar.com
support@hellobar.com
</p>
