Hi,


  Well done… you’ve reached <%= @number_of_views %> views on  <%= @site.url %>.



  This email is just a friendly reminder that your Growth plan has a cap of <%= @limit %> views per month and if you go over the <%= @limit %> views you will be charged an extra $5 per 25,000 views during this cycle which will be billed at the end of the month.



  Your other option is to upgrade to our <a href="https://app.hellobar.com/profile#pricing-elite">Elite Plan</a> which gives you 500,000 views plus lots of other cool features.


Cheers,<br>

Hello Bar Success Team
