<p>Hi,</p>

<p>
  You’ve reached <%= @number_of_views %> views on  <%= @site.url %>.
</p>

<p>
  This email is just a friendly reminder that we cap  the number of views on the Starter Plan at <%= @limit %> so you’re on your way there already.
</p>

<p>
  If you reach 5,000 before the end of the month, we’ll temporarily disable all of your site elements until the end of the month. Your other option is to upgrade to our <a href="https://app.hellobar.com/profile#pricing-growth">Growth Plan</a> or <a href="https://app.hellobar.com/profile#pricing-elite">Elite Plan</a>.
</p>

<p>Cheers,<br>

Hello Bar Success Team</p>
