<p>Hi,</p>

<p>
  You have reached your limit of <%= @limit %> views on the Starter Plan on <%= @site.url %>.
</p>

<p>
  <b>We have disabled all of your site elements for now.</b>
</p>

<p>
  To enable your site elements again you can either wait until the end of this month or upgrade to our <a href="https://app.hellobar.com/profile#pricing-growth">Growth Plan</a> or <a href="https://app.hellobar.com/profile#pricing-elite">Elite Plan</a>.
</p>

<p>Cheers,<br>

Hello Bar Success Team</p>
