i,

You have reached your limit of <%= @limit %> views on the Starter Plan on <%= @site.url %>.


We have disabled all of your site elements for now.


To enable your site elements again you can either wait until the end of this month or upgrade to our <a href="https://app.hellobar.com/profile#pricing-growth">Growth Plan</a> or <a href="https://app.hellobar.com/profile#pricing-elite">Elite Plan</a>.

Cheers,
Hello Bar Success Team
