<p>Hi,</p>

<p>
  You have exceeded your monthly view limit of <%= @limit %> on your Hello Bar site: <%= @site.url %>.
</p>

<p>
  Your bars have now stopped displaying until the 1st of next month. Login now at <a href="<%= @login_url %>"> <%= @login_url %></a> to upgrade to a larger plan so your bars and popups can get back into action.
</p>

<p>Thanks for using Hello Bar!</p>
