Hi,

You have exceeded your monthly view limit of <%= @limit %> on your Hello Bar site: <%= @site.url %>.


Your bars have now stopped displaying until the 1st of next month. Login now at <a href="<%= @login_url %>"> <%= @login_url %></a> to upgrade to a larger plan so your bars and popups can get back into action.


Thanks for using Hello Bar!
