<div class="select-block">
  {{currentChoice.label}}
  {{#if currentChoice.isPro}}<span class="pro-tag">PRO</span>{{/if}}
</div>

<div class="custom-select-dropdown">
  {{#each option in options}}
    <div class="custom-select-option" {{action 'optionSelected' option bubbles=false}}>
      {{option.label}}
      {{#if option.isPro}}<span class="pro-tag">PRO</span>{{/if}}
    </div>
  {{/each}}
</div>
