<img src="{{imageSrc}}" alt="Theme thumbnail"/>
<div class="theme-name">{{ theme.name }}</div>

<a href="javascript:void(0)" class="button-overlay {{if selectButtonIsVisible 'visible'}}" {{action "select"}}>
  <div class="button">Select</div>
</a>