.ember-power-select-trigger
  border-radius: 5px
  height: 40px
  overflow: hidden

  .ember-power-select-selected-item
    line-height: 30px

  .ember-power-select-status-icon
    right: 15px

.ember-power-select-option
  .button.paid
    padding: 0 7px
    margin-left: 7px
