<div>
  {{#link-to "interstitial" replace=true}}
  <p>
    &lt; &nbsp; Choose a different goal
  </p>
  {{/link-to}}
</div>

<footer>
  <p>
    <small>
      <a href="/sites/{{ siteID }}">I’ll do this later, take me to my dashboard</a>
    </small>
  </p>
</footer>