{{#common/panels/collapse-panel title="Conversion Styling"}}
  <div class="panel-input">
    <div class="panel-input__label">Font</div>
    <div class="panel-input__input">
      {{common/inputs/font-name selectedFont=model.conversion_font}}

    </div>
  </div>

  <div class="panel-input">
    <div class="panel-input__label">Font Color</div>
    <div class="panel-input__input">
      {{selectedColorAndFont}}
      {{common/inputs/color-picker color=model.text_color}}
    </div>
  </div>

  <div class="panel-input">
    <div class="panel-input__label">Font Size</div>
    <div class="panel-input__input">
      {{common/inputs/number-input name="conversion_font_size" value=model.conversion_font_size max=48}}
    </div>
  </div>
{{/common/panels/collapse-panel}}
