---
http_interactions:
- request:
    method: get
    uri: https://api.aweber.com/1.0/accounts?oauth_consumer_key=AkaAj8mnQfRx4g2udE3B8W2B&oauth_nonce=cA5zNlt8qw0dr5f7Vv1xod8RJNzlDpOa7zND1txtcA&oauth_signature=vRMoF1ak40lVLr0akIG6K7nVZWw=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1491840971&oauth_token=test-token&oauth_version=1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: Ok
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"total_size": 1, "start": 0, "entries": [{"http_etag": "\"a6c6810cb6d06ae63dc91ff953c8225b211b762e-ca5feee2b7fbb6febfca8af5541541ea960aaedb\"",
        "lists_collection_link": "https://api.aweber.com/1.0/accounts/1118926/lists",
        "self_link": "https://api.aweber.com/1.0/accounts/1118926", "resource_type_link":
        "https://api.aweber.com/1.0/#account", "id": 1118926, "integrations_collection_link":
        "https://api.aweber.com/1.0/accounts/1118926/integrations"}], "resource_type_link"
        : "https://api.aweber.com/1.0/#accounts"}'
  recorded_at: Fri, 24 Feb 2017 09:28:03 GMT
- request:
    method: get
    uri: https://api.aweber.com/1.0/accounts/1118926/lists?oauth_consumer_key=AkaAj8mnQfRx4g2udE3B8W2B&oauth_nonce=w6DeiX7b5ABTJynAnVdVtsAWmMr3uRac7wF9zrvo4&oauth_signature=AXYwOtXH6OYOJnbmPLVHYZHDWmY=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1491841033&oauth_token=test-token&oauth_version=1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: Ok
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"total_size": 1, "start": 0, "entries": [{"total_unconfirmed_subscribers":
        5, "total_subscribers_subscribed_yesterday": 0, "unique_list_id": "awlist4567456",
        "http_etag": "\"90078029eb91dac69312c7193f2ffa6b83b8b1a3-ca5feee2b7fbb6febfca8af5541541ea960aaedb\"",
        "web_form_split_tests_collection_link": "https://api.aweber.com/1.0/accounts/1118926/lists/4567456/web_form_split_tests",
        "subscribers_collection_link": "https://api.aweber.com/1.0/accounts/1118926/lists/4567456/subscribers",
        "total_subscribers_subscribed_today": 0, "id": 4567456, "total_subscribed_subscribers":
        4, "total_unsubscribed_subscribers": 0, "campaigns_collection_link": "https://api.aweber.com/1.0/accounts/1118926/lists/4567456/campaigns",
        "custom_fields_collection_link": "https://api.aweber.com/1.0/accounts/1118926/lists/4567456/custom_fields",
        "self_link": "https://api.aweber.com/1.0/accounts/1118926/lists/4567456",
        "total_subscribers": 4, "resource_type_link": "https://api.aweber.com/1.0/#list",
        "web_forms_collection_link": "https://api.aweber.com/1.0/accounts/1118926/lists/4567456/web_forms",
        "name": "AWeber-List1"}], "resource_type_link" : "https://api.aweber.com/1.0/#list-page-resource"}'
  recorded_at: Fri, 24 Feb 2017 09:28:06 GMT
- request:
    method: get
    uri: https://api.aweber.com/1.0/accounts/1118926/lists/4567456/subscribers?oauth_consumer_key=AkaAj8mnQfRx4g2udE3B8W2B&oauth_nonce=PUxjSdsPUkZxLgpSb59jDfctC5f5m2STaH40kPwzsrk&oauth_signature=gNKotNksx2DKww83a7S7rjH6MYg=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1491841068&oauth_token=test-token&oauth_version=1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"0a5f9c3c64b30b8b5ccc061b335968e77a9e54a2"'
    body:
      encoding: UTF-8
      string: '{"self_link": "https://api.aweber.com/1.0/accounts/1118926/lists/4567456/subscribers?ws.start=0&ws.size=100&account_id=1118926&list_id=4567456",
        "start": 0, "total_size": 9, "resource_type_link": "https://api.aweber.com/1.0/#subscribers-page-resource",
        "entries": [{"subscription_url": "https://www.aweber.com/users/leads/add",
        "postal_code": null, "id": 63434477, "custom_fields": {}, "last_followup_sent_link":
        "https://api.aweber.com/1.0/accounts/1118926/lists/4567456/campaigns/f1001",
        "city": "Chandigarh", "ad_tracking": "control panel", "dma_code": null, "last_followup_message_number_sent":
        1001, "last_followup_sent_at": null, "misc_notes": "", "is_verified": true,
        "latitude": 30.7343, "resource_type_link": "https://api.aweber.com/1.0/#subscriber",
        "email": "raj.kumar@crossover.com", "status": "subscribed", "area_code": null,
        "unsubscribed_at": null, "self_link": "https://api.aweber.com/1.0/accounts/1118926/lists/4567456/subscribers/63434477",
        "unsubscribe_method": null, "ip_address": "125.62.107.208", "name": "Manual
        Subscriber", "subscription_method": "webform", "country": "India", "region":
        "CH", "longitude": 76.7933, "verified_at": "2017-02-21T14:11:57", "subscribed_at":
        "2017-02-21T14:10:31-05:00"}, {"subscription_url": null, "postal_code": null,
        "id": 63434534, "custom_fields": {}, "last_followup_sent_link": "https://api.aweber.com/1.0/accounts/1118926/lists/4567456/campaigns/f1001",
        "city": null, "ad_tracking": null, "dma_code": null, "last_followup_message_number_sent":
        1001, "last_followup_sent_at": null, "misc_notes": null, "is_verified": true,
        "latitude": null, "resource_type_link": "https://api.aweber.com/1.0/#sub[...]
- request:
    method: post
    uri: https://api.aweber.com/1.0/accounts/1118926/lists/4567456/subscribers?oauth_consumer_key=AkaAj8mnQfRx4g2udE3B8W2B&oauth_nonce=xLmzt2d2t0Qb9eBryGPcmvpAnEenvHMHl47FgyCQY&oauth_signature=ixUiznB9c%2BD1oVECVxlR97HMpgU=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1491841093&oauth_token=test-token&oauth_version=1.0
    body:
      encoding: US-ASCII
      string: email=raj.kumar%2B7%40crossover.com&name=&tags=%5B%22test-tag1%22%2C%22test-tag2%22%5D&ws.op=create
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - https://api.aweber.com/1.0/accounts/1118926/lists/4567456/subscribers/63461580
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 24 Feb 2017 09:28:11 GMT
- request:
    method: get
    uri: https://api.aweber.com/1.0/accounts/1118926/lists/4567456/subscribers/63461580?oauth_consumer_key=AkaAj8mnQfRx4g2udE3B8W2B&oauth_nonce=cFxvmbr1NDgbOEgabrMUC13OKGOFWcR7P24E9j4uVo&oauth_signature=K/4kiS9tctG8WW2SxXO1cO5xLoo=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1491841114&oauth_token=test-token&oauth_version=1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"df677b1e0cee43577d3ae8bba4aaae9c02ea8cc8"'
    body:
      encoding: UTF-8
      string: '{"subscription_url": null, "postal_code": null, "id": 63461580, "custom_fields":
        {}, "last_followup_sent_link": "https://api.aweber.com/1.0/accounts/1118926/lists/4567456/campaigns/f1001",
        "city": null, "ad_tracking": null, "dma_code": null, "last_followup_message_number_sent":
        1001, "last_followup_sent_at": null, "misc_notes": null, "is_verified": false,
        "latitude": null, "resource_type_link": "https://api.aweber.com/1.0/#subscriber",
        "email": "raj.kumar+7@crossover.com", "status": "unconfirmed", "tags": ["test-tag2",
        "test-tag1"], "area_code": null, "unsubscribed_at": null, "self_link": "https://api.aweber.com/1.0/accounts/1118926/lists/4567456/subscribers/63461580",
        "unsubscribe_method": null, "ip_address": null, "name": null, "subscription_method":
        "api", "country": null, "region": null, "longitude": null, "verified_at":
        null, "subscribed_at": "2017-02-24T04:28:11.366297-05:00"}'
  recorded_at: Fri, 24 Feb 2017 09:28:13 GMT
recorded_with: VCR 2.9.0
