.barcode-wrapper
  table
    border-width: 0
    border-style: none
    border-color: #0000ff
    border-collapse: collapse

  td
    border-width: 0
    border-style: none
    border-color: #0000ff
    border-collapse: collapse
    padding: 0
    margin: 0
    width: 3px
    height: 3px

  td.black
    background-color: #000

  td.white
    background-color: #fff

.form-control
  margin-bottom: 10px

.form-inline .form-control
  margin-bottom: 0

.monthly-renewal
  background-color: #8ee1da

.yearly-renewal
  background-color: #f1e368

.overage
  background-color: #ff8063
.color-des
  float: right
  margin-bottom: 2px
.dot
  height: 10px
  width: 10px
  border-radius: 50%
  display: inline-block
  margin-right: 2px
  margin-left: 2px


.orange-color
  background: #ff8063

.yellow-color
  background: #f1e368

.blue-color
  background: #8ee1da


