#user_profile

  #profile_header
    height: 80px

    h1
      float: left
    a
      @include vertical-align
      float: right

  table

    th, td
      padding-right: 15px

    tr.hilight
      background-color: #DFDFDF

  .site_section
    padding: 15px 0

    .title
      font-weight: bold

  form
    display: none
    padding: 10px

    label
      padding-right: 10px
