//
// Icon Font: hellobar-icons
//



[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.hellobar-icon-house:before,
.hellobar-icon-mobile-phone:before,
.hellobar-icon-people:before,
.hellobar-icon-saved-segment:before,
.hellobar-icon-settings-knobs:before,
.hellobar-icon-trophy:before {
  display: inline-block;
  font-family: "hellobar-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.hellobar-icon-house:before { content: "\f100"; }
.hellobar-icon-mobile-phone:before { content: "\f101"; }
.hellobar-icon-people:before { content: "\f102"; }
.hellobar-icon-saved-segment:before { content: "\f103"; }
.hellobar-icon-settings-knobs:before { content: "\f104"; }
.hellobar-icon-trophy:before { content: "\f105"; }

$font-hellobar-icons-house: "\f100";
$font-hellobar-icons-mobile-phone: "\f101";
$font-hellobar-icons-people: "\f102";
$font-hellobar-icons-saved-segment: "\f103";
$font-hellobar-icons-settings-knobs: "\f104";
$font-hellobar-icons-trophy: "\f105";
