/*-----------  Colors  -----------*/

$grayLighter   : #F5F5F5
$grayLight     : #E3E8EB
$gray          : darken(#9EADB3, 5%)
$grayDark      : #6F787C
$grayDarker    : darken($grayDark, 10%)

$blue          : #10A1CB
$blueDark      : #026E8D
$blueDarker    : #014356
$blueDarkest   : darken($blueDarker, 4%)

$green         : #25CBBA
$greenDark     : #19A798
$greenDarker   : #11897C
$greenReal     : rgb(86, 183, 66)

$orange        : #f07f10
$orangeDark    : #d16f0e
$orangeDarker  : #b7600b

$red           : rgb(213, 52, 42)
$yellow        : rgb(232, 208, 46)

$white         : #FFFFFF
$black         : $blueDarker

/*-----------  Social Colors  -----------*/

$facebook     : #3b5998

/*-----------  Sizing  -----------*/

$emBase       : 15px

$maxWidth     : 75em
$smallWidth   : 32em

$gutter       : 2em
$gutterSm     : $gutter / 1.75
$gutterLg     : $gutter * 1.75

/*-----------  Styling Defaults  -----------*/

$radius       : 4px

$shadow       : 0 0 1em rgba($black, 0.25)
$shadowSubtle : 0 0 1em $black

$border       : 1px solid $black

/*-----------  Fonts  -----------*/

$bodyFont           : 'Source Sans Pro', sans-serif
$bodyWeightNormal   : 300
$bodyWeightBold     : 600

$headerfont         : 'Source Sans Pro', sans-serif
$headerWeightNormal : 300
$headerWeightBold   : 600
