/*-----------  Colors  -----------*/

$white         : rgb(255, 255, 255)
$balck         : rgb(  0,   0,   0)

$grayLighter   : rgb(239, 239, 239)
$grayLight     : rgb(231, 231, 231)
$gray          : rgb(206, 206, 206)
$grayDark      : rgb(181, 181, 181)
$grayDarker    : darken($grayDark, 10%)

$blue          : rgb(111, 213, 234)

$green         : rgb( 96, 205, 118)

$purple        : rgb(194, 100, 208)

$yellow        : rgb(255, 194,   0)

$orange        : rgb(235,  89,  60)

$red           : rgb(216,  78,  51)

/*-----------  Sizing  -----------*/

$emBase       : 15px

$maxWidth     : 75em
$smallWidth   : 32em

$gutter       : 2em
$gutterSm     : $gutter / 1.75
$gutterLg     : $gutter * 1.75

/*-----------  Styling Defaults  -----------*/

$radius       : 0.2em

$border       : 1px solid $gray
$borderLight  : 1px solid $grayLight

/*-----------  Fonts  -----------*/

$fontFamily       : 'Open Sans', sans-serif
$fontWeightLight  : 300
$fontWeightNormal : 600
$fontWeightBold   : 700
