/*-----------  Colors  -----------*/

$white         : rgb(255, 255, 255)

$grayLightest  : rgb(246, 246, 246)
$grayLighter   : rgb(226, 226, 226)
$grayLight     : rgb(198, 198, 198)
$gray          : rgb(132, 132, 132)
$grayDark      : rgb(102, 102, 102)
$grayDarker    : rgb( 79,  79,  79)

$black         : $grayDarker

$blueLighter   : rgb(238, 247, 253)
$blueLight     : rgb( 60, 212, 217)
$blue          : rgb( 69, 180, 214)

$green         : rgb( 84, 211, 136)

$purple        : rgb(157,  83, 188)

$yellow        : rgb(255, 191,  31)

$orange        : rgb(235,  89,  60)

$red           : rgb(237,  87,  52)

/*-----------  Sizing  -----------*/

$emBase       : 15px

$maxWidth     : 67em
$smallWidth   : 32em

$sidebarWidth : 13em
$headerHeight : 5rem

$gutter       : 2em
$gutterSm     : $gutter / 1.75
$gutterLg     : $gutter * 1.75

/*-----------  Styling Defaults  -----------*/

$radius       : 5px

$border       : 1px solid $gray
$borderLight  : 1px solid $grayLight

$shadow       : 0.33em 0.33em 1em rgba($grayDarker, 0.33)
$shadowSubtle : 0 0 1em rgba($grayDarker, 0.25)

/*-----------  Fonts  -----------*/

$fontFamily       : 'Open Sans', sans-serif
$fontWeightLight  : 400
$fontWeightNormal : 600
$fontWeightBold   : 700
