<ul class="step-links">
  {{#link-to 'goals' tagName="li" class="step-settings"}}
    <i class="hellobar-icon hellobar-icon-trophy"></i>
    <div class="caption">Goals</div>
  {{/link-to}}

  {{#link-to 'styles' tagName="li" class="step-style"}}
    <i class="icon-style"></i>
    <div class="caption">Style</div>
  {{/link-to}}

  {{#link-to 'design' tagName="li" class="step-content"}}
    <i class="icon-content"></i>
    <div class="caption">Content</div>
  {{/link-to}}

  {{#link-to 'targeting' tagName="li" class="step-targeting"}}
    <i class="icon-views"></i>
    <div class="caption">Targeting</div>
  {{/link-to}}
</ul>
