<img class="side-bar-logo" src="{{ image_path "icons/h-logo.svg" }}">

<ul class="step-links">
  {{#each links as |link| }}
    {{#link-to link.route tagName="li" class=link.classNames}}
      <div class="step-links__item {{if link.isDone "done"}}">
        <div class="progress"></div>
        {{component link.icon}}
        <div class="caption">{{link.caption}}</div>
      </div>
    {{/link-to}}
  {{/each}}
</ul>
