<p>Hi,</p>

<p>
  You have exceeded your monthly view limit of <%= @limit %> on your Hello Bar site: <%= @site.url %>.
</p>

<p>
  You will be charged an additional $5 for each 25,000 views that your popups and bars receive this month. Login now at <a href="<%= @login_url %>"> <%= @login_url %></a> to upgrade to a larger plan with higher monthly view limits.
</p>

<p>Thanks for using Hello Bar!</p>
