<p>Hi,</p>

<p>
  You have exceeded your monthly view limit on <%= @site.url %>. Your current plan allows for <%= @limit %> views per month and your site is currently over <%= @number_of_views %>.
</p>

<p>
  Your site elements are all still active and you will now be charged $5 for each additional 25,000 views (if you're on a Growth plan) or $5 for each 100,000 views (if you're on an Elite plan) during this month. Your view count allowance will reset on the 1st day of next month.
</p>

<p>
  If you're on our Growth plan, your other option is to upgrade to our <a href="https://app.hellobar.com/profile#pricing-elite">Elite Plan</a> which gives you 500,000 views plus lots of other cool features.
</p>

<p>
  If you are an Elite plan user and anticipate going over this limit regularly you should reach out to us directly and we can discuss a custom plan for you! Just reply to <a href="mailto:support@hellobar.com">support@hellobar.com</a> and we’ll get back to you asap!
</p>

<p>Thanks for using Hello Bar!</p>
