<p>Hi,</p>

<p>
  You have exceeded your monthly view limit on <%= @site.url %>. Your current plan allows for <%= @limit %> views per month and your site is currently over <%= @number_of_views %>.
</p>

<p>
  Your pop-ups are all still showing as they normally would but you will now be charged $5 for each additional 100,000 views they get, until the end of this month. Your view count allowance will reset to zero on the 1st day of next month.
</p>

<p>
  If you anticipate going over this limit regularly, you should reach out to us directly and we can discuss a custom plan for you! Just reply to <a href="mailto:support@hellobar.com">support@hellobar.com</a> and we’ll get back to you asap!
</p>

<p>Thanks for using Hello Bar!</p>
