<p>Hi,</p>
<p>
  Your deactivated site elements have been reactivated on your Hello Bar site: <%= @site.url %>.
</p>

<p>
  To prevent your site elements from being deactivated again or if you’d like to activate them again right now, <a href="https://app.hellobar.com/profile#pricing-growth">upgrade to one of our paid plans</a>. You’ll get way more views and lots of other cool features.
</p>

<p>Thanks for using Hello Bar!</p>
