<div class="file-upload-container">
  <div class="file-upload" id="dropzone-preview">
    <span class="default-text">Click or drag to upload ...</span>
  </div>
  <i class="file-action icon-trash"></i>
</div>
