<nav class="tabs-wrapper">
  {{#each pane in panes}}
    {{#nav-tab paneId=pane.paneId name=pane.name onSelection=pane.action}}
      {{pane.name}}
    {{/nav-tab}}
  {{/each}}
</nav>

<div class="tab-content">
  {{yield}}
</div>
