<nav class="tabs-wrapper">
  {{#each pane in panes}}
    {{#nav-tab paneId=pane.paneId onSelection=pane.action}}
      <a>{{pane.name}}</a>
    {{/nav-tab}}
  {{/each}}
</nav>

<div class="tab-content">
  {{yield}}
</div>
