/*-----------  Activity Blocks  -----------*/

.activity-wrapper
  color: $gray
  font-size: 0.95em
  margin-bottom: 3em

  .activity-block
    margin-bottom: 0.5em
    padding: 0.75em 1.15em
    border-radius: $radiusSm
    border: 1px solid $grayLightest

    p
      margin: 0

    &.email
      border-left-color: $green
