/*-----------  Buttons  -----------*/

.button
  color: $red
  outline: none
  cursor: pointer
  padding: 0.55em 1.25em
  border-radius: $radius
  border: 2px solid $red
  background-color: $white
  @include inline-block()
  @include transition()

  &:hover
    color: light

  &[disabled]
    cursor: not-allowed
    background-color: $gray