/*-----------  Buttons  -----------*/

.button
  color: $red
  cursor: pointer
  border-radius: $radius
  border: 2px solid $red
  background-color: $white
  padding: 0.5em 1.33em 0.4em
  @include inline-block()
  @include transition()

  &:hover
    color: light

  &[disabled]
    cursor: not-allowed
    background-color: $gray