.modal-wrapper.contact-list-modal
  .modal-block
    max-width: 750px

  .name-and-provider-block
    width: 300px

  .provider-instructions-block,
  .provider-instructions-nevermind-block
    width: 300px
    float: right
    display: none
