/*-----------  Custom Select  -----------*/

.custom-select-wrapper,
.contact-list-wrapper
  @extend .select-wrapper
  margin-top: 0.25rem !important
  border-color: rgba($gray, 0.5)
  position: relative

  &:focus
    outline: none

  .custom-select-dropdown,
  .contact-list-dropdown
    left: 0
    opacity: 0
    width: 100%
    z-index: 100
    border: $border
    border-top: 0
    overflow: hidden
    position: absolute
    pointer-events: none
    background-color: $white
    @include transition()

    .custom-select-option,
    .contact-list-option
      color: $gray
      font-size: 0.8rem
      padding: 0.5rem 0.75rem
      @include transition()

      &:hover
        cursor: pointer
        background-color: $grayLightest

  /*-----------  STATE: Is Open  -----------*/

  &.is-open
    border-color: $gray

    .contact-list-block
      border-radius: $radiusLg $radiusLg 0 0

    .custom-select-dropdown,
    .contact-list-dropdown
      opacity: 1
      pointer-events: auto

/*-----------  Custom Select  -----------*/

.custom-select-wrapper

  &:before
    top: 0.3rem
    bottom: auto !important

  .select-block
    margin: 0
    color: $gray
    border-color: $grayLighter

  &.is-open
    .select-block
      border-color: $grayLight

  .pro-tag
    top: -1px
    color: $white
    font-weight: bold
    background: $green
    font-size: 0.67rem
    position: relative
    margin-left: 0.5rem
    padding: 0.2rem 0.33rem
    border-radius: $radiusSm

  .custom-select-dropdown
    @include calc(top, '100% + 1px')

    .custom-select-option

      &:first-of-type
        padding-top: 0.75rem

      &:last-of-type
        padding-bottom: 0.75rem

/*-----------  Contact List  -----------*/

.contact-list-wrapper

  &:before
    top: 0.8rem
    bottom: auto !important

  .contact-list-block,
  .contact-list-option
    @extend %outlined-block

    i
      color: $grayLight !important

    > div
      color: $grayLight
      padding-right: $gutter

      .contact-list-title
        color: $gray
        line-height: 100%
        padding-top: 0.1em
        @include ellipsis()

  &:not(.has-list)

    &::before
      display: none

    .contact-list-block

      i
        color: $blueLight
        font-size: 1.5em

      > div
        color: $blueLight
        text-decoration: underline

  .contact-list-dropdown
    border-radius: 0 0 $radiusLg $radiusLg

    .contact-list-option
      margin-top: 0
      border: none !important
      border-radius: 0 !important

  > small
    font-size: 0.75rem

    a
      color: $blue
      opacity: 0.75
      margin-top: 0.25em
      margin-right: 0.67em
      text-decoration: underline
      @include inline-block()

      &:hover
        opacity: 1
        cursor: pointer
