/*-----------  Icons  -----------*/

[class*='icon-']
  position: relative

  .numbers
    margin: 0
    position: absolute
    font-style: normal
    color: $white !important

/*-----------  Noitifcations Icon  -----------*/

.icon-notification

  .numbers
    right: 31%
    bottom: 19%
    width: 1.85em
    font-size: 0.25em
    text-align: center
    line-height: 1.75em
    border-radius: 10em
    background-color: $red
    border: 1px solid $white

/*-----------  Badge Icon  -----------*/

.icon-badge

  .numbers
    top: 60%
    left: 40%
    font-size: 0.33em