/*-----------  Icons  -----------*/

[class^='icon-']

  .icon-num
    margin: 0
    position: absolute
    font-style: normal
    color: $white !important

/*-----------  Noitifcations Icon  -----------*/

.icon-notification
  position: relative

  .icon-num
    right: 31%
    bottom: 19%
    width: 1.85em
    font-size: 0.25em
    text-align: center
    line-height: 1.75em
    border-radius: 10em
    background-color: $red
    border: 1px solid $white

/*-----------  Badge Icon  -----------*/

.icon-badge
  position: relative

  .icon-num
    top: 64%
    left: 24%
    font-size: 0.33em
