.file-upload-container
  width: 100%
  height: 2em
  margin: 0.75em auto
  color: $gray

  .file-upload
    height: 100%
    width: 85%
    cursor: pointer
    border: 1px solid $grayLighter
    float: left
    padding: 0.45em 0.67em
    font-size: 0.85em

  .file-action
    cursor: pointer
    float: right
    font-size: 1.75em

    &.icon-trash.active
      color: red

    &.icon-sync
      color: $green
      @include animation(spin 2s infinite ease-in-out)
      -webkit-transform-origin: 50% 42%
      -moz-transform-origin: 50% 42%
      -ms-transform-origin: 50% 42%
      -o-transform-origin: 50% 42%
      transform-origin: 50% 42%

  .dz-error-message
    color: red
    font-style: italic
    font-size: 0.9em
    margin-top: 10px

  .dz-image
    display: none

  .dz-size
    float: right

  .dz-progress
    display: none

  .dz-success-mark
    display: none

  .dz-error-mark
    display: none

  .dz-filename
    text-overflow: ellipsis
    white-space: nowrap
    width: 70%
    overflow: hidden
