/*-----------  Navigation Tabs  -----------*/

.tabs-wrapper
  margin-bottom: 2em
  border-bottom: 2px solid $grayLighter

  a
    color: $grayLighter
    font-size: 1.15em
    padding-bottom: 0.5em
    margin: 0 1.33em -2px 0
    text-transform: uppercase
    border-bottom: 2px solid transparent
    @include inline-block()

    &:hover
      color: $grayLight

    &.active
      color: $red
      border-bottom-color: $red
