/*-----------  Temporary Block  -----------*/

.temporary-block
  color: $gray
  padding: 2.25em
  margin-left: auto
  margin-right: auto
  max-width: $blockWidth
  border-radius: $radiusLg
  text-align: center !important
  border: 1px dashed $grayLighter

  a
    color: $blueLight
    margin-right: 0.33em
    text-decoration: underline

    &:hover
      color: $blue

  p
    max-width: 75%
    margin-left: auto
    margin-right: auto
    margin-bottom: 0

  .button
    @extend %raised-green-button

  a.button
    margin-top: 1em
    text-decoration: none

    &:hover
      color: white
