<p>Hi,</p>

<p><%= @referral.body %></p>

<p>
  <a href="<%= @referral.url %>"><%= @referral.url %></a><br>
  If you have any questions, please feel free to contact us.
</p>

<p>
  P.S. This invitation expires on <%= @referral.expiration_date_string %>.
</p>
