<p>Congratulations!</p>
<p>
  Hi <%= @referral.sender.first_name %>,
</p>

<p>
  Actually, two "congratulations" are in order:
  Both you and your friend <%= @user.name %>
  get a free bonus month of Hello Bar Pro,
  because your friend set up Hello Bar and it's now live.
  Way to go!
</p>

<p>
  Both of you not only saved money, but also have a full month to
  squeeze lots of benefits out of your Pro account.
</p>

<p>
  While you're on a roll, can you think of
  other friends that can benefit from Hello Bar?
</p>

<p>
  If so, just go <a href="https://hellobar.com/referrals/new" target="_blank">here</a>
  and we'll get the ball rolling with them too. <br>
  As always, if I can support you in any way, please feel free to contact me.
</p>

<p>
  Best regards, <br>
  Christopher Lai <br>
  Customer Service Specialist
</p>
