//-----------  External Libraries  -----------//
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'bootstrap/tooltip';

.upgrade-account-modal .tooltip-inner {
  font-size: 12px !important;
}
.upgrade-account-modal .pl8 {
  padding-left: 8px!important;
  color: lightgray!important;
}
