.header-wrapper
  background-color: #ec5638
  color: #fff
  border-bottom: 1px solid #ed8874
  margin-bottom: 10px

  h1
    background: image-url("hellobar_logo_white.svg") no-repeat
    width: 200px
    height: 56px
    margin: 10px 0 3px
    display: inline-block

  ul#navigation
    float: right
    margin-top: 24px

    li
      display: inline-block
      margin-left: 20px
      font-size: 1.2em

    a
      color: #fff
