@import "variables"

.header-wrapper
  background-color: $orange
  color: #fff
  border-bottom: 2px solid $light-orange
  margin-bottom: 10px

  h1
    background: image-url("hellobar_logo_white.svg") no-repeat
    width: 200px
    height: 56px
    margin: 10px 0 3px
    display: inline-block

  ul#navigation
    text-align: right
    margin-top: 24px

    li
      display: inline-block
      margin-left: 20px
      font-size: 1.2em

    a
      color: #fff

    li.avatar img
      border: 3px solid #fff
      height: 50px
      margin-top: -3px

  ul#navigation.logged-in-nav
    margin-top: 15px

    ul.dropdown-menu
      border-radius: 0
      border: 1px solid $dark-grey
      top: 60px

      li
        display: inherit
        margin-left: 0
        font-size: 1em

        a
          color: $dark-grey
