.header-wrapper
  background-color: #ec5638
  color: #fff
  border-bottom: 1px solid #ed8874
  margin-bottom: 10px

  h1
    background: url(/assets/hellobar_logo_white.svg) no-repeat
    width: 200px
    height: 56px
    margin: 13px 0 10px
