@import "variables"

body#with-sidebar
  div.header-wrapper
    margin-bottom: 0

div#sidebar-container
  height: 100%

div#sidebar
  height: 100%
  background-color: $light-grey

  hr
    margin-top: 0

  ul
    padding: 0
    margin: 0

    a:hover
      text-decoration: none

    li
      color: $dark-grey
      display: block
      width: 190px
      padding: 15px
      position: relative
      left: -15px

      .glyphicon
        padding-right: 15px
        position: relative
        top: 2px

    li.active, a li:hover
      color: $darkest-grey
      background-color: #fff
