@import "variables"
@import "mixins"

.site-element-row
  border: 1px solid $grey
  border-left: 0
  padding: 1.2em 0
  margin: 0 1px 10px
  clear: both

.site-element-col
  float: left
  padding: 0 0.6em

.col-bar-message
  width: 30%
  padding-left: 1.2em

.col-age,
.col-edit,
.col-pause
  text-align: center
  width: 8%

.col-age span
  font-size: 1.2em
