@import "variables"
@import "mixins"

form#new_site, form.edit_site
  width: 400px

.installation-panel
  .panel-default
    @include border-radius(0)
    border: 2px solid $light-grey

    .panel-heading
      background-color: white

      a
        color: $orange

      .installation-glyph
        float: left
        color: $orange
        font-size: 2em
        margin-left: 4px

    .panel-collapse .panel-body
      border-top: 0

  div.developer-email
    margin-bottom: 10px

    input
      margin-left: 10px
      width: 300px

  div.generic-message
    width: 100%
    margin-bottom: 10px

    textarea
      width: 100%
      height: 150px
