//-----------  External Libraries  -----------//

@import 'normalize';                // CSS Normalization & Resets (http://necolas.github.io/normalize.css)

//-----------  Application Settings  -----------//

@import 'settings/variables';       // Global Variables & Settings
@import 'settings/mixins';          // Additional Custom Mixins
@import 'settings/fonts';           // Custom Font & Typeface Settings & Mixins

//-----------  HTML Elements  -----------//

@import 'elements/*';               // HTML Elements (Grouped according to https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5/HTML5_element_list)
@import 'elements/forms/*';         // HTML Form Elements

//-----------  Custom Components  -----------//

@import 'components/*';             // Custom Reuseable Components

//-----------  Page Layouts  -----------//

@import 'layouts/common';              // Common Layout Blocks
@import 'layouts/document';            // Document Layouts
@import 'layouts/global/footer';       // Global Footer
@import 'layouts/modals/welcome_back'; // welcome back modal

@import 'layouts/pages/*';          // Static Pages (Home, About Us, etc)
@import 'layouts/devise/*';         // User Account Pages
@import 'layouts/user/new';         // User Account Pages
