<p>Hello <%= @resource.email %>!</p>

<% if @resource.respond_to?(:is_oauth_user?) && @resource.is_oauth_user? %>

<p>Someone has requested a link to change your password.</p>
<p>This account was authenticated through Google so no password reset is necessary.  To continue, please sign in </p>
<p><%= link_to 'through Google', user_omniauth_authorize_url(:google_oauth2) %>.</p>
<p>If you didn't request this, please ignore this email.</p>

<% else %>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>
<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

<% end %>
