---
http_interactions:
- request:
    method: post
    uri: https://ft319.infusionsoft.com/api/xmlrpc
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" ?><methodCall><methodName>DataService.query</methodName><params><param><value><string>79f110f74f0db4767710ccec533347b0</string></value></param><param><value><string>ContactGroup</string></value></param><param><value><i4>1000</i4></value></param><param><value><i4>0</i4></value></param><param><value><struct/></value></param><param><value><array><data><value><string>GroupName</string></value><value><string>Id</string></value></data></array></value></param></params></methodCall>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><methodResponse><params><param><value><array><data><value><struct><member><name>GroupName</name><value>6/01/2016
        2:40 AM</value></member><member><name>Id</name><value><i4>107</i4></value></member></struct></value><value><struct><member><name>GroupName</name><value>6/10/2016
        12:15 AM</value></member><member><name>Id</name><value><i4>133</i4></value></member></struct></value><value><struct><member><name>GroupName</name><value>Activist</value></member><member><name>Id</name><value><i4>123</i4></value></member></struct></value><value><struct><member><name>GroupN[...]
[...]
