.modal-wrapper
  .modal-block
    header
      h5= "{{header}}"

    .contact-list-modal
      .flash-block
        i.icon-close

      .name-and-provider-block
        form.contact_list
          label for="contact_list_name" Name
          input type="text" id="contact_list_name" name="contact_list[name]" value="My Contacts"

          label for="contact_list_provider" Where do you want your contacts stored?

          .select-wrapper
            select id="contact_list_provider" name="contact_list[provider]"
              - options_for_provider_select.each do |text, value, data|
                = content_tag :option, text, value: value, data: data

          p
            small You can choose to keep your contacts in Hello Bar, or sync with an email service like MailChimp.
          .remote-list-select-block

      .provider-instructions-block
        / Empty

      .provider-instructions-nevermind-block
        / Empty

      .sync-details-block
        / Empty

      .hellobar-only
        p If you use an email service like MailChimp, select it from the list on the left and we'll sync your contacts there.
        p If not, no worries. We'll store your contacts in Hello Bar for now and you can change this setting later if you want.

      .loading-overlay
        .loading-message
          i.icon-settings
          | Fetching data...

    footer
      a.button.cancel Cancel
      a.button.submit Done
