/*-----------  Radio & Checkbox  -----------*/

input[type=radio],
input[type=checkbox]
  width: 5%
  font-size: 1.5em
  @include inline-block()

input[type=radio] + label,
input[type=checkbox] + label
  margin: 0
  width: 95%
  color: $gray
  cursor: pointer
  text-align: left
  position: relative
  padding-left: 1em
  font-size: 0.85em
  font-weight: $fontWeightNormal
  user-select: none
  @include inline-block()
  transition: all 0.15s ease-out 0s

  small
    color: $gray
    display: block

    strong
      color: red
      display: block
