/*-----------  Manage Dashboard  -----------*/

[id^="site_elements-"]

  table.rules-wrapper
    width: 100%
    max-width: 100%
    border-spacing: 0 0.75em
    border-collapse: separate

    tr
      height: 4rem

      &:first-child
        height: auto

      th, td
        font-size: 1em
        text-align: center
        margin-bottom: 0.67em

        &:nth-child(2)
          text-align: left
          padding-left: 1.33rem

      /*-----------  Table Headers  -----------*/
      
      th
        padding: 1.67em 0 0.67em

      th:not([colspan])
        font-size: 0.75em
        color: $grayLighter
        padding-top: 0 !important
        text-transform: uppercase
        border-bottom: 1px solid $grayLighter

      th[colspan]

        .dropdown-wrapper
          right: -0.75em
          bottom: 0.33em
          position: absolute

          > i
            font-size: 1.15em

      /*-----------  Rule Row ----------*/

      &.rule-block

        .rule-description
          max-width: 60em
          @include ellipsis()

        .remove-rule
      
          span
            margin: 0
      
            &:before, &:after
              content: " "

      /*-----------  Site Element Rows  -----------*/

      &.site-element-block
        border-color: $grayLighter

        td
          padding: 0
          min-width: 5.5rem
          @include antialiased()

          > i
            color: $grayLight
            font-size: 2.25em
            vertical-align: bottom

          &:nth-child(2)
            width: 100%
            max-width: 23em
            padding-left: 1.67rem

            p
              width: 100%

          &:nth-child(3)
            min-width: 6rem

          &:nth-child(4)
            background-color: $blueLighter

            [class*='icon-']
              color: $red

          &:nth-child(8)
            min-width: 6rem   
            font-weight: bold       

          &:nth-child(9)
            min-width: 7rem
            border-right-width: 1px
            background-color: $grayLightest

            .testing-icon,
            .dropdown-wrapper > i
              top: 3px
              color: $grayLight
              vertical-align: middle

            .testing-icon
              color: $red
              font-size: 1.67em
              @include inline-block()

              .numbers
                left: 0
                right: 0
                font-weight: bold

              &.icon-tip

                .numbers
                  top: 16%
                  font-size: 0.55em

              &.icon-circle
    
                .numbers
                  top: 10%
                  font-size: 0.6em

            .dropdown-wrapper
              margin-right: -1.33rem

              > i
                font-size: 1.33em
                padding-left: 1.25rem

        /*-----------  Type Variations  -----------*/

        &.type-social

          td:nth-child(4) [class*='icon-']
            color: $blue

          td:nth-child(9) .testing-icon
            color: $blue
        
        &.type-traffic

          td:nth-child(4) [class*='icon-']
            color: $yellow

          td:nth-child(9) .testing-icon
            color: $yellow

        &.type-email

          td:nth-child(4) [class*='icon-']
            color: $green

          td:nth-child(9) .testing-icon
            color: $green

        /*-----------  Paused State  -----------*/

        &.paused
          background-color: $grayLightest

          td:nth-child(4)
            background-color: $grayLightest

            [class*='icon-']
              color: $grayLight

      /*-----------  Suggestion Rows  -----------*/

      .suggestion-block
        padding: 1.15em
        letter-spacing: 0.033em
        border-left-style: dashed
        border-right-style: dashed
