/*-----------  Manage Dashboard  -----------*/

[id^="site_elements-"]

  table.rules-wrapper
    width: 100%
    max-width: 100%
    border-spacing: 0 0.75em
    border-collapse: separate

    tr
      height: 4rem

      &:first-child
        height: auto

      th, td
        font-size: 1em
        text-align: center
        margin-bottom: 0.67em

        &:nth-child(2)
          text-align: left
          padding-left: 1.33rem

      /*-----------  Table Headers  -----------*/
      
      th
        padding: 1.67em 0 0.67em

      th:not([colspan])
        font-size: 0.75em
        color: $grayLighter
        padding-top: 0 !important
        text-transform: uppercase
        border-bottom: 1px solid $grayLighter

      th[colspan]

        .dropdown-wrapper
          right: -0.75em
          bottom: 0.33em
          position: absolute

          > i
            font-size: 1.15em

      /*-----------  Site Element Rows  -----------*/

      &.site-element-block
        border-color: $grayLighter

        &.paused
          background-color: $grayLightest

          td:nth-child(4)
            background-color: $grayLightest

            .icon-contacts,
            .icon-social,
            .icon-clicks
              color: $grayLight

        td
          padding: 0
          min-width: 5.5rem
          @include antialiased()

          > i
            color: $grayLight
            font-size: 2.25em
            vertical-align: bottom

          &:nth-child(2)
            width: 100%
            padding-left: 1.67rem

          &:nth-child(3)
            min-width: 6rem

          &:nth-child(4)
            background-color: $blueLighter

            .icon-contacts
              color: $green

            .icon-social
              color: $blue

            .icon-clicks
              color: $yellow

          &:nth-child(8)
            min-width: 6rem   
            font-weight: bold       

          &:nth-child(9)
            min-width: 7rem
            border-right-width: 1px
            background-color: $grayLightest

            > i,
            .dropdown-wrapper > i
              top: 3px
              color: $grayLight
              font-size: 1.33em
              position: relative
              vertical-align: middle

            .dropdown-wrapper
              margin-right: -1.33rem

              > i
                padding-left: 1.25rem

      /*-----------  Suggestion Rows  -----------*/

      .temporary-block
        padding: 1.15em
        letter-spacing: 0.033em
        border-left-style: dashed
        border-right-style: dashed
