/*-----------  Rule Modal  -----------*/

#site_elements-index .modal-block

  form 

    > p

      input
        width: 4em

      .select-wrapper select
        width: 5.5em

    > label
      width: 9%
      margin: 0
      color: $gray
      font-size: 1em
      @include inline-block()

    > input
      width: 91%
      @include inline-block()

  footer
    margin-top: 2em
    @include clearfix()

    a.button
      float: left
      @extend %gray-button

    button.button
      float: right
      @extend %green-button

  /*-----------  Conditions Wrapper  -----------*/
  
  .conditions-wrapper
    padding: 1px 0
    margin-bottom: 0.67em
    border-radius: $radiusSm
    background-color: $grayLightest

    .condition-block
      margin: 1em 1.25em

      .condition-ruleset
        width: 85%
        @include inline-block()

        input,
        select
          margin: 0

        .rule_conditions_segment,
        .rule_conditions_operand
          margin-right: 2%
          @include inline-block()

        .rule_conditions_segment
          width: 22%

          select
            text-transform: capitalize

        .rule_conditions_operand
          width: 22%

        .rule_conditions_choices
          width: 52%
          text-align: left
          @include inline-block()

          .select-wrapper
            width: 67%

          input
            width: 96%

          input[type='date']
            width: 40%
            margin-top: -1px
            padding-top: 0.375em
            padding-bottom: 0.375em
            @include transition(margin-left 0)
            @include inline-block()

          input[type='date']:not([disabled]) ~ input[type='date']:not([disabled])
            margin-left: 4%

          .and-interjection
            color: $gray
            margin-left: 4%
            font-size: 0.85em

      .condition-actions
        width: 15%
        text-align: right
        @include inline-block()

        a
          width: 1.67em
          color: $white
          font-size: 1.5em
          text-align: center
          line-height: 1.67em
          margin-left: 0.25em
          border-radius: $radiusSm
          @include inline-block()

          &.condition-remove
            background-color: $grayLight

            &:hover
              background-color: darken($grayLight, 15%)

          &.condition-add
            background-color: $blue

            &:hover
              background-color: darken($blue, 15%)
