{{#start_date}}
if ( (new Date()).getTime()/1000 < {{start_date}}) return false;
{{/start_date}}
{{#end_date}}
if ( (new Date()).getTime()/1000 > {{end_date}}) return false;
{{/end_date}}
{{#exclude_urls}}
if (HB.umatch("{{url}}", document.location)) return false;
{{/exclude_urls}}
{{#include_urls}}
if (HB.umatch("{{url}}", document.location)) return true;
{{/include_urls}}
return true;
