(function() {
  if (typeof(HB) == "undefined") {
    HB_BACKEND_HOST = "{{hb_backend_host}}";

    HB_SITE_ID = {{site_id}};
    HB_SITE_URL = "{{site_url}}";
    HB_WK = "{{site_write_key}}"; // The site's write key
    HB_TZ = "{{site_timezone}}"; // The site's timezone offset in the format "+/-HH:MM"
    HB_PS = "{{pro_secret}}";
    HB_GL_URL = "{{geolocation_url}}";

    // HelloBar JS Modules
    (function() {
      // Loading core for module management
      var hellobar = {{{core_js}}}

      // Loading all modules
      {{{modules_js}}}

      // A few helper functions
      function hasCapability(capability) {
        return hellobar('base.capabilities').has(capability);
      }

      function isPreviewMode() {
        return hasCapability('preview');
      }

      // Configure modules

      hellobar('base.capabilities', {
        configurator: function(configuration) {
          configuration.capabilities({{{capabilities_json}}});
        }
      });

      hellobar('base.site', {
        configurator: function(configuration) {
          configuration.siteId({{site_id}}).siteUrl('{{site_url}}');
        }
      });

      hellobar('geolocation', {
        configurator: function(configuration) {
          configuration.geolocationUrl('{{geolocation_url}}');
        }
      });

      !isPreviewMode() && hasCapability('geolocation_injection') && hellobar('geolocation.injection', {
        configurator: function(configuration) {
          configuration.autoRun(true);
        }
      });

      // Loading bar modules
      // TODO

      !isPreviewMode() && hasCapability('autofills') && hellobar('autofills', {
        configurator: function(configuration) {
          var autofills = {{{autofills_json}}};
          configuration.autofills(autofills).autoRun(true);
        }
      });
    })();

    {{{libs_js}}}

    (function() {

      HBInit = function () {
        if (Object.prototype.toString.call( _hbq ) === "[object Array]") {
          HB.CAP = {{{capabilities_json}}};
          // Protect capabilities from being modified
          if ( typeof(Object.defineProperty) != "undefined")
          {
            try{Object.defineProperty(HB, 'CAP', {writable:false, configurable: false});}catch(e){};
            for(var p in HB.CAP)
            {
              try{Object.defineProperty(HB.CAP, p, {writable:false, configurable: false})}catch(e){};
            }
          }

          HB.CONTENT_UPGRADES  = {{{content_upgrades_json}}}
          HB.CONTENT_UPGRADES_STYLES  = {{{content_upgrades_styles_json}}}

          {{#templates}}
            hellobar('templating').setTemplate("{{name}}", {{{markup}}});
          {{/templates}}

          {{#branding_templates}}
            hellobar('templating').setTemplate("{{name}}", {{{markup}}});
          {{/branding_templates}}

          {{#content_upgrade_template}}
            hellobar('templating').setTemplate("{{name}}", {{{markup}}});
          {{/content_upgrade_template}}

          HB.addCSS({{{hellobar_element_css}}});
          HB.extCSS = {{{hellobar_container_css}}};
        }
      }

      HBInit();

      {{#rules}}
        _hbq.push(function(){HB.addRule("{{match}}", {{{conditions}}}, {{{site_elements}}})});
      {{/rules}}

      if(!HB.isIEXOrLess(8) && {{script_is_installed_properly}}) {
        _hbq = new HBQ();
      }
    })();
  }
})();
