= form_for site, url: admin_site_path(site), method: :put, html: {class: "clear-info-form"} do |f|
  = f.hidden_field :invoice_information, value: ''
  = f.submit 'clear', class: 'clear-info-form-btn', data: { disable_with: "submitting..." }
