{{#if allowImages}}
  {{#if themeHasDefaultImage}}
    <label class="default-image">
      {{common/checkboxes/toggle-switch switch=model.use_default_image}}
      Use default image
    </label>
  {{/if}}

  {{#unless useThemeImage}}
    <label>Upload an image</label>
    <div class="image-upload">
      {{design/images/uploading/image-upload
        setImageProps="setImageProps"
        existingURL=model.image_url
        existingFileName=model.image_file_name
        imageUploadCopy=imageUploadCopy
        useThemeImage=useThemeImage
      }}
    </div>

  {{/unless}}

  {{#if canUseOpacity }}
    <label>Image opacity</label>
    <div class="slider-wrapper">
      {{common/sliders/range-slider min=0 max=100 start=imageOpacity update="setImageOpacity" leftLabel="0%" rightLabel="100%"}}
    </div>
  {{/if}}
{{else}}
  <label>Site Bars do not support images.
    You'll need to use a Modal, Slider, or Page Takeover to upload an image.</label>
{{/if}}
