I just created a Hello Bar for <%= @site_url %> and
I've asked Hello Bar to email you the instructions for installing it.
All you need to do is add the following bit of JavaScript at the end
of each page (right before the closing </body> tag):


<script type="text/javascript" src="<%= @script_url %>"></script>


If you have any questions don't hesitate to email Hello Bar support at support@hellobar.com,
or e-mail me at <%= @user_email %>.


Thank you!
