A customer has reported that they forgot their email address.
<br>
<table border="0" cellspacing="0">
  <tbody>
  <tr>
    <td>Site:</td>
    <td><%= @site_url %></td>
  </tr>
  <tr>
    <td>Contact Email:&nbsp;</td>
    <td><%= @email %></td>
  </tr>
  <tr>
    <td>Name:</td>
    <td><%= @name %></td>
  </tr>
  </tbody>
</table>
