<center>
  <h1>Today</h1>
  <p style="color:green;font-size:250px;line-height: 200px;">
    <%= @today_stats %>
  </p>
</center>

<center>
  <h1>Yesterday</h1>
  <p style="color:blue;font-size:250px;line-height: 200px;">
    <%= @yesterday_stats %>
  </p>
</center>

<center>
  <h1>The Day Before That</h1>
  <p style="color:purple;font-size:250px;line-height: 200px;">
    <%= @day_before_stats %>
  </p>
</center>
