img width=120 src='https://s3.amazonaws.com/assets.hellobar.com/hellobar-logonew.png'
h2 Your CSV export is ready
p All contacts from '#{ @contact_list.name }' have been exported to CSV.
p See attached zip file.
