<html>
<body style="padding: 20px">
<style>
  body {
    margin: 0 0;
    padding: 0 0;
  }

  p {

    font-family: Arial, sans-serif;
  }

  div {

    font-family: Arial, sans-serif;
  }

  ol {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
  }

  ul {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
  }

  li {
    margin-left: 30px;
  }

  a {
    color: #eb593c;
  }

  a:active {
    color: #70C1D7;
  }

  a:visited {
    color: #eb593c;
  }
</style>

<div class="content"><%= yield %></div>
<br>
<div class="footer">
  <p>
    --<br>
    Best regards,<br>
    Hello Bar Team
  </p>
  <p><a href="http://www.hellobar.com/">http://www.hellobar.com/</a></p>
  <p>support@hellobar.com</p></div>
<br><br>
<p></p>
<p align="center">
  <small>This email was sent to <%= message.to.first %>.</small>
</p>
</body>
</html>
